{% extends "base.twig" %}

{% block content %}
    <h1>TU si</h1>
    {% include 'blocks/page-header.twig' %}

    {% for post in posts %}

        {% include "blocks/content.twig" with {post: post}  %}

    {% endfor %}

{% endblock %}

{% block sidebar %}

    {% include "blocks/sidebar.twig" %}

{% endblock %}