{% extends "templates/base.twig" %}

{% block content %}
    <!-- Main content start -->
    <main>
        <section class="section section--cover section--pages" style="background: url({{ options.image_cdn }}/images/optimized/pages-swamp.jpg) no-repeat center center fixed;">
            <div class="kroko kroko--animate" style="background-image: url('{{ options.image_cdn }}/images/optimized/kroko_sprite.png');">
                {% if post.meta('pages_messages_repeater') %}
                    <div class="speech-bubble-wrapper">
                        <div class="speech-bubble">
                            <div class="speech-bubble__top"></div>
                            <div class="speech-bubble__mid">
                                <p class="speech-bubble__title"></p>
                                <p class="speech-bubble__subtitle"></p>
                            </div>
                            <div class="speech-bubble__bottom"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="section--pages__content">
                <div class="content-inner">
                    {{ post.content }}
                </div>
            </div>
        </section>
    </main>
    <!-- Main content end -->
{% endblock %}



{% block scripts %}
    <script type="text/javascript">

        $( document ).ready(function() {
            let krokoMessage = [
                {% if post.meta('pages_messages_repeater') %}
                {% for message in post.meta('pages_messages_repeater') %}
                {
                    title: '{{ message.title }}',
                    subtitle: '{{ message.subtitle }}'
                },
                {% endfor %}
                {% endif %}
            ];

            let randMessage = krokoMessage[(Math.random() * krokoMessage.length) | 0];

            $('.speech-bubble__title').text(randMessage.title);
            $('.speech-bubble__subtitle').text(randMessage.subtitle);
        });

    </script>
{% endblock %}