{% extends "templates/base.twig" %}

{% block style %}
    <style>
        .category--news { background-color: {{ novosti.cat_color }}; }
        .category--test { background-color: {{ test.cat_color }}; }
        .category--used { background-color: {{ rabljeni.cat_color }}; }
        .category--research { background-color: {{ istrazivanje.cat_color }}; }
        .category--garage { background-color: {{ garaza.cat_color }}; }
        .category--sport { background-color: {{ sport.cat_color }}; }
        .category--eko { background-color: {{ eko_buducnost.cat_color }}; }
        .category--travels { background-color: {{ putopis.cat_color }}; }
    </style>
{% endblock %}

{% block content %}
    <div class="container container--1344" style="margin-bottom: 100px">
        <div class="content-wrapper content-wrapper--homepage">
            <div class="main-content">

                {# Section news #}
                <section class="content-section">
                    <div class="content-section__bottom">
                        <div class="articles-container">
                            {% for key, post in posts %}
                                {% if key < 2 %}
                                    <article class="article article--v3">
                                        <a class="article__link" href="{{ post.link }}">
                                        <span class="img-wrapper">
                                            <img class="img img--article img--article--v3" src="{{ post.thumbnail.src|resize(736, 404) }}" alt="">
                                        </span>
                                            <span class="category category--article" style="background-color: {{ novosti.cat_color }}">
                                            <span class="category__title">{{ post.terms('category')[0] }}</span>
                                        </span>
                                            <h2 class="title title--article">{{ post.title }}</h2>
                                            <p class="description description--article">{{ post.post_subtitle|excerpt(24) }}</p>
                                        </a>
                                    </article>
                                {% elseif key <= 3 %}
                                    <article class="article article--v2">
                                        <a class="article__link" href="{{ post.link }}">
                                            <img class="img img--article" src="{{ post.thumbnail.src|resize(736, 404) }}" alt="">
                                            <span class="category category--article" style="background-color: {{ garaza.cat_color }}">
                                                    <span class="category__title">{{ post.terms('category')[0] }}</span>
                                                </span>
                                            <h2 class="title title--article">{{ post.title }}</h2>
                                        </a>
                                    </article>
                                {% else %}
                                    <article class="article article--v1">
                                        <a class="article__link" href="{{ post.link }}">
                                            <picture>
                                                <source media="(min-width: 376px)" srcset="{{ post.thumbnail.src|resize(340, 404) }}">
                                                <source media="(max-width: 375px)" srcset="{{ post.thumbnail.src|resize(736, 404) }}">
                                                <img class="img img--article" src="{{ post.thumbnail.src|resize(340, 404) }}" alt="">
                                            </picture>
                                            <span class="category category--article" style="background-color: {{ garaza.cat_color }}">
                                            <span class="category__title">{{ post.terms('category')[0] }}</span>
                                        </span>
                                            <h2 class="title title--article">{{ post.title }}</h2>
                                        </a>
                                    </article>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </section>

            </div>
            <aside class="sidebar">
                <div class="sidebar__item">
                    <div class="sidebar-list sidebar-list--most-popular">
                        <div class="sidebar-list__top">
                            <a class="s-btn s-btn--normal s-btn--active" href="#" data-period="w">Tjedno</a>
                            <a class="s-btn s-btn--normal" href="#" data-period="m">Mjesečno</a>
                            <a class="s-btn s-btn--normal" href="#" data-period="y">Godišnje</a>
                        </div>
                        <div class="sidebar-list__content">
                            <ul class="lists lists--numbers">
                                {% for key, topweekposts in rand_posts %}
                                    <li class="list">
                                        <a class="list__link" href="{{ topweekposts.link }}">
                                            <img src="{{ topweekposts.thumbnail.src|resize(50, 50) }}" class="50px" height="50px"  alt="">
                                            <span class="meta meta--list">
                                            <span class="title title--list">{{ topweekposts.title }}</span>
                                            <span class="cd">
                                                <span class="cd__c">{{ topweekposts.terms('category')[0] }} </span>
                                                <span class="cd__s">&#xb7;</span>
                                                <span class="cd__d">{{ topweekposts.date }}</span>
                                            </span>
                                        </span>
                                            <span class="number number--list">
                                            {{ key + 1 }}
                                        </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sidebar__item">
                    <div class="sidebar-list sidebar-list--newest">
                        <div class="sidebar-list__top">
                            <span class="title title--sidebar">Najnovije</span>
                        </div>
                        <div class="sidebar-list__content">
                            <ul class="lists lists--numbers">
                                {% for latestPost in latest_posts %}
                                    <li class="list">
                                        <a class="list__link" href="{{ latestPost.link }}">
                                            <img src="{{ latestPost.thumbnail.src|resize(50, 50) }}" class="50px" height="50px"  alt="">
                                            <span class="meta meta--list">
                                    <span class="title title--list">{{ latestPost.title }}</span>
                                    <span class="cd">
                                        <span class="cd__c">{{ latestPost.terms('category')[0] }} </span>
                                        <span class="cd__s">&#xb7;</span>
                                        <span class="cd__d">{{ latestPost.date }}</span>
                                    </span>
                                </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sidebar__item">
                    <div class="sidebar-list sidebar-list--featured">
                        <div class="sidebar-list__top">
                            <span class="title title--sidebar">Izdvojeno</span>
                        </div>
                        <div class="sidebar-list__content">
                            <ul class="lists lists--numbers">
                                {% for izPost in izdvojeno_posts %}
                                    <li class="list">
                                        <a class="list__link" href="{{ izPost.link }}">
                                            <img src="{{ izPost.thumbnail.src|resize(50, 50) }}" class="50px" height="50px"  alt="">
                                            <span class="meta meta--list">
                                    <span class="title title--list">{{ izPost.title }}</span>
                                    <span class="cd">
                                        <span class="cd__c">{{ izPost.terms('category')[0] }} </span>
                                        <span class="cd__s">&#xb7;</span>
                                        <span class="cd__d">{{ izPost.date }}</span>
                                    </span>
                                </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}