<!-- Header start -->
<header class="header header--main header--homepage">

    <!-- App logo start -->
    <div class="logo logo--homepage">
        <a href="{{ site.url }}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 640 265">
                <path class="logo--bubble" fill="#ffcd31" d="M94.444,79.202c-7.58,6.846-7.487,17.95-3.739,26.016c3.748,8.063,10.78,16.426,26.843,14.045
                c20.426-3.032,30.592-8.083,38.637-13.533c8.046-5.451,9.59-13.041,1.944-24.063c-7.646-11.022-15.607-14.314-34.34-12.398
                C110.805,70.598,100.509,73.731,94.444,79.202z"/>
                <g class="logo--www" fill="#ffffff">
                <path d="M114.07,90.205l-2.716,11.311l-2.995,0.493l-3.172-5.59l-1.181,6.306l-2.977,0.484l-5.562-9.776l4.13-1.293
                l2.827,6.093l1.237-6.528l2.8-0.456l3.116,5.821l1.004-6.715L114.07,90.205z"/>
                <path d="M131.863,87.303l-2.716,11.31l-2.995,0.493l-3.171-5.59l-1.182,6.308l-2.976,0.482l-5.553-9.767
                l4.129-1.293l2.828,6.093l1.237-6.529l2.799-0.456l3.116,5.822l1.004-6.715L131.863,87.303L131.863,87.303z"/>
                <path d="M149.647,84.4l-2.716,11.312l-2.995,0.493l-3.172-5.592l-1.181,6.308l-2.977,0.482l-5.553-9.766l4.13-1.293
                l2.828,6.092l1.237-6.528l2.8-0.456l3.116,5.822l1.005-6.716L149.647,84.4z M155.609,92.437c0.093,0.577-0.019,1.079-0.325,1.518
                c-0.316,0.437-0.753,0.696-1.33,0.79c-0.577,0.093-1.088-0.01-1.535-0.316c-0.447-0.307-0.716-0.725-0.81-1.273
                c-0.102-0.613,0.009-1.152,0.326-1.601c0.316-0.446,0.781-0.726,1.405-0.827c0.521-0.099,1.059,0.03,1.479,0.354
                C155.247,91.404,155.516,91.86,155.609,92.437L155.609,92.437z"/>
                </g>
                <path class="logo--letters" fill="#a3f3d4" d="M138.923,129.781c-1.442-1.691-3.498-2.575-5.841-2.558h-0.065c-2.427,0.148-4.446,0.93-5.859,2.428
                l-0.019,0.02l-0.019,0.019c-1.451,1.685-2.158,3.869-2.148,6.381v35.856c-0.009,2.511,0.698,4.688,2.148,6.371l0.019,0.019
                l0.019,0.02c1.507,1.608,3.553,2.437,5.878,2.437h0.121c2.428-0.147,4.446-0.93,5.86-2.437l0.019-0.02l0.019-0.019
                c1.451-1.685,2.158-3.869,2.149-6.371v-35.895C141.118,133.493,140.392,131.344,138.923,129.781L138.923,129.781z M399.516,129.792
                c-1.441-1.693-3.496-2.577-5.832-2.56h-0.064c-2.428,0.149-4.443,0.931-5.857,2.428l-0.021,0.02l-0.018,0.02
                c-1.451,1.684-2.158,3.869-2.148,6.38v35.856c-0.01,2.512,0.697,4.688,2.148,6.381l0.018,0.02l0.021,0.019
                c1.506,1.609,3.553,2.438,5.877,2.438h0.111c2.43-0.149,4.445-0.932,5.859-2.438l0.018-0.019l0.021-0.02
                c1.451-1.684,2.158-3.869,2.146-6.381v-35.894C401.721,133.493,400.986,131.344,399.516,129.792L399.516,129.792z M468.484,161.777
                c-1.563-1.563-3.525-2.408-5.674-2.39c-1.721,0-3.395,0.623-4.93,1.775l-3.57,2.521c-1.201,0.771-2.773,1.2-4.801,1.2
                c-3.236-0.141-5.803-1.163-7.869-3.089c-2.158-2.308-3.18-4.827-3.189-7.738c0.074-3.069,1.146-5.571,3.283-7.729
                c2.307-2.167,4.865-3.198,7.859-3.209c2.465,0.011,4.604,0.764,6.557,2.316l0.01,0.009h0.01c2.205,1.685,4.158,2.633,6.02,2.643
                h0.057c2.418-0.148,4.418-0.884,5.84-2.308l0.01-0.009l0.01-0.01c1.506-1.571,2.297-3.534,2.287-5.692v-0.056
                c-0.158-2.586-1.469-4.92-3.729-6.883c-2.418-2.064-5.135-3.655-8.139-4.763h-0.01c-3.068-1.106-6.225-1.655-9.434-1.655h-0.018
                c-7.367,0.064-13.758,2.771-18.967,8.035l-0.008,0.011l-0.01,0.009c-5.199,5.451-7.85,11.869-7.842,19.04v0.019
                c0.131,7.507,2.809,13.989,7.953,19.244c5.271,5.33,11.729,8.046,19.148,8.046h0.066c4.697-0.073,9.385-1.433,14.025-4.046
                l0.01-0.01h-0.01c2.4-1.386,4.242-2.837,5.525-4.418c1.273-1.572,1.973-3.32,1.973-5.134v-0.038
                C470.848,165.145,470.037,163.174,468.484,161.777L468.484,161.777z M192.898,129.855l-0.019-0.027l-0.019-0.027
                c-1.46-1.702-3.525-2.586-5.888-2.576c-1.656,0-3.163,0.418-4.4,1.302c-0.92,0.651-1.674,1.525-2.27,2.604
                c-2.055-1.479-4.083-2.529-6.092-3.115c-2.232-0.735-4.697-1.106-7.385-1.106c-6.464-0.011-12.017,2.464-16.407,7.311
                c-4.344,4.771-6.511,10.816-6.501,17.934c-0.009,6.977,2.204,12.892,6.632,17.523v0.009l0.009,0.01
                c4.53,4.622,10.101,6.977,16.491,6.967h0.028c4.139-0.12,8.027-1.256,11.608-3.366c-0.167,3.088-0.958,5.319-2.251,6.779
                c-1.423,1.618-3.535,2.476-6.632,2.483c-2.642-0.074-4.92-0.781-6.938-2.148c-2.242-1.6-3.711-2.549-4.716-2.947
                c-0.912-0.438-1.991-0.614-3.265-0.614h-0.038c-2.186,0.074-4.102,0.847-5.553,2.307l-0.019,0.02l-0.019,0.019
                c-1.423,1.563-2.177,3.479-2.167,5.553v0.037c0.14,3.879,2.558,7.088,6.762,9.413c4.334,2.493,9.459,3.73,15.31,3.73h0.009
                c8.213-0.065,14.649-2.326,19.077-6.865l0.009-0.009c4.493-4.679,6.688-11.292,6.678-19.646v-34.646
                C194.767,133.827,194.144,131.512,192.898,129.855L192.898,129.855z M176.574,158.411c-1.805,1.785-3.907,2.65-6.558,2.66
                c-2.669-0.14-4.809-1.015-6.604-2.67c-1.786-1.869-2.641-4.018-2.66-6.659c0.14-2.817,1.061-4.947,2.753-6.586
                c1.879-1.805,4-2.66,6.576-2.679c2.744,0.074,4.809,0.977,6.464,2.744l0.009,0.009l0.009,0.01c1.795,1.879,2.66,4.036,2.679,6.688
                C179.16,154.598,178.286,156.69,176.574,158.411z M231.731,143.251c1.86-1.853,2.855-4.141,2.846-6.65v-0.028
                c-0.065-2.696-1.079-5.051-2.958-6.836c-1.926-1.86-4.353-2.827-7.05-2.818c-3.842-0.009-7.432,1.33-10.669,3.926
                c-1.655-2.335-3.99-3.628-6.734-3.609h-0.056c-2.791,0.141-4.986,1.042-6.232,2.884l-0.009,0.011l-0.009,0.009
                c-1.228,1.972-1.749,4.744-1.758,8.371v33.429c-0.009,2.558,0.698,4.753,2.167,6.381c1.395,1.646,3.451,2.476,5.832,2.476h0.121
                c2.437-0.149,4.474-0.932,5.897-2.429l0.019-0.019l0.019-0.02c1.46-1.684,2.177-3.87,2.167-6.381v-23.254
                c0.028-2.073,0.307-3.571,0.716-4.418c0.205-0.428,0.418-0.679,0.623-0.818c0.205-0.139,0.4-0.203,0.707-0.214
                c0.493-0.009,1.265,0.225,2.223,0.811l1.833,1.079l0.028,0.019c1.033,0.512,2.251,0.744,3.627,0.744h0.028
                c2.595-0.065,4.865-0.939,6.595-2.604L231.731,143.251z M269.931,131.42c-3.525-3.721-9.125-5.461-16.603-5.461
                c-5.051,0-9.273,0.855-12.641,2.633l-0.009,0.01l-0.009,0.009c-3.274,1.813-5.19,4.354-5.171,7.396v0.073
                c0.149,1.89,0.698,3.488,1.721,4.68l0.037,0.037l0.037,0.036c1.247,1.173,2.893,1.769,4.716,1.759h0.056l0.056-0.01
                c0.651-0.073,1.33-0.157,2.046-0.27c0.772-0.112,1.59-0.316,2.474-0.614l3.386-0.948l0.019-0.01c0.334-0.11,0.93-0.251,1.749-0.381
                l0.074-0.019l0.075-0.028c0.363-0.121,0.623-0.158,0.735-0.158h0.818c2.186,0.13,3.488,0.688,4.018,1.34l0.009,0.02l0.019,0.019
                c0.53,0.549,0.949,2.734,1.125,4.278c-3.265-1.518-6.39-2.298-9.366-2.298h-0.028c-5.627,0.14-10.315,2.01-13.822,5.6
                c-3.646,3.702-5.488,8.427-5.479,13.935v0.026c0.14,5.479,1.888,8.92,5.255,12.427l0.009,0.011
                c3.543,3.627,7.971,5.486,13.059,5.486h0.065c4-0.064,7.896-1.45,11.626-4.083c1.646,2.492,4.037,3.897,6.864,3.869h0.019
                c2.642-0.027,4.846-0.958,6.269-2.8c1.414-1.842,2.037-4.409,2.037-7.636v-21.71C275.037,140.785,273.382,135.019,269.931,131.42
                L269.931,131.42z M257.811,166.373c-1.33,1.246-2.836,1.842-4.743,1.859c-2.307-0.157-3.916-0.846-5.042-1.962
                c-1.321-1.33-1.953-2.911-1.972-5.014c0.009-2.121,0.623-3.655,1.841-4.894c1.442-1.423,2.986-2.074,4.874-2.093
                c2.186,0.093,3.702,0.772,4.865,2.047l0.019,0.02l0.019,0.026c1.312,1.321,1.953,2.939,1.972,5.136
                C259.634,163.601,259.03,165.136,257.811,166.373L257.811,166.373z M304.837,126.908h-0.018c-7.767,0.14-14.362,2.864-19.533,8.129
                c-5.255,5.32-7.916,11.868-7.906,19.439v0.009c0.065,7.497,2.771,13.887,8.036,18.919c5.311,5.106,11.877,7.692,19.495,7.692h0.066
                c7.485-0.141,13.914-2.753,19.096-7.804l0.008-0.011c5.256-5.235,7.926-11.617,7.916-18.919c0.01-7.636-2.65-14.192-7.916-19.438
                C318.762,129.604,312.27,126.897,304.837,126.908L304.837,126.908z M314.141,163.136c-2.615,2.502-5.609,3.702-9.246,3.721
                c-3.935-0.168-7.051-1.404-9.562-3.729c-2.697-2.613-3.962-5.487-3.972-8.883c0.093-3.963,1.405-7.098,3.99-9.674
                c2.707-2.669,5.786-3.953,9.506-3.962c3.822,0.093,6.799,1.386,9.236,3.936l0.008,0.009c2.604,2.679,3.871,5.775,3.879,9.553
                C317.973,157.714,316.735,160.624,314.141,163.136L314.141,163.136z M421.066,163.685c-1.99-1.926-4.445-2.939-7.162-2.93h-0.027
                c-2.883,0.063-5.377,1.061-7.256,2.947c-1.941,1.927-2.945,4.399-2.938,7.171v0.028c0.064,2.827,1.061,5.302,2.93,7.236l0.018,0.019
                l0.012,0.011c1.988,1.925,4.465,2.93,7.227,2.93h0.066c2.873-0.065,5.338-1.051,7.15-2.948c2-1.991,3.053-4.493,3.041-7.273v-0.057
                C423.988,167.944,422.965,165.498,421.066,163.685L421.066,163.685z M357.771,126.908h-0.018c-6.996,0.14-12.771,2.548-17.059,7.208
                c-4.363,4.79-6.529,10.967-6.529,18.352v19.468c-0.01,2.567,0.697,4.753,2.176,6.381c1.395,1.637,3.441,2.465,5.822,2.465h0.121
                c2.438-0.147,4.475-0.93,5.896-2.428l0.02-0.019l0.018-0.02c1.461-1.684,2.168-3.869,2.168-6.381v-20.807
                c0.139-2.567,0.865-4.475,2.139-5.889c1.518-1.507,3.219-2.214,5.35-2.223c2.643,0.056,4.381,0.921,5.646,2.66
                c1.256,1.758,1.973,4.576,1.973,8.481v17.774c-0.01,2.512,0.707,4.697,2.166,6.381l0.02,0.019l0.018,0.02
                c1.535,1.618,3.609,2.438,5.963,2.428h0.064c2.373-0.147,4.373-0.938,5.787-2.428l0.018-0.02l0.02-0.019
                c1.459-1.684,2.178-3.869,2.166-6.381v-19.039c0.012-7.525-2.193-13.813-6.631-18.668
                C370.645,129.354,364.785,126.897,357.771,126.908L357.771,126.908z M516.07,148.645c-0.148-7.851-1.805-13.626-5.256-17.226
                l0.01,0.009c-3.523-3.721-9.135-5.47-16.611-5.47c-5.051,0-9.271,0.855-12.641,2.633l-0.01,0.01l-0.01,0.009
                c-3.273,1.813-5.189,4.354-5.172,7.396v0.073c0.148,1.89,0.697,3.488,1.721,4.68l0.037,0.047l0.037,0.037
                c1.248,1.172,2.893,1.767,4.717,1.758h0.055l0.057-0.01c0.65-0.074,1.33-0.158,2.049-0.271c0.77-0.111,1.59-0.315,2.473-0.613
                l3.387-0.948l0.018-0.01c0.326-0.111,0.932-0.252,1.75-0.382l0.074-0.019l0.074-0.028c0.363-0.12,0.623-0.158,0.734-0.158h0.816
                c2.195,0.131,3.488,0.688,4.021,1.34l0.008,0.02l0.02,0.019c0.529,0.55,0.949,2.734,1.125,4.278
                c-3.264-1.516-6.391-2.297-9.365-2.297h-0.029c-5.627,0.14-10.313,2-13.82,5.59c-3.645,3.702-5.486,8.427-5.479,13.934v0.027
                c0.139,5.479,1.887,8.92,5.254,12.427l0.01,0.011c3.543,3.627,7.973,5.486,13.061,5.486h0.063c4-0.064,7.898-1.45,11.627-4.073
                c1.646,2.492,4.037,3.896,6.865,3.868h0.018c2.645-0.019,4.848-0.958,6.271-2.799c1.414-1.842,2.037-4.398,2.037-7.637v-21.69
                L516.07,148.645L516.07,148.645z M498.695,166.373c-1.33,1.246-2.838,1.842-4.744,1.859c-2.307-0.157-3.916-0.837-5.041-1.962
                c-1.318-1.33-1.953-2.911-1.973-5.014c0.01-2.121,0.625-3.655,1.842-4.894c1.443-1.423,2.986-2.074,4.875-2.093
                c2.188,0.093,3.701,0.772,4.863,2.047l0.02,0.027l0.021,0.019c1.311,1.321,1.953,2.939,1.971,5.136
                C500.518,163.601,499.914,165.136,498.695,166.373L498.695,166.373z"/>
                <g class="logo--highlights" fill="#ffffff">
                <path d="M137.89,132.488c0,0-1.525-2.716-4.483-2.716c-2.307,0-4.967,1.822-5.265,3.524
                c-0.493,2.763-0.716,20.668-0.716,20.668s1.302-17.691,2.753-19.971C132.44,130.441,137.89,132.488,137.89,132.488L137.89,132.488z
                M398.428,132.629c0,0-1.479-2.643-4.354-2.643c-2.24,0-4.818,1.768-5.105,3.413c-0.475,2.688-0.697,20.063-0.697,20.063
                s1.264-17.171,2.668-19.375C393.135,130.637,398.428,132.629,398.428,132.629L398.428,132.629z M453.752,130.759
                c0,0-9.061-2.995-17.291,2.67c-7.748,5.339-9.785,15.941-9.785,15.941s5.219-9.72,11.85-14.055
                C445.734,130.609,453.752,130.759,453.752,130.759z M172.1,130.47c0,0-8.79-2.418-16.361,3.395
                c-7.134,5.471-8.557,15.684-8.557,15.684s4.502-9.534,10.613-13.98C164.446,130.713,172.1,130.47,172.1,130.47L172.1,130.47z
                M210.84,131.121c0,0-1.19-1.357-3.823-1.357c-2.056,0-4.334,1.357-4.66,3.524c-0.372,2.475-0.949,18.474-0.949,18.474
                s1.944-15.563,3.228-17.58C206.645,131.019,210.84,131.121,210.84,131.121z M216.812,132.675c0,0,0.056-2.801,5.562-3.729
                c3.386-0.566,5.785,0.902,5.785,0.902s-2.288-0.567-5.413,0.074C220.225,130.441,216.812,132.675,216.812,132.675L216.812,132.675z
                M237.767,136.534c0,0-0.847-3.665,4.083-6.511c4.223-2.438,12.771-2.502,12.771-2.502s-7.479,1.376-11.311,3.516
                C240.297,132.729,237.767,136.534,237.767,136.534z M234.586,156.188c0,0,1.051-6.445,8.706-9.105
                c7.153-2.482,12.492,0.158,12.492,0.158s-5.944-3.005-14.826,2.985C237.488,152.561,234.586,156.188,234.586,156.188
                L234.586,156.188z M281.911,148.151c0,0-0.148-8.297,10.771-15.143c7.748-4.855,17.217-2.02,17.217-2.02s-10.874-1.6-20.146,8.093
                C285.111,143.929,281.911,148.151,281.911,148.151z M338.156,149.695c0,0,0.789-8.762,5.598-13.522
                c5.014-4.958,10.883-6.187,15.451-6.074c4.566,0.111,8.426,1.87,8.426,1.87s-3.367-0.996-8.809-0.754
                c-4.52,0.194-8.064,1.702-12.193,5.832C343.299,140.366,338.156,149.695,338.156,149.695L338.156,149.695z M479.088,136.126
                c0,0-0.641-3.702,4.428-6.278c4.344-2.205,12.891-1.805,12.891-1.805s-7.543,0.968-11.486,2.901
                C481.813,132.47,479.088,136.126,479.088,136.126L479.088,136.126z M474.93,156.857c0,0,1.053-6.445,8.707-9.104
                c7.152-2.483,12.492,0.156,12.492,0.156s-5.945-3.014-14.826,2.978C477.832,153.229,474.93,156.857,474.93,156.857z"/>
                </g>
            </svg>
        </a>
    </div>
    <!-- App logo end-->

    <!-- Main Menu start -->
    <div class="js-open-main-menu header__main-menu">
        <div class="main-menu-content" style="background: url({{ options.image_cdn }}/images/optimized/main-menu-background.png) no-repeat bottom;">
            <div class="skew">
                <ul>
                    {% for item in main_menu.items %}
                    <li class="{{ item.classes|join(' ') }}"><a href="{{ item.get_link }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <img class="btn btn--image btn--menu" src="{{ options.image_cdn }}/images/optimized/buttons/button-menu.svg">
        <img class="btn btn--image btn--close" src="{{ options.image_cdn }}/images/optimized/buttons/button-close.svg">
    </div>
    <!-- Main Menu end -->

</header>
<!-- Header end -->