.kroko { 
    background-repeat: no-repeat;
    background-position: 0 0; 
    height: calc(48000vw / 1920); 
    width: calc(50800vw / 1920);     
    position: absolute;
    left: calc(15000vw / 1920);
    bottom: calc(14000vw / 1920);
    background-size: calc(27 * 50800vw / 1920) calc(48000vw / 1920);
    z-index: 1;
    &.kroko--animate {
      animation: sprite 2.5s steps(26, end) infinite;
    }
    &:after {
        content: '';
        display: block;
        width: 20vw;
        height: 2vw;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.2);
        position: absolute;
        bottom: 0.5vw;
        left: 2vw;
        transform: rotate(15deg);
        z-index: -1;
    }
    .speech-bubble-wrapper {
        top: calc(-18000vw / 1920);
        left: calc(20000vw / 1920);
    }
}

.section {
    &--cover {
        background-size: cover !important;
    }
    &--pages {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        &__content {
            max-width: 640px;
            border-radius: 30px;
            border: 2px solid #175b48;
            background-color: rgba(93, 196, 163, 0.41);
            margin-top: 10vh;
            .content-inner {
                margin: 45px 20px 45px 55px;
                padding: 0 35px 0 0;
                max-height: 65vh;
                overflow: auto;
                color: #ffffff;

                &::-webkit-scrollbar {
                    width: 8px;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: #175b48;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #5dc4a3;
                    border-radius: 4px;
                }

                :first-child {
                    margin-top: 0 !important;
                }

                :last-child {
                    margin-bottom: 0 !important;
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-family: 'Caveat Brush', cursive;
                }

                h1 {
                    font-size: 48px;
                    line-height: 42px;
                    color: white;
                }
                h2 {
                    font-size: 36px;
                    line-height: 32px;
                    color: #a3f3d4;
                }
                h3 {
                    font-size: 32px;
                    line-height: 42px;
                    color: #a3f3d4;
                }
                h4 {
                    font-size: 28px;
                    line-height: 28px;
                    color: #a3f3d4;
                }
                h5 {
                    font-size: 24px;
                    line-height: 34px;
                    color: #a3f3d4;
                }
                h6 {
                    font-size: 18px;
                    line-height: 28px;
                    color: #a3f3d4;
                }

                p {
                    font-family: 'Gotham Rounded Book';
                    @include fontSize(18);
                    @include lineHeight(30, 18);
                    color: #ffffff;
                    a {
                        position: relative;
                        color: #ffffff;
                        text-decoration: none;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -2px;
                            height: 25px;
                            width: 100%;
                            background-color: #ab1300;
                            z-index: -1;
                        }
                    }
                }


            }
        }
    }
    &--inline { display: flex; }
    &--width { width: 700vw; }
}

@media (max-aspect-ratio: 1920/1380) {
    .kroko { 
        display: none;
    }
    .section {
        &--pages {
            &__content {
                max-width: 90vw;
                border-radius: 3vh;
                margin-top: 0;
                .content-inner {
                    margin: 20px 20px 20px 26px;
                    padding: 0 15px 0 0;
                    max-height: 65vh;
                    overflow-x: hidden;
                    p {
                        font-family: 'Gotham Rounded Book';
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}






// NAMJERNO ISKLJUČENO
    
//     &--timelines { background-image: linear-gradient(#5289C8, #41DAE5, #90F1FF, #DDFFFF); }
//     &--timeline {
//         width: 100vw;
//         height: 100vh;
//         display: flex;
//         margin-top: 150px;
//         justify-content: center;
//         @media screen and (min-device-width : 1181px) and  (max-width: 1440px) {

//         }
//         @media screen and (min-device-width : 961px) and  (max-width: 1180px) {

//         }
//         @media screen and (min-device-width : 661px) and  (max-width: 960px) {

//         }
//         @media screen and (min-device-width : 481px) and  (max-width: 660px) {

//         }
//         @media screen and (max-width: 480px) {

//         }
//     }
//     .section--timeline__content {
//         width: 70vw;
//         height: 35vh;
//         min-height: 450px;
//         //padding: 30px 0;
//         background-color: rgba(255, 255, 255, 0.2);
//         border-radius: 20px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         z-index: 9;
//         .timeline-content {
//             &--left {
//                 width: 40%;
//                 padding-right: 100px;
//                 text-align: right;
//             }
//             &--right {
//                 width: 40%;
//                 text-align: left;
//             }
//             &__year {
//                 margin: 0;
//                 //font-family: 'Caveat Brush', cursive;
//                 font-family: 'Mogra', cursive;
//                 @include fontSize(150);
//                 @include lineHeight(150, 150);
//                 color: #f21d54;
//                 text-shadow:
//                         -4px -4px 0 #fff,
//                         4px -4px 0 #fff,
//                         -4px 4px 0 #fff,
//                         4px 4px 0 #fff;
//                 //-webkit-text-stroke: 4px white;
//                 @media screen and (min-device-width : 1181px) and  (max-width: 1440px) {
//                     @include fontSize(100);
//                     @include lineHeight(100, 100);
//                 }
//                 @media screen and (min-device-width : 961px) and  (max-width: 1180px) {

//                 }
//                 @media screen and (min-device-width : 661px) and  (max-width: 960px) {

//                 }
//                 @media screen and (min-device-width : 481px) and  (max-width: 660px) {

//                 }
//                 @media screen and (max-width: 480px) {

//                 }
//             }
//             &__content {
//                 p {
//                     font-family: 'Gotham Rounded Book';
//                     @include fontSize(18);
//                     @include lineHeight(30, 18);
//                     color: #125b77;
//                 }
//             }
//             &__image {
//                 width: 100%;
//                 @media screen and (min-device-width : 1181px) and  (max-width: 1440px) {

//                 }
//                 @media screen and (min-device-width : 961px) and  (max-width: 1180px) {

//                 }
//                 @media screen and (min-device-width : 661px) and  (max-width: 960px) {

//                 }
//                 @media screen and (min-device-width : 481px) and  (max-width: 660px) {

//                 }
//                 @media screen and (max-width: 480px) {

//                 }
//             }
//         }
//     }
//     &--timeline-1931 {
//         position: relative;
//         .timemachine-cloud {
//             position: absolute;
//             &--one {
//                 //left: 35vw;
//                 bottom: 520px;
//                 z-index: 6;
//             }
//             &--two {
//                 //right: 20vw;
//                 bottom: 660px;
//                 z-index: 6;
//                 transform: scale(1.3)
//             }
//         }
//     }
//     &--timeline-1956 {
//         position: relative;
//     }
//     &--timeline-60 {
//         position: relative;
//     }
//     &--timeline-70 {
//         position: relative;
//     }
//     &--timeline-80 {
//         position: relative;
//     }
//     &--timeline-1994 {
//         position: relative;
//     }
//     &--timeline-2008 {
//         position: relative;
//     }

// }

// .timemachine__tlo {
//     position: absolute;
//     left: 0;
//     bottom: 150px;
//     width: 700vw;
//     height: 129px;
//     z-index: 7;
// }


// .timemachine {
//     &__mountains01 {
//         position: absolute;
//         width: 700vw;
//         height: 271px;
//         bottom: 124px;
//         z-index: 5;
//     }
//     &__mountains02 {
//         position: absolute;
//         width: 700vw;
//         height: 228px;
//         bottom: 185px;
//         z-index: 5;
//     }
//     &__mountains03 {
//         position: absolute;
//         width: 700vw;
//         height: 282px;
//         bottom: 139px;
//         z-index: 5;
//     }

//     &__tree-one {
//         position: absolute;
//         right: 400px;
//         bottom: 260px;
//         width: 411px;
//         height: 424px;
//         z-index: 7;
//         @media screen and (min-device-width : 1181px) and  (max-width: 1440px) {
//             bottom: 194px;
//             transform: scale(0.6);
//         }
//         @media screen and (min-device-width : 961px) and  (max-width: 1180px) {

//         }
//         @media screen and (min-device-width : 661px) and  (max-width: 960px) {

//         }
//         @media screen and (min-device-width : 481px) and  (max-width: 660px) {

//         }
//         @media screen and (max-width: 480px) {

//         }
//     }
//     &__tree-two {
//         position: absolute;
//         left: 150px;
//         bottom: 260px;
//         width: 312px;
//         height: 374px;
//         z-index: 7;
//         @media screen and (min-device-width : 1181px) and  (max-width: 1440px) {
//             bottom: 194px;
//             transform: scale(0.6);
//         }
//         @media screen and (min-device-width : 961px) and  (max-width: 1180px) {

//         }
//         @media screen and (min-device-width : 661px) and  (max-width: 960px) {

//         }
//         @media screen and (min-device-width : 481px) and  (max-width: 660px) {

//         }
//         @media screen and (max-width: 480px) {

//         }
//     }
//     &__tree-three {
//         position: absolute;
//         right: 100px;
//         bottom: 260px;
//         width: 404px;
//         height: 365px;
//         z-index: 7;
//     }
//     &__small-mountain {
//         position: absolute;
//         left: 700px;
//         bottom: 260px;
//         width: 213px;
//         height: 120px;
//         z-index: 6;
//     }
//     &__bush {
//         position: absolute;
//         left: 300px;
//         bottom: 260px;
//         width: 463px;
//         height: 97px;
//         z-index: 6;
//     }

//     &__stone-one {
//         position: absolute;
//         left: 40vw;
//         bottom: 260px;
//         width: 114px;
//         height: 56px;
//         z-index: 7;
//     }
//     &__stone-two {
//         position: absolute;
//         right: 300px;
//         bottom: 260px;
//         width: 139px;
//         height: 78px;
//         z-index: 7;
//     }
//     &__stone-three {
//         position: absolute;
//         right: 40vw;
//         bottom: 260px;
//         width: 111px;
//         height: 67px;
//         z-index: 7;
//     }

