.tm-timeline {
	.timeline-behind-text {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-image: linear-gradient(#5289C8, #41DAE5, #90F1FF, #DDFFFF);
	}
	.tlo, .planine-1, .planine-2, .planine-3 {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 400vw;
	}
	.tlo {
		height: calc(12900vw / 1920);
		background-repeat: repeat-x;
		background-size: calc(76000vw / 1920) calc(12900vw / 1920);
	}
	.planine-1 {
		bottom: 6vw;
		height: calc(27500vw / 1920);
		background-repeat: repeat-x;
		background-size: calc(76000vw / 1920) calc(27500vw / 1920);
	}
	.planine-2 {
		bottom: 4vw;
		height: calc(28400vw / 1920);
		background-repeat: repeat-x;
		background-size: calc(92100vw / 1920) calc(28400vw / 1920);
	}
	.planine-3 {
		bottom: 3vw;
		height: calc(27200vw / 1920);
		background-repeat: repeat-x;
		background-size: calc(76000vw / 1920) calc(27200vw / 1920);
	}
	.tree-1 {
		position: fixed;
		width: calc(41100vw / 1920);
		height: calc(42400vw / 1920);
		bottom: calc(11000vw / 1920);
		left: 70vw;
	}
	.tree-2 {
		position: fixed;
		width: calc(31200vw / 1920);
		height: calc(37400vw / 1920);
		bottom: calc(11000vw / 1920);
		left: 120vw;
	}
	.tree-3 {
		position: fixed;
		width: calc(40400vw / 1920);
		height: calc(36500vw / 1920);
		bottom: calc(11000vw / 1920);
		left: 120vw;
	}
	.bush {
		position: fixed;
		width: calc(46300vw / 1920);
		height: calc(9700vw / 1920);
		bottom: calc(11000vw / 1920);
		left: 120vw;
	}
	.stone-1 {
		position: fixed;
		width: calc(11400vw / 1920);
		height: calc(5600vw / 1920);
		bottom: calc(11000vw / 1920);
		left: 120vw;
	}
	.stone-2 {
		position: fixed;
		width: calc(13900vw / 1920);
		height: calc(7800vw / 1920);
		bottom: calc(11000vw / 1920);
		left: 120vw;
	}
	.stone-3 {
		position: fixed;
		width: calc(21300vw / 1920);
		height: calc(12000vw / 1920);
		bottom: calc(11000vw / 1920);
		left: 5vw;
	}
	.stone-4 {
		position: fixed;
		width: calc(11100vw / 1920);
		height: calc(6700vw / 1920);
		bottom: calc(11000vw / 1920);
		left: 120vw;
	}
}

.timeline-text-sections {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	section {
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		div {
			position: absolute;
			top: 20vh;
			left: 20vw;
			width: 60vw;
			height: 40vh;
			background-color: rgba(255,255,255,0.5);
			border-radius: 3vw;
			text-align: right;
		}
		h3 {
			position: absolute;
			top: 0;
			left: 3vw;
			width: 24vw;
			font-family: 'Mogra', cursive;
			font-size: calc(10000vw / 1920);
			line-height: calc(1500vw / 1920);
            color: #f21d54;
            text-shadow:
                    -2px -2px 0 #fff,
                     2px -2px 0 #fff,
                    -2px  2px 0 #fff,
                     2px  2px 0 #fff;
		}
		p {
			position: absolute;
			top: 8vw;
			left: 3vw;
			width: 24vw;
			font-family: 'Gotham Rounded Book';
			font-size: calc(2400vw / 1920);
			line-height: calc(2400vw / 1920);
			color: #125b77;
		}
		img {
			position: absolute;
			top: 4vw;
			right: 3vw;
			width: 27vw;
			height: auto;
		}
	}
}

.timeline-anchor-nav {
	position: fixed;
	bottom: 1vw;
	width: 100vw;
	text-align: center;
    a {
    	font-family: 'Gotham Rounded Book', sans-serif;
    	font-size: calc(1600vw / 1920);
    	display: inline-block;
        margin: calc(1500vw / 1920);
        padding: calc(1000vw / 1920) calc(1500vw / 1920);
        color: #fff;
        background-color: #a1b530;
        border-radius: calc(500vw / 1920);
        text-decoration: none;
    }
    a.active {
        background-color: #f21d54;
    }
}

.panda {
	position: fixed;
	left: calc( 11000vw / 1920 );
	bottom: calc( 6000vw / 1920 );
	height: calc( 49200vw / 1920 );
	width: calc( 24100vw / 1920 );
	background-size: calc(289200vw / 1920) calc(49200vw / 1920);
}

.panda.flip {
	transform: scaleX(-1);
	filter: FlipH;
}

.panda.hoda {
	animation: sprite 1s steps(11, end) infinite;
}

.cloud-1, .cloud-2 {
	position: fixed;
	width: calc(20800vw / 1920);
	height: calc(9600vw / 1920);
}

.cloud-1 {
	top: 23vw;
	left: calc(-20900vw / 1920);
	animation: lefttoright 60s infinite;
	animation-timing-function: linear;
}

.cloud-2 {
	top: 18vw;
	left: 101vw;
	animation: lefttoright 40s infinite;
	animation-direction: reverse;
	animation-timing-function: linear;
}

@keyframes lefttoright { 
  0% { 
    left: calc(-20900vw / 1920); 
  } 
  100% { 
    left: 101vw;
  } 
}

@media (max-aspect-ratio: 1920/1380) {
	.panda {
		left: auto;
		right: 40vw;
		transform: scale(2);
		transform-origin: center bottom;
	}
	.panda.flip {
		transform: scale(-2,2);
	}
	.timeline-text-sections {
		section {
			div {
				top: 20vh;
				left: 10vw;
				width: 80vw;
				height: 55vh;
				border-radius: 3vh;
				text-align: center;
			}
			h3 {
				position: absolute;
				top: 0;
				left: 3vw;
				width: 74vw;
				font-family: 'Mogra', cursive;
				font-size: 5vh;
				line-height: 5vh;
			}
			p {
				top: 10vh;
				left: 3vw;
				width: 74vw;
				font-size: 2vh;
				line-height: 3vh;
			}
			img {
				position: absolute;
				top: auto;
				bottom: 3vh;
				right: 6vw;
				width: 68vw;
			}
		}
	}
	.timeline-anchor-nav {
		bottom: auto;
		top: 15vh;
	    a {
	    	font-size: 1.8vh;
	    	display: inline-block;
	        margin: 1vw;
	        padding: 1vh 1vw;
	        border-radius: 1vh;
	    }
	}
}