@font-face {
    font-family: 'Candy Shop';
    src: url('subset-CandyShopBlack.woff2') format('woff2'),
        url('subset-CandyShopBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

