<span class="js-info span span--info">
    <img class="img img--open" src="{{ theme.link }}/images/assets/but_info.png">
    <img class="img img--close" src="{{ theme.link }}/images/assets/but_close.png">
</span>
<div class="menu menu--info" style="background: url({{ theme.link }}/images/assets/svitak.png) no-repeat bottom; background-size: 300px 480px;">
    <nav>
        <ul class="menu__row">
            {% for item in footer_menu.items %}
                <li class="menu__list {{ item.classes|join(' ') }}">
                    <a href="{{ item.link }}" class="menu__link">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>