<span class="js-ham span span--ham">
    <img class="img img--open" src="{{ theme.link }}/images/assets/but_menu.png">
    <img class="img img--close" src="{{ theme.link }}/images/assets/but_close.png">
</span>
<div class="menu menu--main" style="background: url({{ theme.link }}/images/assets/svitak-mm.png); background-size: 300px 480px;">
    <nav>
        <ul class="menu__row">
            {% for item in menu.items %}
                <li class="menu__list {{ item.classes|join(' ') }}">
                    <a href="{{ item.link }}"
                       class="menu__link animsition-link"
                       data-animsition-overlay="true"
                       data-animsition-in-class="overlay-slide-in-left"
                       data-animsition-in-duration="1000"
                       data-animsition-out-class="overlay-slide-out-left"
                       data-animsition-out-duration="800">
                        {{ item.title }}
                    </a>
                    {% if item.children %}
                        <div class="sub-menu">
                            <div class="submenu__category-indicator" style="background-color: {{ category.cat_boja }};"></div>
                            <ul class="menu__row">
                                {% for child in item.children %}
                                    <li class="menu__list {{ child.classes|join(' ') }}">
                                        <a class="menu__link" href="{{ child.link }}">{{ child.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>