<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel='stylesheet' href='{{ theme.link }}/dist/fonts/candy-shop/stylesheet.css' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ theme.link }}/dist/fonts/gotham-rounded/stylesheet.css' type='text/css' media='all' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css" />#}
    {{ function('wp_head') }}
    <link rel="shortcut icon" type="image/png" href="{{ theme.link }}/favicon.ico"/>
</head>