/* Full path due to wp-login.php is not in the theme folder */

.login h1 a { /* stylelint-disable-line selector-no-type */
  background-image: url('/wp-content/themes/ams/skin/public/images/logo.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 80%;
  width: 100%;
  height: 37px;
  margin: 0 auto 15px;
}
