<!-- Footer start -->
<footer class="footer footer--main">
    <div class="js-open-second-menu footer__second-menu">
        <div class="second-menu-content" style="background: url({{ options.image_cdn }}/images/optimized/footer-menu-background.png) no-repeat bottom;">
            <nav class="nav nav--second-menu">
                <ul class="menu menu--second-menu">
                    {% for item in footer_menu.items %}
                        <li><a href="{{ item.get_link }}">{{ item.title }}</a></li>
                    {% endfor %}
                    <li>Copyright © Kraš. All rights reserved</li>
                </ul>
            </nav>
        </div>
        <img class="btn btn--image btn--menu" src="{{ options.image_cdn }}/images/optimized/buttons/button-info.svg">
        <img class="btn btn--image btn--close" src="{{ options.image_cdn }}/images/optimized/buttons/button-close.svg">
    </div>
</footer>
<!-- Footer end -->