<div class="sidebar__item">
    <div class="sidebar-list sidebar-list--most-popular">
        <div class="sidebar-list__top">
            <a class="s-btn s-btn--normal s-btn--active" href="#" data-period="w">Novosti</a>
            <a class="s-btn s-btn--normal" href="#" data-period="m">Test</a>
            <a class="s-btn s-btn--normal" href="#" data-period="y">Putopis</a>
        </div>
        <div class="sidebar-list__content">
            <ul class="lists lists--numbers">
                {% for key, topweekposts in rand_posts %}
                    <li class="list">
                        <a class="list__link" href="{{ topweekposts.link }}">
                            <img src="{{ topweekposts.thumbnail.src|resize(50, 50) }}" class="50px" height="50px"  alt="">
                            <span class="meta meta--list">
                                        <span class="title title--list">{{ topweekposts.title }}</span>
                                        <span class="cd">
                                            <span class="cd__c">{{ topweekposts.terms('category')[0] }} </span>
                                            <span class="cd__s">&#xb7;</span>
                                            <span class="cd__d">{{ topweekposts.date }}</span>
                                        </span>
                                    </span>
                            <span class="number number--list">
                                            {{ key + 1 }}
                                    </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<div class="sidebar__item">
    <div class="sidebar-list sidebar-list--featured">
        <div class="sidebar-list__top">
            <span class="title title--sidebar">Izdvojeno</span>
        </div>
        <div class="sidebar-list__content">
            <ul class="lists lists--numbers">
                {% for izPost in izdvojeno_posts %}
                    <li class="list">
                        <a class="list__link" href="{{ izPost.link }}">
                            <img src="{{ izPost.thumbnail.src|resize(50, 50) }}" class="50px" height="50px"  alt="">
                            <span class="meta meta--list">
                                            <span class="title title--list">{{ izPost.title }}</span>
                                            <span class="cd">
                                                <span class="cd__c">{{ izPost.terms('category')[0] }} </span>
                                                <span class="cd__s">&#xb7;</span>
                                                <span class="cd__d">{{ izPost.date }}</span>
                                            </span>
                                        </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% for sidebar_block in options.sidebar_builder %}
    {% if sidebar_block.acf_fc_layout == 'sidebar_newest_posts' %}
        <div class="sidebar__item">
            <div class="sidebar-list sidebar-list--featured">
                <div class="sidebar-list__top">
                    <span class="title title--sidebar">Najnovije</span>
                </div>
                <div class="sidebar-list__content">
                    <ul class="lists lists--numbers">
                        {% for latestPost in latest_posts %}
                            <li class="list">
                                <a class="list__link" href="{{ latestPost.link }}">
                                    <img src="{{ latestPost.thumbnail.src|resize(50, 50) }}" class="50px" height="50px"  alt="">
                                    <span class="meta meta--list">
                                        <span class="title title--list">{{ latestPost.title }}</span>
                                        <span class="cd">
                                            <span class="cd__c">{{ latestPost.terms('category')[0] }} </span>
                                            <span class="cd__s">&#xb7;</span>
                                            <span class="cd__d">{{ latestPost.date }}</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    {% if sidebar_block.acf_fc_layout == 'banner' %}
        <div class="sidebar__item" style="margin-top: 30px; text-align: center;">
            <a href="{{ sidebar_block.url }}" target="_blank">
                <img src="{{ Image(sidebar_block.image).src }}">
            </a>
        </div>
    {% endif %}
{% endfor %}