@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('subset-GothamRounded-Book.woff2') format('woff2'),
        url('subset-GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

