{% extends "templates/base.twig" %}

{% block content %}
    <main class="games">
        <section class="games__wrapper" style="background-image: url({{ options.image_cdn }}/images/optimized/jungle-page-background.jpg);">
            <div class="games__zirafa zirafa" style="background-image: url('{{ options.image_cdn }}/images/optimized/zirafa_sprite.png');"></div>
            <div class="games__container" style="background-image: url({{ options.image_cdn }}/images/optimized/games/gameboard.png);">
                <div class="games__close close">
                    <a href="{{ site.url }}/igraj-se/">
                        <img class="btn btn--image btn--close" src="{{ options.image_cdn }}/images/optimized/buttons/button-close.svg">
                    </a>
                </div>
                <div class="games__canvas-wrapper">
                    <div id="game"></div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script>

        var wrp = $('.games__canvas-wrapper');
        var gw = wrp.width();
        var gh = wrp.height();
        let cx = wrp.offset().left;
        let cy = wrp.offset().top;
        let os = gw/8;

        let game;
        let fieldSize = 8;
        let orbColors = 6;
        let orbSize = 100;
        //
        let swapSpeed = 200;
        let fallSpeed = 400;
        let destroySpeed = 300;
        let fastFall = true;
        //
        let gameArray = [];
        let removeMap = [];
        let orbGroup;
        let selectedOrb;
        let canPick = true;

        window.onload = function() {
            game = new Phaser.Game(800, 600, Phaser.CANVAS, 'game', {}, true);
            game.state.add("PlayGame", playGame);
            game.state.start("PlayGame");
        };

        let playGame = function(game){};

        playGame.prototype = {
            preload: function(){
                game.load.spritesheet("orbs", "{{ options.image_cdn }}/images/orbs_igraonica.png", orbSize, orbSize);
            },
            create: function(){
                drawField();
                canPick = true;
                game.input.onDown.add(orbSelect);
                game.input.onUp.add(orbDeselect);
                game.stage.backgroundColor = '#ffffff';
                game.scale.scaleMode = Phaser.ScaleManager.SHOW_ALL;
                game.scale.height = gh;
                game.scale.width = gw;
                game.scale.pageAlignHorizontally = true;
                game.scale.pageAlignVertically = true;
            }
        };

        function drawField(){
            orbGroup = game.add.group();
            for(let i = 0; i < fieldSize; i ++){
                gameArray[i] = [];
                for(let j = 0; j < fieldSize; j ++){
                    let orb = game.add.sprite(orbSize * j + orbSize / 2, orbSize * i + orbSize / 2, "orbs");
                    orb.anchor.set(0.5);
                    orbGroup.add(orb);
                    do{
                        let randomColor = game.rnd.between(0, orbColors - 1);
                        orb.frame = randomColor;
                        gameArray[i][j] = {
                            orbColor: randomColor,
                            orbSprite: orb
                        }
                    } while(isMatch(i, j));
                }
            }
            selectedOrb = null;
        }

        function orbSelect(e){
            if(canPick){
                let row = Math.floor((e.clientY - cy) / os);
                let col = Math.floor((e.clientX - cx) / os);
                let pickedOrb = gemAt(row, col)
                if(pickedOrb != -1){
                    if(selectedOrb == null){
                        pickedOrb.orbSprite.scale.setTo(1.2);
                        pickedOrb.orbSprite.bringToTop();
                        selectedOrb = pickedOrb;
                        game.input.addMoveCallback(orbMove);
                    }
                    else{
                        if(areTheSame(pickedOrb, selectedOrb)){
                            selectedOrb.orbSprite.scale.setTo(1);
                            selectedOrb = null;
                        }
                        else{
                            if(areNext(pickedOrb, selectedOrb)){
                                selectedOrb.orbSprite.scale.setTo(1);
                                swapOrbs(selectedOrb, pickedOrb, true);
                            }
                            else{
                                selectedOrb.orbSprite.scale.setTo(1);
                                pickedOrb.orbSprite.scale.setTo(1.2);
                                selectedOrb = pickedOrb;
                                game.input.addMoveCallback(orbMove);
                            }
                        }
                    }
                }
            }
        }

        function orbDeselect(e){
            game.input.deleteMoveCallback(orbMove);
        }

        function orbMove(event, pX, pY){
            if ( event.id == 0 )
            {
                let distX = pX - selectedOrb.orbSprite.x;
                let distY = pY - selectedOrb.orbSprite.y;
                let deltaRow = 0;
                let deltaCol = 0;
                if( Math.abs(distX) > orbSize / 2 )
                {
                    if ( distX > 0 )
                    {
                        deltaCol = 1;
                    }
                    else
                    {
                        deltaCol = -1;
                    }
                }
                else {
                    if ( Math.abs(distY) > orbSize / 2 )
                    {
                        if ( distY > 0)
                        {
                            deltaRow = 1;
                        }
                        else
                        {
                            deltaRow = -1;
                        }
                    }
                }
                if ( deltaRow + deltaCol != 0 )
                {
                    let pickedOrb = gemAt(getOrbRow(selectedOrb) + deltaRow, getOrbCol(selectedOrb) + deltaCol);
                    if ( pickedOrb != -1 )
                    {
                        selectedOrb.orbSprite.scale.setTo(1);
                        swapOrbs(selectedOrb, pickedOrb, true);
                        game.input.deleteMoveCallback(orbMove);
                    }
                }
            }
        }

        function swapOrbs(orb1, orb2, swapBack){
            canPick = false;
            let fromColor = orb1.orbColor;
            let fromSprite = orb1.orbSprite;
            let toColor = orb2.orbColor;
            let toSprite = orb2.orbSprite;
            gameArray[getOrbRow(orb1)][getOrbCol(orb1)].orbColor = toColor;
            gameArray[getOrbRow(orb1)][getOrbCol(orb1)].orbSprite = toSprite;
            gameArray[getOrbRow(orb2)][getOrbCol(orb2)].orbColor = fromColor;
            gameArray[getOrbRow(orb2)][getOrbCol(orb2)].orbSprite = fromSprite;
            let orb1Tween = game.add.tween(gameArray[getOrbRow(orb1)][getOrbCol(orb1)].orbSprite).to({
                x: getOrbCol(orb1) * orbSize + orbSize / 2,
                y: getOrbRow(orb1) * orbSize + orbSize / 2
            }, swapSpeed, Phaser.Easing.Linear.None, true);
            let orb2Tween = game.add.tween(gameArray[getOrbRow(orb2)][getOrbCol(orb2)].orbSprite).to({
                x: getOrbCol(orb2) * orbSize + orbSize / 2,
                y: getOrbRow(orb2) * orbSize + orbSize / 2
            }, swapSpeed, Phaser.Easing.Linear.None, true);
            orb2Tween.onComplete.add(function(){
                if(!matchInBoard() && swapBack){
                    swapOrbs(orb1, orb2, false);
                }
                else{
                    if(matchInBoard()){
                        handleMatches();
                    }
                    else{
                        canPick = true;
                        selectedOrb = null;
                    }
                }
            });
        }

        function areNext(orb1, orb2){
            return Math.abs(getOrbRow(orb1) - getOrbRow(orb2)) + Math.abs(getOrbCol(orb1) - getOrbCol(orb2)) == 1;
        }

        function areTheSame(orb1, orb2){
            return getOrbRow(orb1) == getOrbRow(orb2) && getOrbCol(orb1) == getOrbCol(orb2);
        }

        function gemAt(row, col){
            if(row < 0 || row >= fieldSize || col < 0 || col >= fieldSize){
                return -1;
            }
            return gameArray[row][col];
        }

        function getOrbRow(orb){
            return Math.floor(orb.orbSprite.y / orbSize);
        }

        function getOrbCol(orb){
            return Math.floor(orb.orbSprite.x / orbSize);
        }

        function isHorizontalMatch(row, col){
            return gemAt(row, col).orbColor == gemAt(row, col - 1).orbColor && gemAt(row, col).orbColor == gemAt(row, col - 2).orbColor;
        }

        function isVerticalMatch(row, col){
            return gemAt(row, col).orbColor == gemAt(row - 1, col).orbColor && gemAt(row, col).orbColor == gemAt(row - 2, col).orbColor;
        }

        function isMatch(row, col){
            return isHorizontalMatch(row, col) || isVerticalMatch(row, col);
        }

        function matchInBoard(){
            for(let i = 0; i < fieldSize; i++){
                for(let j = 0; j < fieldSize; j++){
                    if(isMatch(i, j)){
                        return true;
                    }
                }
            }
            return false;
        }

        function handleMatches(){
            removeMap = [];
            for(let i = 0; i < fieldSize; i++){
                removeMap[i] = [];
                for(let j = 0; j < fieldSize; j++){
                    removeMap[i].push(0);
                }
            }
            handleHorizontalMatches();
            handleVerticalMatches();
            destroyOrbs();
        }

        function handleVerticalMatches(){
            for(let i = 0; i < fieldSize; i++){
                let colorStreak = 1;
                let currentColor = -1;
                let startStreak = 0;
                for(let j = 0; j < fieldSize; j++){
                    if(gemAt(j, i).orbColor == currentColor){
                        colorStreak ++;
                    }
                    if(gemAt(j, i).orbColor != currentColor || j == fieldSize - 1){
                        if(colorStreak >= 3){
                            console.log("VERTICAL :: Length = "+colorStreak + " :: Start = ("+startStreak+","+i+") :: Color = "+currentColor);
                            for(let k = 0; k < colorStreak; k++){
                                removeMap[startStreak + k][i] ++;
                            }
                        }
                        startStreak = j;
                        colorStreak = 1;
                        currentColor = gemAt(j, i).orbColor;
                    }
                }
            }
        }

        function handleHorizontalMatches(){
            for(let i = 0; i < fieldSize; i++){
                let colorStreak = 1;
                let currentColor = -1;
                let startStreak = 0;
                for(let j = 0; j < fieldSize; j++){
                    if(gemAt(i, j).orbColor == currentColor){
                        colorStreak ++;
                    }
                    if(gemAt(i, j).orbColor != currentColor || j == fieldSize - 1){
                        if(colorStreak >= 3){
                            console.log("HORIZONTAL :: Length = "+colorStreak + " :: Start = ("+i+","+startStreak+") :: Color = "+currentColor);
                            for(let k = 0; k < colorStreak; k++){
                                removeMap[i][startStreak + k] ++;
                            }
                        }
                        startStreak = j;
                        colorStreak = 1;
                        currentColor = gemAt(i, j).orbColor;
                    }
                }
            }
        }

        function destroyOrbs(){
            let destroyed = 0;
            for(let i = 0; i < fieldSize; i++){
                for(let j = 0; j < fieldSize; j++){
                    if(removeMap[i][j]>0){
                        let destroyTween = game.add.tween(gameArray[i][j].orbSprite).to({
                            alpha: 0
                        }, destroySpeed, Phaser.Easing.Linear.None, true);
                        destroyed ++;
                        destroyTween.onComplete.add(function(orb){
                            orb.destroy();
                            destroyed --;
                            if(destroyed == 0){
                                makeOrbsFall();
                                if(fastFall){
                                    replenishField();
                                }
                            }
                        });
                        gameArray[i][j] = null;
                    }
                }
            }
        }

        function makeOrbsFall(){
            let fallen = 0;
            let restart = false;
            for(let i = fieldSize - 2; i >= 0; i--){
                for(let j = 0; j < fieldSize; j++){
                    if(gameArray[i][j] != null){
                        let fallTiles = holesBelow(i, j);
                        if(fallTiles > 0){
                            if(!fastFall && fallTiles > 1){
                                fallTiles = 1;
                                restart = true;
                            }
                            let orb2Tween = game.add.tween(gameArray[i][j].orbSprite).to({
                                y: gameArray[i][j].orbSprite.y + fallTiles * orbSize
                            }, fallSpeed, Phaser.Easing.Linear.None, true);
                            fallen ++;
                            orb2Tween.onComplete.add(function(){
                                fallen --;
                                if(fallen == 0){
                                    if(restart){
                                        makeOrbsFall();
                                    }
                                    else{
                                        if(!fastFall){
                                            replenishField();
                                        }
                                    }
                                }
                            })
                            gameArray[i + fallTiles][j] = {
                                orbSprite: gameArray[i][j].orbSprite,
                                orbColor: gameArray[i][j].orbColor
                            }
                            gameArray[i][j] = null;
                        }
                    }
                }
            }
            if(fallen == 0){
                replenishField();
            }
        }

        function replenishField(){
            let replenished = 0;
            let restart = false;
            for(let j = 0; j < fieldSize; j++){
                let emptySpots = holesInCol(j);
                if(emptySpots > 0){
                    if(!fastFall && emptySpots > 1){
                        emptySpots = 1;
                        restart = true;
                    }
                    for(i = 0; i < emptySpots; i++){
                        let orb = game.add.sprite(orbSize * j + orbSize / 2, - (orbSize * (emptySpots - 1 - i) + orbSize / 2), "orbs");
                        orb.anchor.set(0.5);
                        orbGroup.add(orb);
                        let randomColor = game.rnd.between(0, orbColors - 1);
                        orb.frame = randomColor;
                        gameArray[i][j] = {
                            orbColor: randomColor,
                            orbSprite: orb
                        }
                        let orb2Tween = game.add.tween(gameArray[i][j].orbSprite).to({
                            y: orbSize * i + orbSize / 2
                        }, fallSpeed, Phaser.Easing.Linear.None, true);
                        replenished ++;
                        orb2Tween.onComplete.add(function(){
                            replenished --;
                            if(replenished == 0){
                                if(restart){
                                    makeOrbsFall();
                                }
                                else{
                                    if(matchInBoard()){
                                        game.time.events.add(250, handleMatches);
                                    }
                                    else{
                                        canPick = true;
                                        selectedOrb = null;
                                    }
                                }
                            }
                        })
                    }
                }
            }
        }

        function holesBelow(row, col){
            let result = 0;
            for(let i = row + 1; i < fieldSize; i++){
                if(gameArray[i][col] == null){
                    result ++;
                }
            }
            return result;
        }

        function holesInCol(col){
            let result = 0;
            for(let i = 0; i < fieldSize; i++){
                if(gameArray[i][col] == null){
                    result ++;
                }
            }
            return result;
        }
    </script>
{% endblock %}