{% extends "templates/base.twig" %}

{% block content %}
    <main class="games">
        <section class="games__wrapper" style="background-image: url({{ options.image_cdn }}/images/optimized/jungle-page-background.jpg);">
            <div class="games__zirafa zirafa" style="background-image: url('{{ options.image_cdn }}/images/optimized/zirafa_sprite.png');"></div>
            <div class="games__container" style="background-image: url({{ options.image_cdn }}/images/optimized/games/gameboard.png);">
                <div class="games__close close">
                    <a href="{{ site.url }}/igraj-se/">
                        <img class="btn btn--image btn--close" src="{{ options.image_cdn }}/images/optimized/buttons/button-close.svg">
                    </a>
                </div>
                <div class="games__canvas-wrapper">
                    <div id="game"></div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script>

        'use strict';

        var cardsArray = [{
            'name': 'shell',
            'img': '{{ options.image_cdn }}/images/games/memory/01_zeko.png'
        }, {
            'name': 'star',
            'img': '{{ options.image_cdn }}/images/games/memory/02_pajcek.png'
        }, {
            'name': 'bobomb',
            'img': '{{ options.image_cdn }}/images/games/memory/03_lija.png'
        }, {
            'name': 'mario',
            'img': '{{ options.image_cdn }}/images/games/memory/04_riba.png'
        }, {
            'name': 'luigi',
            'img': '{{ options.image_cdn }}/images/games/memory/05_konjic.png'
        }, {
            'name': 'peach',
            'img': '{{ options.image_cdn }}/images/games/memory/06_papiga.png'
        }, {
            'name': '1up',
            'img': '{{ options.image_cdn }}/images/games/memory/07_hobo.png'
        }, {
            'name': 'mushroom',
            'img': '{{ options.image_cdn }}/images/games/memory/08_rak.png'
        }, {
            'name': 'thwomp',
            'img': '{{ options.image_cdn }}/images/games/memory/09_zvijezda.png'
        }, {
            'name': 'bulletbill',
            'img': '{{ options.image_cdn }}/images/games/memory/10_crv.png'
        }, {
            'name': 'coin',
            'img': '{{ options.image_cdn }}/images/games/memory/11_ptica.png'
        }, {
            'name': 'goomba',
            'img': '{{ options.image_cdn }}/images/games/memory/12_leptir.png'
        }];

        var gameGrid = cardsArray.concat(cardsArray).sort(function () {
            return 0.5 - Math.random();
        });

        var firstGuess = '';
        var secondGuess = '';
        var count = 0;
        var previousTarget = null;
        var delay = 1200;

        var game = document.getElementById('game');
        var grid = document.createElement('section');
        grid.setAttribute('class', 'grid');
        game.appendChild(grid);

        gameGrid.forEach(function (item) {
            var name = item.name,
                img = item.img;


            var card = document.createElement('div');
            card.classList.add('card');
            card.dataset.name = name;

            var front = document.createElement('div');
            front.classList.add('front');

            var back = document.createElement('div');
            back.classList.add('back');
            back.style.backgroundImage = 'url(' + img + ')';

            grid.appendChild(card);
            card.appendChild(front);
            card.appendChild(back);
        });

        var match = function match() {
            var selected = document.querySelectorAll('.selected');
            selected.forEach(function (card) {
                card.classList.add('match');
            });
        };

        var resetGuesses = function resetGuesses() {
            firstGuess = '';
            secondGuess = '';
            count = 0;
            previousTarget = null;

            var selected = document.querySelectorAll('.selected');
            selected.forEach(function (card) {
                card.classList.remove('selected');
            });
        };

        grid.addEventListener('click', function (event) {

            var clicked = event.target;

            if (clicked.nodeName === 'SECTION' || clicked === previousTarget || clicked.parentNode.classList.contains('selected') || clicked.parentNode.classList.contains('match')) {
                return;
            }

            if (count < 2) {
                count++;
                if (count === 1) {
                    firstGuess = clicked.parentNode.dataset.name;
                    console.log(firstGuess);
                    clicked.parentNode.classList.add('selected');
                } else {
                    secondGuess = clicked.parentNode.dataset.name;
                    console.log(secondGuess);
                    clicked.parentNode.classList.add('selected');
                }

                if (firstGuess && secondGuess) {
                    if (firstGuess === secondGuess) {
                        setTimeout(match, delay);
                    }
                    setTimeout(resetGuesses, delay);
                }
                previousTarget = clicked;
            }
        });
        
    </script>
{% endblock %}