.section {
  &--main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--animal-kingdom {
    width: 100vw;
    height: 90vh;
    background-image: linear-gradient(#3157a5, #0099dc);
    margin: 0 auto;

    .island-and-sea {
      text-align: center;
      width: 100vw;
      height: 90vh;
      img {

      }
    }
  }

  &--animal-kingdom--content {
    width: 100vw;
    background-image: linear-gradient(#1069AD, #0A305C);
    margin: -34px auto -20px;
  }

  .container {
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &__inner {
      transform: translateY(-100px);
      padding-bottom: 400px;
      h1 {
        font-family: 'Candy Shop';
        color: #a0e9f9;
        font-size: 50px;
        margin-bottom: 45px;
        text-shadow: -7px 0 #146ba6, 0 7px #146ba6, 7px 0 #146ba6, 0 -7px #146ba6;
      }
      h3 {
        font-family: 'Candy Shop';
        color: #ffffff;
        font-size: 25px;
        margin-bottom: 45px;
        text-shadow: -3px 0 #146ba6, 0 3px #146ba6, 3px 0 #146ba6, 0 -3px #146ba6;
      }
      p {
        color: #ffffff;
        font-size: 20px;
        line-height: 32px;
      }
    }
  }

  &--games {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.span {
  &--logo {
    position: absolute;
    top: -20px;
    z-index: 89;
    @media (max-width: 959px) {}
    @media (min-width: 960px) and (max-width: 1023px) {
      width: 260px !important;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      
    }
    @media (min-width: 1200px) and (max-width: 1439px) {}
    @media (min-width: 1440px) {}
    a {
      color: unset;
      display: block;
    }
    svg {
      .st0 {}
      .st1 {}
    }
  }

  &--parallax {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(219, 219, 219, 0.33);
    z-index: 5;
  }

  &--lion {
    display: block;
    position: fixed;
    z-index: 4;
    @media (max-width: 959px) {
      display: none;
    }
    @media (min-width: 960px) and (max-width: 1023px) {
      left: 15vw;
      bottom: 10vh;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      left: 17vw;
      bottom: 12vh;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
      left: 17vw;
      bottom: 12vh;
    }
    @media (min-width: 1440px) {
      left: 19vw;
      bottom: 12vh;
    }

    img {
      @media (min-width: 960px) and (max-width: 1023px) {
        height: 60vh;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        height: 60vh;
      }
      @media (min-width: 1200px) and (max-width: 1439px) {
        height: 60vh;
      }
      @media (min-width: 1440px) {
        height: 60vh;
      }
    }
  }

  &--giraffe {
    display: block;
    position: fixed;
    left: 280px;
    bottom: 50px;
    z-index: 88;
  }

  &--crocodile {
    display: block;
    position: fixed;
    width: 488px;
    height: 460px;
    left: 280px;
    bottom: 50px;
    z-index: 88;

  }

  &--ham {
    position: absolute;
    top: 20px;
    right: 120px;
    z-index: 89;
    cursor: pointer;
    .img--open {
      position: absolute;
      opacity: 1;
      transition: opacity .3s ease-in-out;
      @media (max-width: 959px) {}
      @media (min-width: 960px) and (max-width: 1023px) {
        width: 70px;
        height: 55px;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        width: 80px;
        height: 63px;
      }
      @media (min-width: 1200px) and (max-width: 1439px) {}
      @media (min-width: 1440px) {}
    }
    .img--close {
      position: absolute;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      @media (max-width: 959px) {}
      @media (min-width: 960px) and (max-width: 1023px) {
        width: 70px;
        height: 55px;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        width: 80px;
        height: 63px;
      }
      @media (min-width: 1200px) and (max-width: 1439px) {}
      @media (min-width: 1440px) {}
    }
  }

  &--ham--open {
    z-index: 91;
    .img--open {
      position: absolute;
      opacity: 0;
    }
    .img--close {
      position: absolute;
      opacity: 1;
    }
  }

  &--info {
    position: absolute;
    bottom: 100px;
    left: 20px;
    z-index: 89;
    cursor: pointer;
    @media (max-width: 959px) {}
    @media (min-width: 960px) and (max-width: 1023px) {
      bottom: 65px;
      left: 15px;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      bottom: 65px;
      left: 15px;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {}
    @media (min-width: 1440px) {}
    .img--open {
      position: absolute;
      opacity: 1;
      transition: opacity .3s ease-in-out;
      @media (max-width: 959px) {}
      @media (min-width: 960px) and (max-width: 1023px) {
        width: 70px;
        height: 55px;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        width: 80px;
        height: 63px;
      }
      @media (min-width: 1200px) and (max-width: 1439px) {}
      @media (min-width: 1440px) {}
    }
    .img--close {
      position: absolute;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      @media (max-width: 959px) {}
      @media (min-width: 960px) and (max-width: 1023px) {
        width: 70px;
        height: 55px;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        width: 80px;
        height: 63px;
      }
      @media (min-width: 1200px) and (max-width: 1439px) {}
      @media (min-width: 1440px) {}
    }
  }

  &--info--open {
    .img--open {
      position: absolute;
      opacity: 0;
    }
    .img--close {
      position: absolute;
      opacity: 1;
    }
  }

  &--down {
    width: 100px;
    height: 78px;
    position: absolute;
    bottom: 20px;
    @media (max-width: 959px) {}
    @media (min-width: 960px) and (max-width: 1023px) {
      width: 70px;
      height: 55px;
      background-size: 70px 55px !important;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      width: 80px;
      height: 63px;
      background-size: 80px 63px !important;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {}
    @media (min-width: 1440px) {}
  }
}

.box {
  &--hero {
    width: 720px;
    height: 441px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 215px;
    @media (max-width: 959px) {}
    @media (min-width: 960px) and (max-width: 1023px) {
      width: 500px;
      height: 303px;
      padding-top: 146px;
      background-size: 500px 303px !important;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      width: 550px;
      height: 338px;
      padding-top: 160px;
      background-size: 550px 338px !important;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {}
    @media (min-width: 1440px) {}
    h2 {
      font-family: 'Gotham Rounded Book';
      //font-family: 'Candy Shop';
      color: #ffffff;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 28px;
      line-height: 34px;
      text-transform: uppercase;
      text-align: center;
    }
    h3 {
      font-family: 'Candy Shop';
      color: #e2a234;
      font-size: 24px;
      margin-bottom: 45px;
      text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
      @media (min-width: 960px) and (max-width: 1023px) {
        font-size: 16px;
        margin-bottom: 28px;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
    a {
      width: 100px;
      height: 78px;
      display: block;
      transform: scale(1.0);
      transition: all .3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &--subhero {
    width: 600px;
    height: 326px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    text-align: center;
    @media (max-width: 959px) {}
    @media (min-width: 960px) and (max-width: 1023px) {
      width: 380px;
      height: 206px;
      padding-top: 60px;
      background-size: 380px 206px !important;
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
      width: 430px;
      height: 233px;
      padding-top: 60px;
      background-size: 430px 233px !important;
    }
    @media (min-width: 1200px) and (max-width: 1439px) {}
    @media (min-width: 1440px) {}
    path {fill: #000000;}
    text {fill: #FF9800;}
    h4 {
      font-family: 'Candy Shop';
      color: #ffffff;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 28px;
      line-height: 34px;
      text-transform: uppercase;
      text-align: center;
      @media (max-width: 959px) {}
      @media (min-width: 960px) and (max-width: 1023px) {
        font-size: 20px;
        line-height: 16px;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        font-size: 20px;
        line-height: 18px;
      }
      @media (min-width: 1200px) and (max-width: 1439px) {}
      @media (min-width: 1440px) {}
    }
    h5 {
      font-family: 'Candy Shop';
      color: #e2a234;
      font-size: 14px;
      margin-bottom: 30px;
      text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
      @media (max-width: 959px) {}
      @media (min-width: 960px) and (max-width: 1023px) {
        font-size: 12px;
        margin-bottom: 12px;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        font-size: 13px;
        margin-bottom: 16px
      }
      @media (min-width: 1200px) and (max-width: 1439px) {}
      @media (min-width: 1440px) {}
    }
    a {
      width: 100px;
      height: 78px;
      display: block;
      margin: 0 auto;
      transform: scale(1.0);
      transition: all .3s ease-in-out;
      @media (max-width: 959px) {}
      @media (min-width: 960px) and (max-width: 1023px) {
        width: 70px;
        height: 55px;
        background-size: 70px 55px !important;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        width: 80px;
        height: 63px;
        background-size: 80px 63px !important;
      }
      @media (min-width: 1200px) and (max-width: 1439px) {}
      @media (min-width: 1440px) {}
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.slider {
  &--games {
    z-index: 9999;
    position: absolute;
    bottom: 100px;
    width: 422px;
    height: 401px;

    .sign {
      width: 422px;
      height: 401px;
      display: block;
    }

    .games-slider {
      text-align: center;
      &__title,
      &__subtitle {
        font-family: 'Candy Shop';
      }
      &__title {
        display: block;
        color: #c3e762;
        @include fontSize(24);
        @include lineHeight(70,24);
        text-shadow: -5px 0 #661521, 0 5px #661521, 5px 0 #661521, 0 -5px #661521;
        margin-bottom: 25px;
      }
      &__subtitle {
        display: block;
        color: #661521;
        @include fontSize(12);
        @include lineHeight(12,12);
        margin-bottom: 20px;
      }
      a {
        width: 100px;
        height: 78px;
        display: block;
        margin: 0 auto;
        transform: scale(1.0);
        transition: all .3s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
      .slick-next {

      }
      .slick-prev {

      }
    }
  }
}

.menu {
  &--main {
    position: absolute;
    right: 60px;
    top: 60px;
    width: 300px;
    height: 0;
    z-index: 6;
    transition: height .3s ease-in-out;
    nav {
      display: none;
      position: relative;
      left: -30px;
      ul {
        li {
          a {
            font-family: 'Candy Shop';
            color: #7c7669;
            @include fontSize(8);
            @include lineHeight(32,8);
          }
        }
      }
    }
  }
  &--main--open {
    width: 300px;
    height: 480px;
    padding-top: 70px;
    padding-left: 50px;
    z-index: 89;
    nav {
      display: flex;
    }
  }

  &--info {
    position: absolute;
    left: 60px;
    bottom: 60px;
    width: 341px;
    height: 0;
    z-index: 6;
    transition: height .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    nav {
      display: none;
      position: relative;
      left: -15px;
      transform: rotate(5deg);
      ul {
        li {
          a {
            font-family: 'Candy Shop';
            color: #7c7669;
            @include fontSize(10);
            @include lineHeight(32,10);
          }
        }
      }
    }
  }
  &--info--open {
    width: 341px;
    height: 522px;
    z-index: 88;
    nav {
      display: block;
    }
  }
}





.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
.modal-content {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}









.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats, .count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles{
  border-radius: 0 0 3px 3px;
}




.speech-bubble-wrapper {
  position: absolute;
  .speech-bubble {
    position: relative;
    background: #ffffff;
    border-radius: 2em;
    padding: 30px;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 53px solid transparent;
      border-top-color: #ffffff;
      border-bottom: 0;
      border-left: 0;
      margin-left: -26.5px;
      margin-bottom: -53px;
    }

    &__title,
    &__subtitle {
      font-family: 'Candy Shop';
      display: block;
    }
    &__title {
      color: red;
      @include fontSize(18);
      @include lineHeight(38,18);
      margin-bottom: 5px;
    }
    &__subtitle {
      color: black;
      @include fontSize(10);
      @include lineHeight(22,10);
    }
  }

}


.content {
  &--page {
    max-width: 640px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
    background-color: rgba(23, 153, 104, 0.55);
    border-radius: 30px;
    max-height: 75%;
    overflow-y: scroll;
    z-index: 998;
    h1, h2, h3, h4, h5, h6 {font-family: 'Candy Shop';}
    h1 {
      @include fontSize(20);
      @include lineHeight(34,20);
      color: white;
    }
    h2 {
      @include fontSize(16);
      @include lineHeight(34,16);
      color: #a3f3d4;
    }
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    p {
      font-family: 'Gotham Rounded Book';
      @include fontSize(10);
      @include lineHeight(20,10);
      color: white;
    }
    &::-webkit-scrollbar {
      width: 8px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #135846;
      border-radius: 5px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #5dc4a4;
      border-radius: 5px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      //background: #ff8319;
    }
  }
}