.header {
  &__main-menu {
    position: fixed;
    top: calc(3500vw / 1920);
    right: calc(2000vw / 1920);
    z-index: 89;
    width: calc(14000vw / 1920);
    height: calc(10000vw / 1920);
    & > img { 
      width: 100%;
      height: auto;
      cursor: pointer;
    }

    .main-menu-content {
      width: calc(30000vw / 1920);
      height: 0;
      position: absolute;
      right: calc(6000vw / 1920);
      top: calc(3500vw / 1920);
      transition: height 0.3s ease-in-out;
      background-size: calc(30000vw / 1920) calc(48000vw / 1920) !important;
      text-align: center;
      .skew {
        transform: skewX(6deg);
        overflow: hidden;
        height: 0;
      }
      ul {
        padding: 0;
        list-style: none;
        opacity: 0;
        line-height: 0.4;
        margin-top: 4vw;
        li {
          a {
            font-family: "Trattatello";
            font-size: calc(2600vw / 1920);
            line-height: calc(6600vw / 1920);
            color: #7c776a;
            text-decoration: none;
            transition: color .3s ease-in-out;
            &:hover {
              color: #eab339;
            }
          }
        }
      }
    }
  }

  .header__main-menu--open {
    z-index: 90;
    .btn--menu {
      opacity: 0;
    }
    .btn--close {
      opacity: 1 !important;
    }
    .main-menu-content {
      height: calc(48000vw / 1920);
    }
    ul {
      opacity: 1;
    }
    .skew {
      height: 100%;
    }
  }

  &--main {
    display: flex;
    justify-content: center;
  }
}

@media (max-aspect-ratio: 1920/1380) {
  .header {
    &__main-menu {
      transform: scale(4);
      top: 11vw;
      right: 11vw;
    }
  }
}

@media (max-aspect-ratio: 1920/1380) and (min-width: 768px ) {
  .header {
    &__main-menu {
      transform: scale(2);
      top: 6vw;
      right: 6vw;
    }
  }
}

@media (max-aspect-ratio: 1920/1380) and (min-width: 1024px ) {
  .header {
    &__main-menu {
      transform: scale(1.5);
      top: 4vw;
      right: 4vw;
    }
  }
}

@media (max-aspect-ratio: 1920/1380) and (min-width: 1366px ) {
  .header {
    &__main-menu {
      transform: scale(1);
      top: 2vw;
      right: 2vw;
    }
  }
}