.logo {
    position: fixed;
    top: calc(-2000vw / 1920);
    z-index: 89;
    width: calc(50000vw / 1920);
    position: fixed;
}
.page-template-front-page .logo {
    .logo--bubble { fill: #EAB339; }
    .logo--www { fill: #e1e373;  }
    .logo--letters { fill: #3B2C2C; }
    .logo--highlights { fill: #d49729; }
}
.page-games .logo {
    .logo--bubble { fill: #fff; }
    .logo--www { fill: #f64858;  }
    .logo--letters { fill: #f64858; }
    .logo--highlights { fill: #fff; }
}
.page-template-template-time-machine-page .logo {
    .logo--bubble { fill: #F21C54; }
    .logo--www { fill: #fff; }
    .logo--letters { fill: #c5d93d; }
    .logo--highlights { fill: #fff; }
}
.page-template-template-animal-kingdom-page .logo,
.single-products .logo {
    position: absolute;
    .logo--bubble { fill: #f21d54; }
    .logo--www { fill: #fff; }
    .logo--letters { fill: #81cfed; }
    .logo--highlights { fill: #fff; }
}

@media (max-aspect-ratio: 1920/1380) {
    .logo {
    	transform: scale(3);
    	top: 7vw;
    	left: 18vw;
        position: fixed !important;
    }
}

@media (max-aspect-ratio: 1920/1380) and (min-width: 768px ) {
    .logo {
        transform: scale(2);
        top: 2vw;
        left: 7vw;
    }
}

@media (max-aspect-ratio: 1920/1380) and (min-width: 1024px ) {
  .logo {
        transform: scale(1.5);
        top: 1vw;
        left: 3vw;
  }
}

@media (max-aspect-ratio: 1920/1380) and (min-width: 1366px ) {
    .logo {
        transform: scale(1);
        top: 0;
        left: 0;
  }
}
