.acf-image-select label input {
    display: none;
}
.acf-image-select label p {
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.acf-image-select label img {
    border: solid 4px #ddd;
    width: 150px;
}
.acf-image-select label.selected img {
    border: solid 4px #999;
}