{% extends "base.twig" %}

{% block content %}
    <div class="container container--1248">
        <div class="content-wrapper content-wrapper--single">

            {# Main content #}
            <main class="main-content timetoread">
                <div class="wrapper wrapper--single-post">
                    <section class="wrapper__header">
                        <h1 class="title title--post">{{ post.title }}</h1>
                        <div class="article-meta article-meta--single article-meta--inline">
                            <div class="article-meta__share-icons-wrapper">
                                <span class="icon icon--rounded icon--time icon--mr1"><i class="fal fa-glasses-alt"></i></span>
                                <span class="icon icon--mr1 icon--rtime">
                                    <span class="eta"></span>
                                    <span class="eta--text">čitanja</span>
                                </span>
                                <span class="icon icon--rounded icon--facebook icon--mr1"><i class="fab fa-facebook-f"></i></span>
                                <span class="icon icon--rounded icon--twitter icon--mr1"><i class="fab fa-twitter"></i></span>
                                <span class="icon icon--rounded icon--whatsapp icon--mr1"><i class="fab fa-whatsapp"></i></span>
                                <span class="icon icon--rounded icon--viber icon--mr1"><i class="fab fa-viber"></i></span>
                                <span class="icon icon--rounded icon--link"><i class="fal fa-link"></i></span>
                            </div>
                            <div class="article-meta__author-date">
                            <span class="span span--post-author">
                                <img class="img img--author" src="{{ options.image_cdn }}/images/profile-marko-tomac.png" alt="">
                                <span class="author author--single">{% if post.post_second_author %}{{ post.post_second_author }}{% else %}{{ post.author }}{% endif %}</span>
                            </span>
                                <span class="separator separator--dot-circle">
                                <i class="fal fa-dot-circle"></i>
                            </span>
                                <span class="date date--single">
                                <time datetime="2008-02-14 20:00">{{ post.date }}</time>
                            </span>
                            </div>
                        </div>
                        {% if post.post_subtitle %}
                        <h2 class="subtitle subtitle--post">{{ post.post_subtitle }}</h2>
                        {% endif %}
                    </section>

                    {% if post.post_gallery %}
                    <section class="wrapper__gallery">
                        <div class="js-show-post-gallery wrapper__gallery--inner">
                            <img class="img" src="{{ post.thumbnail.src|resize(845, 475) }}" alt="">
                            <span class="image-gallery-number">{{ post.post_gallery|length }}</span>
                            <span class="gallery-zoom">
                            <span class="icon icon--zoom-gallery">
                                <i class="fal fa-expand-arrows"></i>
                            </span>
                        </span>
                        </div>
                    </section>
                    {% else %}
                        <section class="wrapper__gallery">
                            <div class="js-show-post-gallery wrapper__gallery--inner">
                                <img class="img" src="{{ post.thumbnail.src|resize(845, 475) }}" alt="">
                            </div>
                        </section>
                    {% endif %}

                    <section id="wordcountid" class="wrapper__content word-count">
                        {% for post_blok in post.meta('post_blocks') %}
                            {# text block #}
                            {% if post_blok.acf_fc_layout == 'text_block' %}
                                {{ post_blok.post_text }}
                            {% endif %}

                            {# image block #}
                            {% if post_blok.acf_fc_layout == 'image_block' %}
                                <div class="image-block image-block--post image-block--left">
                                    <figure>
                                        <img src="{{ TimberImage(post_blok.image).src }}" alt="">
                                    </figure>

                                    {% if TimberImage(post_blok.image).post_content %}
                                    <small class="small small--post-image">{{ TimberImage(post_blok.image).post_content }}</small>
                                    {% endif %}

                                    {% if post_blok.author %}
                                        <small class="small small--post-image-author">{{ post_blok.author }}</small>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {# statement_block block #}
                            {% if post_blok.acf_fc_layout == 'statement_block' %}
                                <div class="statement-block">
                                    <div class="statement-block__img">
                                        <img src="{{ TimberImage(post_blok.image).src }}" alt="">
                                    </div>
                                    <div class="statement-block__text">
                                        {{ post_blok.text }}
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}
                    </section>
                    <section class="wrapper__footer">Footer</section>
                </div>
            </main>

            {# Sidebar #}
            <aside class="sidebar">
                {% include 'parts/sidebar.twig' %}
            </aside>

            {# Mobile bar #}
            <div class="mobile-bar">
                <span class="mobile-bar__read">
                    <i class="fal fa-glasses-alt x1"></i>
                    <span class="eta"></span>
                </span>
                <span class="js-share mobile-bar__share">
                    <i class="fal fa-share-alt x1"></i>
                </span>
                <span class="js-options mobile-bar__options">
                    <i class="fal fa-font x1"></i>
                    <i class="fal fa-font x2"></i>
                </span>
            </div>

            {# Mobile bar share #}
            <div class="mobile-bar-share">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-viber"></i>
                <i class="fal fa-link"></i>
            </div>

            {# Mobile bar settings #}
            <div class="mobile-bar-settings">
                <div class="font-swicher">
                    <span class="font-swicher__minus"><i class="fal fa-font"></i></span>
                    <span class="font-swicher__separator"></span>
                    <span class="font-swicher__plus"><i class="fal fa-font"></i></span>
                </div>
                <div class="mode-swicher">
                    <span>Dark mode</span>
                    <input class="js-switch apple-switch" type="checkbox">
                </div>
            </div>
        </div>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>






        $(document).ready(function () {
            //console.log('doc is ready Single');

            //
            function readCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            }

            //
            $('.timetoread').readingTime();

            //
            $('.js-switch').on('click', function () {
                //console.log('switch mode');

                if ( !$(this).is(":checked") )
                {
                    document.cookie = "styleMode=normal"  ;
                    let styleMode = readCookie('styleMode');
                    //console.log(styleMode);

                    if ( styleMode === 'normal' )
                    {

                        $('html').removeClass('dark');
                    }
                }
                else
                {
                    document.cookie = "styleMode=dark";
                    let styleMode = readCookie('styleMode');
                    //console.log(styleMode);

                    if ( styleMode === 'dark' )
                    {
                        $('html').addClass('dark');
                    }
                }
            })

        });


        let pswpElement = document.querySelectorAll('.pswp')[0];

        // build items array
        let items = [
            {% for item in post.meta('post_gallery')  %}
            {
                src: '{{ item.url }}',
                w: 600,
                h: 400
            },
            {% endfor %}
        ];

        // define options (if needed)
        let options = {
            index: 0
        };

        // Initializes and opens PhotoSwipe
        let gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);



        // trigger gallery on click
        let element = document.querySelector('.js-show-post-gallery');
        element.addEventListener('click', () => {
            //console.log('Show gallery');
            gallery.init();
        });

    </script>
{% endblock %}