.footer {
  &--main {
    position: fixed;
    bottom: calc(2000vw / 1920);
    left: calc(1000vw / 1920);
    z-index: 89;
    width: calc(14000vw / 1920);
    height: calc(10000vw / 1920);
  }
  &__second-menu {
    & > img { 
      width: 100%;
      height: auto;
      cursor: pointer;
    }
    .second-menu-content {
      width: calc(30000vw / 1920);
      height: 0;
      position: absolute;
      left: calc(10000vw / 1920);
      bottom: calc(3500vw / 1920);
      transition: height 0.3s ease-in-out;
      background-size: calc(30000vw / 1920) calc(48000vw / 1920) !important;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .footer__second-menu--open {
    .btn--menu {
      opacity: 0;
    }
    .btn--close {
      opacity: 1 !important;
    }
    .second-menu-content {
      height: calc(48000vw / 1920);
    }
  }
}

.menu.menu--second-menu {
  transform: rotate(2deg);
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
  li {
    line-height: 0.4;
    font-family: "Trattatello";
    font-size: calc(2600vw / 1920);
    line-height: calc(6600vw / 1920);
    a {
      color: #7c776a;
      text-decoration: none;
      transition: color .3s ease-in-out;
      &:hover {
        color: #eab339;
      }
    }
    &:last-of-type {
      font-family: sans-serif;
      font-size: calc(1200vw / 1920);
      line-height: calc(3800vw / 1920);
      color: rgba(0,0,0,0.5);
    }
  }
}

.nav--second-menu {
  transition: opacity .3s ease-in-out;
  transform: skewX(-6deg);
  width: 88%;
}

@media (max-aspect-ratio: 1920/1380) {
  .footer {
    &--main {
      transform: scale(4);
      left: 11vw;
      bottom: 11vw;
    }
  }
}

@media (max-aspect-ratio: 1920/1380) and (min-width: 768px ) {
  .footer {
    &--main {
      transform: scale(2);
      left: 6vw;
      bottom: 6vw;
    }
  }
}

@media (max-aspect-ratio: 1920/1380) and (min-width: 1024px ) {
  .footer {
    &--main {
      transform: scale(1.5);
      bottom: 4vw;
      left: 4vw;
    }
  }
}

@media (max-aspect-ratio: 1920/1380) and (min-width: 1366px ) {
  .footer {
    &--main {
      transform: scale(1);
      bottom: 2vw;
      left: 2vw;
    }
  }
}
