.page-template-template-animal-kingdom-page {
    overflow-x: hidden;
}
.animal-kingdom {
  width: 100%;
  overflow-x: hidden;
  &__hero {
    height: 100vh;
    width: 100%;
    background-color: #0d84e3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__case {
    position: absolute;
    top: calc(-10000vw / 1920);
    width: calc(43500vw / 1920) !important;
    height: calc(42100vw / 1920) !important;
    right: calc(17000vw / 1920);
  }
  &__content {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-image: linear-gradient(#106aad, #0a2f5b);
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    #seahorse {
      @media screen and (max-width: 480px) {
        display: none !important;
      }
    }

    .content-inner {
      font-family: 'Gotham Rounded Book';
      transform:translateY(-200px);
      z-index: 70;
      position: relative;
      max-width: 780px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: white;
      @include fontSize(18);
      @include lineHeight(30, 18);

      .zc-logo-img {
        margin-bottom: 90px;
        text-align: center;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
         font-family: 'Caveat Brush', cursive;
      }
      h1 {
         @include fontSize(40);
         @include lineHeight(100, 80);
      }
      h2 {
         @include fontSize(36);
         @include lineHeight(80, 60);
      }
      h3 {
         @include fontSize(24);
         @include lineHeight(60, 40);
      }
      h4 {
         @include fontSize(20);
         @include lineHeight(40, 20);
      }
      h5 {
         @include fontSize(16);
         @include lineHeight(32, 16);
      }
      h6 {
         @include fontSize(14);
         @include lineHeight(28, 14);
      }
      .ntable-row {
         @include fontSize(14);
         @include lineHeight(22, 14);
       }
      p {
         @include fontSize(14);
         @include lineHeight(28, 14);
        a {
          position: relative;
          color: #ffffff;
          text-decoration: none;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            height: 25px;
            width: 100%;
            background-color: #df0256;
            z-index: -1;
          }
        }
      }

      .content-inner__flex {
        display: flex;
      }
      .animal-kingdom-slider {
        &__title {
          font-family: 'Mogra', cursive;
          text-align: center;
          text-transform: uppercase;
        }
        &__inner {
          width: 690px;
          height: 684px;
          margin-left: auto;
          margin-right: auto
        }
      }
    }
    .animal-kingdom-see-floor {
      position: relative;

      &__img {
        width: 100%;
      }
      &__seahorse {
        position: absolute;
        top: 50px;
        left: calc(17000vw / 1920);
        width: calc(10500vw / 1920);
        height: calc(16700vw / 1920);
        @media screen and (max-width: 480px) {
          display: none !important;
        }
      }
      &__crab {
        position: absolute;
        bottom: 50px;
        left: calc(90000vw / 1920);
        width: 80px;
        height: 80px;
        background-color: rebeccapurple;
        @media screen and (max-width: 480px) {
          display: none !important;
        }
      }
      &__fish {
        position: absolute;
        top: 150px;
        right: 0;
        width: calc(10800vw / 1920);
        height: calc(9500vw / 1920);
        @media screen and (max-width: 480px) {
          display: none !important;
        }
      }
    }
  }

  &__mountains-left {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    img {
      width: calc(88200vw / 1920);
      height: auto;
    }
  }
  &__mountains-right {
    position: absolute;
    right: 0;
    bottom: 0;
    img {
      width: calc(92000vw / 1920);
      height: auto;
    }
  }
  &__seagull {
    position: absolute;
    top: calc(15000vw / 1920);
    left: calc(5000vw / 1920);
    z-index: 88;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: calc(35900vw / 1920);
    width: calc(72600vw / 1920);
    background-size: calc(27 * 72600vw / 1920) calc(35900vw / 1920);
    &.galeb--animate { 
      animation: sprite 2.5s steps(26, end) infinite;
    }
  }
  &__cloud-1 {
    position: absolute;
    top: calc(15000vw / 1920);
    right: calc(5000vw / 1920);
    z-index: 80;
    opacity: 0;
    img {
      width: calc(70300vw / 1920);
      height: auto;
    }
  }
  &__cloud-2 {
    position: absolute;
    top: calc(15000vw / 1920);
    left: calc(5000vw / 1920);
    z-index: 80;
    opacity: 0;
    img {
      width: calc(70300vw / 1920);
      height: auto;
    }
  }
  &__cloud-3 {
    position: absolute;
    left: calc(25000vw / 1920);
    z-index: 80;
    opacity: 0;
    img {
      width: calc(128600vw / 1920);
      height: auto;
    }
  }
  &__island {
    position: absolute;
    bottom: calc(23500vw / 1920);
    z-index: 80;
    img {
      width: calc(105900vw / 1920);
      height: auto;
    }
  }
  &__see {
    position: absolute;
    bottom: 0;
    z-index: 80;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__seahors {
    position: absolute;
    left: calc(25000vw / 1920);
    top: 0;
  }

  &__slider {
    margin-top: 60px;
    text-align: center;
    width: calc(100% + 100px);
    position: relative;
    left: -50px;

    @media screen and (max-width: 480px) {
      width: 100%;
      position: unset;

    }

    .animal-kingdom-slider-button-prev,
    .animal-kingdom-slider-button-next {
      width: 97px;
      height: 83px;
      right: 0;
      top: calc(50% - 78px);
    }
    .animal-kingdom-slider-button-prev {
      left: 0;
    }
    .animal-kingdom-slider-button-next {
      right: 0;
    }
  }

  .content-inner__flex {
    margin: 60px 0;
  }
  .animal-kingdom-wrapper {
    position: relative;
  }

  .animal-kingdom-slider {
    &__title {
      font-family: 'Mogra', cursive;
      @include fontSize(50);
      @include lineHeight(50, 50);
      color: #a0e9f9;
      margin-bottom: 0;
    }
    .animal-kingdom-slide__link {
      text-decoration: none;
    }
    .animal-kingdom-slide__title {
      font-family: 'Mogra', cursive;
      font-size: 2.5625rem !important;
      @include lineHeight(25, 25);
      color: #a0e9f9;
      margin: 10px 0 0 0 !important;
    }
    .animal-kingdom-slide__subtitle {
      font-family: 'Gotham Rounded Book';
      @include fontSize(18);
      @include lineHeight(18, 18);
      color: #a0e9f9;
    }
  }
}
.animal-kingdom-slider__window {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: calc(50% - 701px / 2);
  width: 701px;
  height: 694px;
  z-index: 7;
  pointer-events: none;
}
.animal-kingdom-slide {
  padding: 70px 0 30px 0;
}
.animal-kingdom-slide__image {
  //transform: rotate(15deg);
  transform: translateY(-25px) rotate(15deg);
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}
.animal-kingdom-slide__subtitle {
  display: block;
}

.nutritional-values {
  margin-top: 100px;
  text-align: center;

  &__title {
    margin: 10px 0;
    font-family: 'Caveat Brush', cursive;
    @include fontSize(44);
    @include lineHeight(44, 44);
    font-weight: normal;
    color: #a0e9f9;
  }
  &__subtitle {
    font-family: 'Gotham Rounded Book';
    @include fontSize(20);
    @include lineHeight(20, 20);
    font-weight: normal;
  }

  .nutritional-values__table {
    margin-top: 50px;
    .ntable-row {
      margin: 15px 0;
      display: flex;
      .ntable-col {
        width: 50%;
      }
      .ntable-col-l {
        text-align: right;
        padding-right: 10px;
      }
      .ntable-col-r {
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}

.range {
  position: relative;
  width: 100%;
  height: 6px;
  color:#000!important;
  background-color:#236495!important;
  border-radius: 3px;
  &__value-one {
    height: 6px;
    color:#fff!important;
    background-color: #a0e9f9 !important;
    border-radius: 33px;
    z-index: 4;
    position: absolute;
    top: 0;
  }
  &__value-two {
    height: 6px;
    color:#fff!important;
    background-color: #62a7c7!important;
    border-radius: 33px;
    position: absolute;
    top: 0;
    z-index: 3;
  }
}

.product-ingredients {
  padding: 30px 60px;
  text-align: center;
  border: 1px dashed rgba(255, 255, 255, 0.41);
  border-radius: 20px;

  &__title {
    margin: 0;
    font-family: 'Caveat Brush', cursive;
    @include fontSize(44);
    @include lineHeight(44, 44);
    font-weight: normal;
  }
  &__content {}
}

.product-image {
  text-align: center;
  margin: 15px 0;
  &__img {
    max-width: 50%;
    height: auto;
    //transform: scale(1.5);
  }
}

.product-data {
  text-align: center;

  &__title {
    margin: 10px 0;
    font-family: 'Mogra', cursive;
    @include fontSize(44);
    @include lineHeight(44, 44);
    text-transform: uppercase;
    color: #a0e9f9;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
  }
  &__subtitle {
    margin: 6px 0 26px 0;
    font-family: 'Caveat Brush', cursive;
    @include fontSize(36);
    @include lineHeight(36, 36);
    font-weight: normal;
  }
  &__meta {
    @include fontSize(21);
    @include lineHeight(21, 21);
    font-style: italic;
  }
}


@media (max-width: 780px) {
  .animal-kingdom {
    .content-inner {
      max-width: 90vw;
      transform: translateY(0);
      .zc-logo-img {
        margin-bottom: 10px;
      }
    }
    &__slider {
      .animal-kingdom-slider-button-prev,
      .animal-kingdom-slider-button-next {
        top: 90vw;
      }
      .animal-kingdom-slider-button-prev {
        left: 3vw;
      }
      .animal-kingdom-slider-button-next {
        right: 3vw;
      }
    }
  }
  .animal-kingdom-slider__window {
    left: 10vw;
    width: 90vw;
    height: 90vw;
    background-size: 90vw 90vw;
  }
  .animal-kingdom-slide {
    padding-top: 3vw;
    padding-bottom: 0;
  }
}

@media (max-aspect-ratio: 1920/1380) and (max-width: 1023px) {
  .animal-kingdom {
    .content-inner {
      max-width: 90vw;
      transform: translateY(0);
      .zc-logo-img {
        margin-bottom: 10px;
      }
    }
    &__hero {
      height: 50vh;
    }
    &__cloud-1 {
      top: 20vh;
    }
    &__cloud-2 {
      top: 25vh;
    }
    &__cloud-3 {
      top: 30vh;
    }
    &__seagull {
      top: 10vh;
      transform: scale(2);
      transform-origin: left top;
    }
    #element { 
      display: none; 
    }
    &__slider {
      .animal-kingdom-slider-button-prev,
      .animal-kingdom-slider-button-next {
        top: 42vw;
        transform: scale(0.75);
      }
    }
  }
  .animal-kingdom-slider__window {
    left: 0;
    width: 90vw;
    height: 90vw;
    background-size: 90vw 90vw;
  }
  .animal-kingdom-slide {
    padding-top: 3vw;
    padding-bottom: 0;
  }
  .product-ingredients { padding: 20px; }
}
