.games {
  &__wrapper {
    //  1920 x 1440
    position: fixed;
    width: 100vw;
    height: calc( 144000vw / 1920 );
    bottom: 0;
    left: 0;
    margin-top: calc( -144000vw / 1920 / 2 );
    background-size: cover;
    .zirafa {
      position: absolute;
      left: calc( 8000vw / 1920 );
      bottom: calc( 13000vw / 1920 );
      height: calc( 69400vw / 1920 );
      width: calc( 47900vw / 1920 );
      background-size: calc(1293300vw / 1920) calc(69400vw / 1920);
      animation: sprite 3s steps(26, end) infinite;
      &:after {
        content: '';
        display: block;
        width: 20vw;
        height: 2vw;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.2);
        position: absolute;
        bottom: -0.5vw;
        z-index: -1;
        left: 5vw;
      }
      .speech-bubble-wrapper {
          top: calc(-18000vw / 1920);
          left: calc(40000vw / 1920);
      }
    }
  }
  &__slider {
    width: calc( 42200vw / 1920 );
    height: calc( 40100vw / 1920 );
    bottom: calc( 12000vw / 1920 );
    left: calc( 74900vw / 1920 ); // calc( (1920 / 2 - 422 / 2) * 100vw / 1920 )
    position: absolute;
    background-size: cover;
  }
  .game-slide {
    &__link {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
    &__title {
      margin: calc(6000vw / 1920) 0 0 0;
      font-family: 'Mogra', cursive;
      font-size: calc(6000vw / 1920);
      line-height: calc(6000vw / 1920);
      color: #c3e762;
      --p: calc(200vw / 1920);
      --n: calc(-200vw / 1920);
      text-shadow: var(--n) var(--n) 0 #661521, var(--p) var(--n) 0 #661521, var(--n)  var(--p) 0 #661521, var(--p)  var(--p) 0 #661521;
    }
    &__subtitle {
      margin: calc(3000vw / 1920) 0 0 0;
      font-family: 'Caveat Brush', cursive;
      font-size: calc(4000vw / 1920);
      line-height: calc(4000vw / 1920);
      color: #125b77;
    }
    &__play {
      margin: calc(6000vw / 1920) 0 0 0;
      width: calc(10000vw / 1920);
      height: calc(7800vw / 1920);
      display: block;
      transition: all 0.3s ease-in-out;
      background-size: cover;
      transform: scale(1);
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .games-slider-button-prev,
  .games-slider-button-next {
    width: calc(10000vw / 1920);
    height: calc(7800vw / 1920);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    &:hover {
      transform: scale(1.1);
    }
  }
  .games-slider-button-prev {
    left: calc(-2000vw / 1920);
    background-image: url(../../../images/optimized/buttons/button-left.svg);
  }
  .games-slider-button-next {
    right: calc(-2000vw / 1920);
    background-image: url(../../../images/optimized/buttons/button-right.svg);
  }
  .games__close {
    position: absolute;
    top: 5vh;
    right: 5vw;
    width: calc(19500vw / 1920 * 0.72);
    height: calc(15000vw / 1920 * 0.72);
    background-size: cover;
    z-index: 10;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .btn {
    opacity: 1;
  }
  &__zirafa {
    position: absolute;
    left: 2vw;
    bottom: 4vh;
  }
  &__container {
    position: fixed;
    bottom: 3vh;
    right: calc(50vw - 85vh * 1.4 / 2);
    width: calc(85vh * 1.4);
    height: 85vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    .games__canvas-wrapper {
      position: absolute;
      left: 50%;
      top: 48%;
      margin-left: calc(-31vh * 4 / 3);
      margin-top: -31vh;
      width: calc(62vh * 4 / 3);
      height: 62vh;
      #game {
        position: relative; 
        width: 100%; 
        height: 100%;
        canvas {
          margin: 0 !important;
        }
      }
    }
  }
  .swiper-container {
    overflow: visible;
  }
}

.game-memory {
  .grid {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .card {
      position: relative;
      -webkit-transition: all .4s linear;
      -o-transition: all .4s linear;
      transition: all .4s linear;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      margin: 5px;
  }

  .card,
  .back,
  .front {
      height: calc(62vh * 4 / 3 / 6);
      width: calc(62vh * 4 / 3 / 7);
      cursor: pointer;
  }

  .back,
  .front {
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }

  .front {
      background: url('../../../images/games/memory/00_bckgrnd.png') no-repeat center center / contain;
  }

  .back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      background-color: rgba(101, 137, 249, 0);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
  }

  .selected {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }

  .match .front {
      background: transparent !important;
  }

  .games-slider-container { 
    overflow: visible !important; 
  }
}

@media (max-aspect-ratio: 1920/1441) {
  .games {
    &__wrapper {
      width: 100vw;
      height: 100vh;
      margin-top: 0;
      top: 0;
      left: 0;
      background-position: center;
      .zirafa {
        display: none;
      }
    }
    &__slider {
      transform-origin: center bottom;
      bottom: 12vh;
      transform: scale(3);
    }
    &__container {
      bottom: calc(40vh - 50vw / 1.4);
      right: -10vw;
      width: 120vw;
      height: calc(120vw / 1.4);
      .games__canvas-wrapper {
        left: 0;
        top: 0;
        margin-left: 20vw;
        margin-top: 10vw;
        width: 80vw;
        height: calc(80vw * 3 / 4);
      }
    }
    .games-slider-button-prev,
    .games-slider-button-next {
      margin-top: 0;
    }
    .games__close {
      top: -5vh;
      right: 15vw;
      width: 19.5vw;
      height: 15vw;
    }
  }
  .game-memory {
    .card,
    .back,
    .front {
        height: calc(100vw / 8);
        width: calc(100vw / 10);
        cursor: pointer;
    }
  }
}

@media (max-aspect-ratio: 1920/1441) and (min-width: 768px ) {
  .games {
    &__slider {
      bottom: 6vh;
      transform: scale(2.5);
    }
  }
}

@media (max-aspect-ratio: 1920/1441) and (min-width: 1024px ) {
  .games {
    &__slider {
      bottom: 2vh;
      transform: scale(2);
    }
  }
}

/* The Close Button */
// .close {
//   color: white;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }

// .close:hover,
// .close:focus {
//   color: #000;
//   text-decoration: none;
//   cursor: pointer;
// }


// .modal-body {padding: 2px 16px;}

/* The Modal (background) */
// .modal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   padding-top: 100px; /* Location of the box */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
// }

/* Modal Content */
// .modal-content {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   margin: auto;
//   padding: 0;
//   width: 80%;
//   height: 80vh;
//   -webkit-animation-name: animatetop;
//   -webkit-animation-duration: 0.4s;
//   animation-name: animatetop;
//   animation-duration: 0.4s;

//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover !important;
// }

/* Add Animation */
//@-webkit-keyframes animatetop {
//  from {top:-300px; opacity:0}
//  to {top:0; opacity:1}
//}
//
//@keyframes animatetop {
//  from {top:-300px; opacity:0}
//  to {top:0; opacity:1}
//}
