.homepage {
  &__fixedbg {
    // 1920 x 1389 - nakon što omjer prijeđe u vertikalnije od ovog treba odraditi neki media query magic
    position: fixed;
    width: 100vw;
    height: calc( 138900vw / 1920 );
    top: 50%;
    left: 0;
    margin-top: calc( -138900vw / 1920 / 2 );
    background-size: cover;
    .lion {
      // single frame size 628 x 366
      // 300 from left (relative to fixed background)
      // 260 from bottom (relative to fixed background)
      // full width 9882
      position: absolute;
      left: calc( 30000vw / 1920 );
      bottom: calc( 26000vw / 1920 );
      height: calc( 62800vw / 1920 );
      width: calc( 36600vw / 1920 );
      background-repeat: no-repeat;
      background-size: calc(988200vw / 1920) calc(62800vw / 1920);
      &.lion--animate { 
        animation: sprite 2.5s steps(26, end) infinite;
      }
      &:after {
        content: '';
        display: block;
        width: 14vw;
        height: 3vw;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.2);
        position: absolute;
        bottom: 0.5vw;
        z-index: -1;
        left: 1vw;
        transform: rotate(11deg);
      }
      .speech-bubble-wrapper {
          top: calc(-14000vw / 1920);
          left: calc(13000vw / 1920);
      }
    }
  }
  &__parallax {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
  }
  &__scrollable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__scrollable-more {
    display: none;
    position: fixed;
    bottom: 10px;
    z-index: 89;
    cursor: pointer;
  }
}

@media (max-aspect-ratio: 1920/1380) {
  .homepage {
    &__fixedbg {
      width: 100vw;
      height: 100vh;
      margin-top: 0;
      top: 0;
      left: 0;
      background-position: center;
      
      .lion {
        display: none;
      }
    }
    &__scrollable {
      transform: scale(3);
      width: 33.333333%;
      overflow: hidden;
      justify-content: flex-start;
      transform-origin: center top;
    }
    &__parallax {
      background: none !important;
      align-items: flex-start;
    }
  }
}

@media (max-aspect-ratio: 1920/1380) and (min-width: 768px ) {
  .homepage {
    &__scrollable {
      transform: scale(2);
      width: 50%;
    }
  }
}

@media (max-aspect-ratio: 1920/1380) and (min-width: 1024px ) {
  .homepage {
    &__scrollable {
      transform: scale(1.5);
      width: 66.666666%;
    }
  }
}
