/* stylelint-disable */
// Vendors - node modules
@import 'normalize-scss';
@include normalize();
//@import '~media-blender';



@font-face {font-family: "Trattatello";
  src: url("../fonts/trattatello/05289e866fe7e1e99d27a7a31f8d3b66.eot"); /* IE9*/
  src: url("../fonts/trattatello/05289e866fe7e1e99d27a7a31f8d3b66.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/trattatello/05289e866fe7e1e99d27a7a31f8d3b66.woff2") format("woff2"), /* chrome firefox */
  url("../fonts/trattatello/05289e866fe7e1e99d27a7a31f8d3b66.woff") format("woff"), /* chrome firefox */
  url("../fonts/trattatello/05289e866fe7e1e99d27a7a31f8d3b66.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("../fonts/trattatello/05289e866fe7e1e99d27a7a31f8d3b66.svg#Trattatello") format("svg"); /* iOS 4.1- */
}


@import '~swiper/dist/css/swiper.min.css';

@mixin fontSize($sizeValue) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 16) + rem;
}

//
// line height
@mixin lineHeight($heightValue, $fontSize) {
  line-height: ($heightValue / $fontSize) + em;
}

// Utils
@import 'utils/colors';
//@import 'utils/shared-variables';
//@import 'utils/functions';
//@import 'utils/mixins';
//@import 'utils/keyframes';
//@import 'utils/helpers';
//@import 'utils/z-indexes';
//@import 'utils/placeholders';

// Config
//@import 'core';

// Icons
//@import 'components/icons/icons';

// Typography
//@import 'components/typography/typography';
//@import 'components/typography/content-media-style';
//@import 'components/typography/content-typography-style';

// Buttons
@import 'components/buttons/buttons';

// Forms
//@import 'components/forms/form';
//@import 'components/forms/checkbox';
//@import 'components/forms/radio';
//@import 'components/forms/label';
//@import 'components/forms/input';

// Header
@import 'components/header/wp-admin-bar';
@import 'components/header/header';
@import 'components/header/logo';

// Footer
@import 'components/footer/footer';

// Article
// @import 'components/article/article-list';
// @import 'components/article/article-grid';
// @import 'components/article/article-empty';
@import 'components/article/article';

// Layout
// @import 'components/layout/layout-list';
// @import 'components/layout/layout-grid';

// Sections
@import 'components/sections/sections';



@import 'pages/homepage';
@import 'pages/games';
@import 'pages/animal-kingdom';
@import 'components/sections/timemachine';


// Template parts
// @import 'components/parts';

// Single
//@import 'components/single';

// Pages
// @import 'components/pages/';

.animsition-overlay-slide {
  z-index: 9999 !important;
}
.page-template-front-page {
  .animsition-overlay-slide {
    background-image: linear-gradient(#62944f, #1f5a31);
  }
}
.page-template-template-games-page {
  .animsition-overlay-slide {
    background-color: #daf058 !important;
  }
}
.game-image-puzzles {
  .animsition-overlay-slide {
    background-color: #daf058 !important;
  }
}
.game-bejeweled {
  .animsition-overlay-slide {
    background-color: #daf058 !important;
  }
}
.time-machine-page {
  .animsition-overlay-slide {
    background-image: linear-gradient(#5289C8, #41DAE5);
  }
}

.page-template-template-animal-kingdom-page {
  .animsition-overlay-slide {
    //background-color: #0d84e3 !important;
    background-image: linear-gradient(#0d84e3, #41DAE5);
  }
}

// .anchor-nav {
//   a {
//     font-family: 'Gotham Rounded Book';
//     @include fontSize(16);
//     @include lineHeight(16, 16);
//     background-color: #a1b530;
//     padding: 10px;
//     border-radius: 5px;
//     text-decoration: none;
//   }
//   a.active {
//     background-color: #f21d54 !important;
//     color: white !important;
//   }
// }

// resize
.resize {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: cyan;
  &__box {
    background-color: white;
  }
}

@keyframes sprite { 
  0% { 
    background-position: 0 0; 
  } 
  100% { 
    background-position: right 0; 
  } 
}

#cookie-popup a { text-decoration: none; color: #900; }

* { outline: none !important;  }


.speech-bubble-wrapper {
  position: absolute;
  top: calc(-18000vw / 1920);
  left: calc(13000vw / 1920);
  .speech-bubble {
    position: relative;
    //background: #ffffff;
    //border-radius: calc( 2500vw / 1920 );
    //padding: calc( 2000vw / 1920 );
    text-align: center;
    &__top {
      width: calc(26700vw / 1920);
      height: calc(5100vw / 1920);
      background: url('../../../images/buble/txt_bubble_mid_top.png') no-repeat bottom left;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    &__mid {
      width: calc(26700vw / 1920);
      //height: calc(10600vw / 1920);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: url('../../../images/buble/txt_bubble_mid_dotted.png') repeat-y bottom left;
      background-size: calc(26700vw / 1920);
    }
    &__bottom {
      width: calc(26700vw / 1920);
      height: calc(8800vw / 1920);
      background: url('../../../images/buble/txt_bubble_mid_bottom.png') no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    //&::after {
    //  content: '';
    //  position: absolute;
    //  bottom: 0;
    //  left: 50%;
    //  width: 0;
    //  height: 0;
    //  border: calc( 4000vw / 1920 ) solid transparent;
    //  border-top-color: #ffffff;
    //  border-bottom: 0;
    //  border-left: 0;
    //  margin-left: calc( -2000vw / 1920 );
    //  margin-bottom: calc( -4000vw / 1920 );
    //}
    &__title,
    &__subtitle {
      margin: 0;
      padding: 0 30px;
      display: block;
    }
    &__title {
      font-family: 'Caveat Brush', cursive;
      color: #3b2c2c;
      font-size: calc( 3600vw / 1920 );
      line-height: calc( 3600vw / 1920 );
      margin-bottom: calc( 1000vw / 1920 );
      letter-spacing: calc( -200vw / 1920 );
    }
    &__subtitle {
      font-family: 'Gotham Rounded Book', sans-serif;
      color: black;
      font-size: calc( 1600vw / 1920 );
      line-height: calc( 2300vw / 1920 );
    }
  }
}


canvas.ak {
  display: block;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
}