@import '~sanitize.css';
@mixin fontSize($sizeValue) {
  font-size: $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
}
@mixin lineHeight($heightValue, $fontSize) {
  line-height: ($heightValue / $fontSize) + em;
}
// components
@import "components/sections";




body.page-template-front-page {
  overflow-x: hidden;
  overflow-y: hidden;
}
body.page-template-template-animal-kingdom-page {
  overflow-x: hidden;
  //overflow-y: hidden;
}

.scrolable {
  width: 100%;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  z-index: 88;
  .box--subhero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
  }
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}



body.page-template-template-timeline-page {
  overflow: hidden;
}



//.
.timemachine {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#5289C8, #41DAE5, #90F1FF, #DDFFFF);

  &__planine01 {
    width: 100vw;
    height: 300px;
    position: absolute;
    bottom: 175px;
  }

  &__planine02 {
    width: 100vw;
    height: 274px;
    position: absolute;
    bottom: 175px;
  }

  &__planine03 {
    width: 100vw;
    height: 270px;
    position: absolute;
    bottom: 175px;
  }

  &__drvo01 {
    width: 404px;
    height: 365px;
    position: absolute;
    bottom: 163px;
    right: -90px;
    z-index: 7;
  }
  &__drvo01-kamen {
    width: 139px;
    height: 78px;
    position: absolute;
    bottom: 163px;
    right: 85px;
    z-index: 7;
  }


  &__drvo02 {
    width: 411px;
    height: 424px;
    position: absolute;
    bottom: 123px;
    right: 195px;
    z-index: 7;
    transform: scale(0.8);
  }
  &__drvo02-kamen {
    width: 111px;
    height: 67px;
    position: absolute;
    bottom: 163px;
    right: 425px;
    z-index: 7;
  }


  &__drvo03 {
    width: 312px;
    height: 374px;
    position: absolute;
    bottom: 163px;
    right: 50%;
    z-index: 7;
  }
  &__drvo03-kamen {
    width: 186px;
    height: 63px;
    position: absolute;
    bottom: 163px;
    right: 50%;
    z-index: 7;
  }


  &__tree-center {
    width: 312px;
    height: 374px;
    position: absolute;
    bottom: 110px;
    right: 50%;
    z-index: 7;
    transform: scale(.7);
  }
  &__tree-center-stone {
    width: 186px;
    height: 63px;
    position: absolute;
    bottom: 145px;
    right: calc(50% + 70px);
    z-index: 7;
  }


  &__tree-left {
    width: 312px;
    height: 374px;
    position: absolute;
    bottom: 163px;
    left: 30px;
    z-index: 7;
  }
  &__tree-left-stone {
    width: 186px;
    height: 63px;
    position: absolute;
    bottom: 163px;
    left: -65px;
    z-index: 7;
  }

  // cloud right
  &__cloud-right {
    width: 208px;
    height: 96px;
    position: absolute;
    bottom: 570px;
    right: 165px;
    z-index: 7;
    transform: scale(1.4);
  }

  // cloud left
  &__cloud-left {
    width: 208px;
    height: 96px;
    position: absolute;
    bottom: 450px;
    left: 410px;
    z-index: 7;
    transform: scale(1);
  }

  // bush left
  &__bush-left {
    width: 463px;
    height: 97px;
    position: absolute;
    bottom: 175px;
    left: 150px;
    z-index: 0;
  }

  // bush right
  &__bush-right {
    width: 463px;
    height: 97px;
    position: absolute;
    bottom: 175px;
    right: -360px;
    z-index: 0;
  }


  .panda {
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    position: absolute;
    bottom: 130px;
    left: 260px;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  &__tlo {
    width: 100vw;
    height: 179px;
    position: absolute;
    bottom: 0;
    border-bottom: 50px solid #142816;
  }

  &__timeline {
    position: relative;
    width: 70%;
    height: 12px;
    border-radius: 6px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: linear-gradient(#90F1FF, #41DAE5);
    z-index: 7;

    .current-year {
      position: absolute;
      background-color: #395952;
      background-image: linear-gradient(#C5D93D, #5A6F16);
      width: 200px;
      height: 12px;
      border-radius: 6px;
      display: block;
    }
  }
}