//Base
$base-font-family: 'Open Sans', Arial, sans-serif;
$base-icons-font-family: 'ams';

// Container
$base-content-padding: 15px;
$base-content-full-width: 1200px;
$base-content-width: $base-content-full-width + ($base-content-padding*2);

//Typography
$typography-map: (
  mobile: (
    giant:          72px,
    huge:           42px,
    biggest:        30px,
    bigger:         28px,
    big:            26px,
    largest:        24px,
    larger:         22px,
    large:          20px,
    default:        18px,
    medium:         16px,
    small:          14px,
    smaller:        12px,
    tiny:           11px
  )
);

// Buttons
$button-size-map: (
  mobile: (
    default: (
      text-size: 14px,
      line-height: 1.4,
      height: 64px,
    )
  )
);

//Section
$section-spacing-map: (
  mobile: (
    default:    40px,
    medium:     80px,
    small:      20px,
    no-spacing: 0
  )
);

//WP admin bar
$wpAdminBar-sm: 782px;

// Forms
$form-field-spacing: 30px;

// Input
$input-height-map: (
  mobile: (
    default: (
      text-size: 18px,
      height: 57px,
    )
  )
);
