.article {
    position: relative;
    transition: opacity 1s ease-in-out;
    margin: calc(6000vw / 1920) 0;
    background-size: cover;
    text-align: center;
    &:first-child {
        margin-top: calc(25000vw / 1920);
    }
    &:last-child {
        margin-bottom: calc(25000vw / 1920);
    }
    .article__link {
        position: relative;
        width: 100%;
        img { 
            width: 100%;
            height: auto;
        }
        &:hover {
            .article__button {
                transform: scale(1.1);
            }
        }
    }
    &--hero {
        width: calc(76000vw / 1920);
        height: calc(44100vw / 1920);
        .article__link .article__image {
            height: calc(22000vw / 1920);
            width: 100%;
        }
    }
    &--subhero {
        width: calc(60000vw / 1920);
        height: calc(32600vw / 1920);
        .article__link .article__image {
            height: calc(11500vw / 1920);
            width: 100%;
        }
        .article__button {
            margin-top: calc(2000vw / 1920);
        }
    }
    &--subhero--wood-v2 {
        width: calc(57500vw / 1920);
        height: calc(30900vw / 1920);
        .article__title {
            position: relative;
            top: calc(5000vw / 1920);
        }
    }
    &--hiden {
        opacity: 0;
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    &__title {
        font-family: 'Mogra', cursive;
        font-size: calc(4500vw / 1920);
        line-height: calc(7000vw / 1920);
        height: calc(10000vw / 1920);
        margin: 0;
        color: #e3b542;
        --p: calc(200vw / 1920);
        --n: calc(-200vw / 1920);
        text-shadow: var(--n) var(--n) 0 #342826, var(--p) var(--n) 0 #342826, var(--n)  var(--p) 0 #342826, var(--p)  var(--p) 0 #342826;
        text-transform: uppercase;
    }
    &__subtitle {
        font-family: 'Mogra', cursive;
        font-size: calc(2500vw / 1920);
        line-height: calc(2500vw / 1920);
        margin: 0;
        color: #e35884;
    }
    &__button {
        width: calc(14000vw / 1920);
        height: calc(10000vw / 1920);
        display: block;
        transition: all 0.3s ease-in-out;
    }
}