{% extends "templates/base.twig" %}

{% block content %}

    <div class="page-header">
        <h1>{{ post.title }}</h1>
    </div>

    <div class="alert alert-warning">
        {{ __('Sorry, but the page you were trying to view does not exist.', 'theme') }}
    </div>

    <div class="page-header">
        <h1>{{ post.title }}</h1>
    </div>

    {{ function('get_search_form') }}

{% endblock %}