<!doctype html>
<html {{ function('language_attributes') }} class="">
{% include 'templates/includes/head.twig' %}
<style>
    html.debug::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url({{ theme.link }}/images/reze.png) no-repeat top center;
        z-index: 89;
    }
</style>
{% block style %}{% endblock %}
<body {{ function('body_class') }}>

    <div class="" data-animsition-overlay="">
        <!-- mani menu -->
        {% include 'templates/includes/header.twig' %}
        <!-- mani menu -->

        {% block content %}{% endblock %}

        <!-- footer menu -->
        {% include 'templates/includes/footer-menu.twig' %}
        <!-- footer menu -->

        {% include 'templates/includes/footer.twig' %}

        {% block scripts %}
            <script>
                $(document).ready(function() {

                });
            </script>
            {#<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>#}
        {% endblock %}
    </div>


</body>
</html>