{% extends "templates/base.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-transform: capitalize;">{{ page_title|replace({'-': ' '}) }}</h2>

                {% if posts %}
                    <ul>
                        {% for post in posts %}
                            <li>
                                <a href="{{ post.link }}">{{ post.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        <strong>Warning!</strong> No posts in this category.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}