{% extends "templates/base.twig" %}

{% block content %}
    <section class="section section--main" style="background: url({{ theme.link }}/images/assets/jungle_bck.png) no-repeat center center fixed; background-size: cover;">

        <!-- logo -->
        <span class="span span--logo" style="width: 350px;">
            <a href="{{ site.url }}">
                <svg viewBox="0 0 640 264.46">
                    <style>
                        .st0{fill: #eab339}
                        .st1{fill:#fff}
                    </style>
                    <path class="st0" d="M97.7 80.9c-8.15 7.36-8.05 19.3-4.02 27.97 4.03 8.67 11.59 17.66 28.86 15.1 21.96-3.26 32.89-8.69 41.54-14.55 8.65-5.86 10.31-14.02 2.09-25.87-8.22-11.85-16.78-15.39-36.92-13.33-13.96 1.43-25.03 4.8-31.55 10.68z"/>
                    <path class="st1" d="M118.8 92.73l-2.92 12.16-3.22.53-3.41-6.01-1.27 6.78-3.2.52L98.8 96.2l4.44-1.39 3.04 6.55 1.33-7.02 3.01-.49 3.35 6.26 1.08-7.22 3.75-.16z"/>
                    <path class="st1" d="M137.93 89.61l-2.92 12.16-3.22.53-3.41-6.01-1.27 6.78-3.2.52-5.97-10.5 4.44-1.39 3.04 6.55 1.33-7.02 3.01-.49 3.35 6.26 1.08-7.22 3.74-.17z"/>
                    <path class="st1" d="M157.05 86.49l-2.92 12.16-3.22.53-3.41-6.01-1.27 6.78-3.2.52-5.97-10.5 4.44-1.39 3.04 6.55 1.33-7.02 3.01-.49 3.35 6.26 1.08-7.22 3.74-.17zM163.46 95.13c.1.62-.02 1.16-.35 1.63-.34.47-.81.75-1.43.85-.62.1-1.17-.01-1.65-.34s-.77-.78-.87-1.37c-.11-.66.01-1.24.35-1.72.34-.48.84-.78 1.51-.89a2 2 0 0 1 1.59.38c.46.35.75.84.85 1.46z"/>
                    <path d="M145.52 135.28c-1.55-1.82-3.76-2.77-6.28-2.75h-.07c-2.61.16-4.78 1-6.3 2.61l-.02.02-.02.02c-1.56 1.81-2.32 4.16-2.31 6.86v38.55c-.01 2.7.75 5.04 2.31 6.85l.02.02.02.02c1.62 1.73 3.82 2.62 6.32 2.62h.13c2.61-.16 4.78-1 6.3-2.62l.02-.02.02-.02c1.56-1.81 2.32-4.16 2.31-6.85V142c-.09-2.73-.87-5.04-2.45-6.72zm280.17.01c-1.55-1.82-3.76-2.77-6.27-2.75h-.07c-2.61.16-4.78 1-6.3 2.61l-.02.02-.02.02c-1.56 1.81-2.32 4.16-2.31 6.86v38.55c-.01 2.7.75 5.04 2.31 6.86l.02.02.02.02c1.62 1.73 3.82 2.62 6.32 2.62h.12c2.61-.16 4.78-1 6.3-2.62l.02-.02.02-.02c1.56-1.81 2.32-4.16 2.31-6.86v-38.59c-.08-2.74-.87-5.05-2.45-6.72zm74.15 34.39c-1.68-1.68-3.79-2.59-6.1-2.57-1.85 0-3.65.67-5.3 1.91l-3.84 2.71c-1.29.83-2.98 1.29-5.16 1.29-3.48-.15-6.24-1.25-8.46-3.32-2.32-2.48-3.42-5.19-3.43-8.32.08-3.3 1.23-5.99 3.53-8.31 2.48-2.33 5.23-3.44 8.45-3.45 2.65.01 4.95.82 7.05 2.49l.01.01h.01c2.37 1.81 4.47 2.83 6.47 2.84h.06c2.6-.16 4.75-.95 6.28-2.48l.01-.01.01-.01c1.62-1.69 2.47-3.8 2.46-6.12v-.06c-.17-2.78-1.58-5.29-4.01-7.4-2.6-2.22-5.52-3.93-8.75-5.12h-.01c-3.3-1.19-6.69-1.78-10.14-1.78h-.02c-7.92.07-14.79 2.98-20.39 8.64l-.01.01-.01.01c-5.59 5.86-8.44 12.76-8.43 20.47v.02c.14 8.07 3.02 15.04 8.55 20.69 5.67 5.73 12.61 8.65 20.59 8.65h.07c5.05-.08 10.09-1.54 15.08-4.35l.01-.01h-.01c2.58-1.49 4.56-3.05 5.94-4.75 1.37-1.69 2.12-3.57 2.12-5.52v-.04c-.09-2.5-.96-4.62-2.63-6.12zm-296.29-34.32l-.02-.03-.02-.03c-1.57-1.83-3.79-2.78-6.33-2.77-1.78 0-3.4.45-4.73 1.4-.99.7-1.8 1.64-2.44 2.8-2.21-1.59-4.39-2.72-6.55-3.35-2.4-.79-5.05-1.19-7.94-1.19-6.95-.01-12.92 2.65-17.64 7.86-4.67 5.13-7 11.63-6.99 19.28-.01 7.5 2.37 13.86 7.13 18.84v.01l.01.01c4.87 4.97 10.86 7.5 17.73 7.49h.03c4.45-.13 8.63-1.35 12.48-3.62-.18 3.32-1.03 5.72-2.42 7.29-1.53 1.74-3.8 2.66-7.13 2.67-2.84-.08-5.29-.84-7.46-2.31-2.41-1.72-3.99-2.74-5.07-3.17-.98-.47-2.14-.66-3.51-.66h-.04c-2.35.08-4.41.91-5.97 2.48l-.02.02-.02.02c-1.53 1.68-2.34 3.74-2.33 5.97v.04c.15 4.17 2.75 7.62 7.27 10.12 4.66 2.68 10.17 4.01 16.46 4.01h.01c8.83-.07 15.75-2.5 20.51-7.38l.01-.01c4.83-5.03 7.19-12.14 7.18-21.12v-37.25c-.18-3.15-.85-5.64-2.19-7.42zM186 166.06c-1.94 1.92-4.2 2.85-7.05 2.86-2.87-.15-5.17-1.09-7.1-2.87-1.92-2.01-2.84-4.32-2.86-7.16.15-3.03 1.14-5.32 2.96-7.08 2.02-1.94 4.3-2.86 7.07-2.88 2.95.08 5.17 1.05 6.95 2.95l.01.01.01.01c1.93 2.02 2.86 4.34 2.88 7.19-.09 2.87-1.03 5.12-2.87 6.97zm59.3-16.3c2-1.99 3.07-4.45 3.06-7.15v-.03c-.07-2.9-1.16-5.43-3.18-7.35-2.07-2-4.68-3.04-7.58-3.03-4.13-.01-7.99 1.43-11.47 4.22-1.78-2.51-4.29-3.9-7.24-3.88h-.06c-3 .15-5.36 1.12-6.7 3.1l-.01.01-.01.01c-1.32 2.12-1.88 5.1-1.89 9v35.94c-.01 2.75.75 5.11 2.33 6.86 1.5 1.77 3.71 2.66 6.27 2.66h.13c2.62-.16 4.81-1 6.34-2.61l.02-.02.02-.02c1.57-1.81 2.34-4.16 2.33-6.86v-25c.03-2.23.33-3.84.77-4.75.22-.46.45-.73.67-.88.22-.15.43-.22.76-.23.53-.01 1.36.24 2.39.87l1.97 1.16.03.02c1.11.55 2.42.8 3.9.8h.03c2.79-.07 5.23-1.01 7.09-2.8l.03-.04zm41.07-12.72c-3.79-4-9.81-5.87-17.85-5.87-5.43 0-9.97.92-13.59 2.83l-.01.01-.01.01c-3.52 1.95-5.58 4.68-5.56 7.95v.08c.16 2.03.75 3.75 1.85 5.03l.04.04.04.04c1.34 1.26 3.11 1.9 5.07 1.89h.06l.06-.01c.7-.08 1.43-.17 2.2-.29.83-.12 1.71-.34 2.66-.66l3.64-1.02.02-.01c.36-.12 1-.27 1.88-.41l.08-.02.08-.03c.39-.13.67-.17.79-.17h.88c2.35.14 3.75.74 4.32 1.44l.01.02.02.02c.57.59 1.02 2.94 1.21 4.6-3.51-1.63-6.87-2.47-10.07-2.47h-.03c-6.05.15-11.09 2.16-14.86 6.02-3.92 3.98-5.9 9.06-5.89 14.98v.03c.15 5.89 2.03 9.59 5.65 13.36l.01.01c3.81 3.9 8.57 5.9 14.04 5.9H263.18c4.3-.07 8.49-1.56 12.5-4.39 1.77 2.68 4.34 4.19 7.38 4.16h.02c2.84-.03 5.21-1.03 6.74-3.01 1.52-1.98 2.19-4.74 2.19-8.21v-23.34c-.15-8.44-1.93-14.64-5.64-18.51zm-13.03 37.58c-1.43 1.34-3.05 1.98-5.1 2-2.48-.17-4.21-.91-5.42-2.11-1.42-1.43-2.1-3.13-2.12-5.39.01-2.28.67-3.93 1.98-5.26 1.55-1.53 3.21-2.23 5.24-2.25 2.35.1 3.98.83 5.23 2.2l.02.02.02.03c1.41 1.42 2.1 3.16 2.12 5.52-.01 2.26-.66 3.91-1.97 5.24zm50.56-42.43h-.02c-8.35.15-15.44 3.08-21 8.74-5.65 5.72-8.51 12.76-8.5 20.9v.01c.07 8.06 2.98 14.93 8.64 20.34 5.71 5.49 12.77 8.27 20.96 8.27h.07c8.05-.15 14.96-2.96 20.53-8.39l.01-.01c5.65-5.63 8.52-12.49 8.51-20.34.01-8.21-2.85-15.26-8.51-20.9-5.72-5.72-12.7-8.63-20.69-8.62zm10 38.95c-2.81 2.69-6.03 3.98-9.94 4-4.23-.18-7.58-1.51-10.28-4.01-2.9-2.81-4.26-5.9-4.27-9.55.1-4.26 1.51-7.63 4.29-10.4 2.91-2.87 6.22-4.25 10.22-4.26 4.11.1 7.31 1.49 9.93 4.23l.01.01c2.8 2.88 4.16 6.21 4.17 10.27-.01 3.88-1.34 7.01-4.13 9.71zm114.96.59c-2.14-2.07-4.78-3.16-7.7-3.15h-.03c-3.1.07-5.78 1.14-7.8 3.17-2.09 2.07-3.17 4.73-3.16 7.71v.03c.07 3.04 1.14 5.7 3.15 7.78l.02.02.01.01c2.14 2.07 4.8 3.15 7.77 3.15h.07c3.09-.07 5.74-1.13 7.69-3.17 2.15-2.14 3.28-4.83 3.27-7.82v-.06c-.15-3.09-1.25-5.72-3.29-7.67zm-68.05-39.54h-.02c-7.52.15-13.73 2.74-18.34 7.75-4.69 5.15-7.02 11.79-7.02 19.73v20.93c-.01 2.76.75 5.11 2.34 6.86 1.5 1.76 3.7 2.65 6.26 2.65h.13c2.62-.16 4.81-1 6.34-2.61l.02-.02.02-.02c1.57-1.81 2.33-4.16 2.33-6.86v-22.37c.15-2.76.93-4.81 2.3-6.33 1.63-1.62 3.46-2.38 5.75-2.39 2.84.06 4.71.99 6.07 2.86 1.35 1.89 2.12 4.92 2.12 9.12v19.11c-.01 2.7.76 5.05 2.33 6.86l.02.02.02.02c1.65 1.74 3.88 2.62 6.41 2.61h.07c2.55-.16 4.7-1.01 6.22-2.61l.02-.02.02-.02c1.57-1.81 2.34-4.16 2.33-6.86v-20.47c.01-8.09-2.36-14.85-7.13-20.07-4.77-5.24-11.07-7.88-18.61-7.87zM551 155.56c-.16-8.44-1.94-14.65-5.65-18.52l.01.01c-3.79-4-9.82-5.88-17.86-5.88-5.43 0-9.97.92-13.59 2.83l-.01.01-.01.01c-3.52 1.95-5.58 4.68-5.56 7.95v.08c.16 2.03.75 3.75 1.85 5.03l.04.05.04.04c1.34 1.26 3.11 1.9 5.07 1.89h.06l.06-.01c.7-.08 1.43-.17 2.2-.29.83-.12 1.71-.34 2.66-.66l3.64-1.02.02-.01c.35-.12 1-.27 1.88-.41l.08-.02.08-.03c.39-.13.67-.17.79-.17h.88c2.36.14 3.75.74 4.32 1.44l.01.02.02.02c.57.59 1.02 2.94 1.21 4.6-3.51-1.63-6.87-2.47-10.07-2.47h-.03c-6.05.15-11.09 2.15-14.86 6.01-3.92 3.98-5.9 9.06-5.89 14.98v.03c.15 5.89 2.03 9.59 5.65 13.36l.01.01c3.81 3.9 8.57 5.9 14.04 5.9H522.16c4.3-.07 8.49-1.56 12.5-4.38 1.77 2.68 4.34 4.19 7.38 4.16h.02c2.84-.02 5.21-1.03 6.74-3.01 1.52-1.98 2.19-4.73 2.19-8.21v-23.32l.01-.02zm-18.68 19.06c-1.43 1.34-3.05 1.98-5.1 2-2.48-.17-4.21-.9-5.42-2.11-1.42-1.43-2.1-3.13-2.12-5.39.01-2.28.67-3.93 1.98-5.26 1.55-1.53 3.21-2.23 5.24-2.25 2.35.1 3.98.83 5.23 2.2l.02.03.02.02c1.41 1.42 2.1 3.16 2.12 5.52-.01 2.26-.66 3.91-1.97 5.24z"/><g>
                    <path class="st0" d="M144.41 138.19s-1.64-2.92-4.82-2.92c-2.48 0-5.34 1.96-5.66 3.79-.53 2.97-.77 22.22-.77 22.22s1.4-19.02 2.96-21.47c2.43-3.82 8.29-1.62 8.29-1.62zM424.52 138.34s-1.59-2.84-4.68-2.84c-2.41 0-5.18 1.9-5.49 3.67-.51 2.89-.75 21.57-.75 21.57s1.36-18.46 2.87-20.83c2.36-3.71 8.05-1.57 8.05-1.57zM484 136.33s-9.74-3.22-18.59 2.87c-8.33 5.74-10.52 17.14-10.52 17.14s5.61-10.45 12.74-15.11c7.75-5.06 16.37-4.9 16.37-4.9zM181.19 136.02s-9.45-2.6-17.59 3.65c-7.67 5.88-9.2 16.86-9.2 16.86s4.84-10.25 11.41-15.03c7.15-5.22 15.38-5.48 15.38-5.48zM222.84 136.72s-1.28-1.46-4.11-1.46c-2.21 0-4.66 1.46-5.01 3.79-.4 2.66-1.02 19.86-1.02 19.86s2.09-16.73 3.47-18.9c2.16-3.4 6.67-3.29 6.67-3.29zM229.26 138.39s.06-3.01 5.98-4.01c3.64-.61 6.22.97 6.22.97s-2.46-.61-5.82.08c-2.71.56-6.38 2.96-6.38 2.96zM251.79 142.54s-.91-3.94 4.39-7c4.54-2.62 13.73-2.69 13.73-2.69s-8.04 1.48-12.16 3.78c-3.24 1.82-5.96 5.91-5.96 5.91zM248.37 163.67s1.13-6.93 9.36-9.79c7.69-2.67 13.43.17 13.43.17s-6.39-3.23-15.94 3.21c-3.73 2.51-6.85 6.41-6.85 6.41zM299.25 155.03s-.16-8.92 11.58-16.28c8.33-5.22 18.51-2.17 18.51-2.17s-11.69-1.72-21.66 8.7c-4.99 5.21-8.43 9.75-8.43 9.75zM359.72 156.69s.85-9.42 6.02-14.54c5.39-5.33 11.7-6.65 16.61-6.53 4.91.12 9.06 2.01 9.06 2.01s-3.62-1.07-9.47-.81c-4.86.21-8.67 1.83-13.11 6.27-3.58 3.57-9.11 13.6-9.11 13.6zM511.24 142.1s-.69-3.98 4.76-6.75c4.67-2.37 13.86-1.94 13.86-1.94s-8.11 1.04-12.35 3.12c-3.34 1.64-6.27 5.57-6.27 5.57zM506.77 164.39s1.13-6.93 9.36-9.79c7.69-2.67 13.43.17 13.43.17s-6.39-3.24-15.94 3.2c-3.73 2.52-6.85 6.42-6.85 6.42z"/></g>
                </svg>
            </a>
        </span>
        <!-- logo -->

        <!-- jungle -->
        <span class="span span--parallax" style="background: url({{ theme.link }}/images/assets/jungle_front.png) no-repeat top center fixed; background-size: cover;"></span>
        <!-- jungle -->

        <!-- lion -->
        <span class="span span--lion">
            <img src="{{ theme.link }}/images/assets/laf.png">
        </span>
        <!-- lion -->

        <!-- scrolable -->
        <div class="scrolable-w" style="z-index: 88; width: 100vw">
            <div class="scrolable">
                <div class="box box--hero" style="background: url({{ theme.link }}/images/assets/box01.png)">
                    {#<h2>{{ post.featured_title }}</h2>#}
                    <h3>{{ post.featured_subtitle }}</h3>
                    <a href="{{ post.featured_link }}" style="background: url({{ theme.link }}/images/assets/but_play.png)"></a>
                </div>
                {% for box in post.meta('boxes_repeater') %}
                <div class="box box--subhero" style="background: url({{ theme.link }}/images/assets/box02.png)">
                    {#<svg viewBox="0 0 500 500">#}
                        {#<path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />#}
                        {#<text width="600">#}
                            {#<textPath xlink:href="#curve">Nagradna igra</textPath>#}
                        {#</text>#}
                    {#</svg>#}
                    <h4 style="color: {{ box.box_title_color }}">{{ box.box_title }}</h4>
                    <h5 style="color: {{ box.box_subtitle_color }}">{{ box.box_subtitle }}</h5>
                    <a href="{{ box.box_link }}" style="background: url({{ theme.link }}/images/assets/but_play.png)"></a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- scrolable -->

        <!-- down -->
        {% if post.meta('boxes_repeater')|length > 1 %}
        <span class="span span--down" style="background: url({{ theme.link }}/images/assets/but_down.png); z-index: 98;"></span>
        {% endif %}
        <!-- down -->

        <!-- particles -->
        <div id="particles-js" class="home-particles" style="position: absolute; width: 100vw; height: 100vh; z-index: 80;"></div>
        <!-- particles -->
    </section>
{% endblock %}