<div class="sidebar-list">
    <div class="sidebar-list__top">
        <h4>Najpopularnije</h4>
        <ul class="n-ul">
            <li><a class="n-list__li n-list__tjedno ac" href="#">TJ</a></li>
            <li><a class="n-list__li n-list__mjesecno" href="#">MJ</a></li>
            <li><a class="n-list__li n-list__godisnje" href="#">GO</a></li>
        </ul>
    </div>
    <div class="sidebar-list__content tagged-posts-top2">
        <div class="spinner-ajax hide-spiner"></div>
        <ul class="tagged-posts-top">
            {% for key, npost in sidebar_posts_most %}
                <li>
                    <div class="container">
                        <div class="container__image">
                            <a href="{{ npost.link }}">
                                <img src="{{ npost.thumbnail.src('180x138') }}" alt="">
                            </a>
                        </div>
                        <div class="container__content">
                            <a href="{{ npost.link }}">
                                <h6>{{ npost.title|excerpt(6) }}</h6>
                            </a>
                            <div class="post-meta">
                                <span class="post-meta__categoty">{{ npost.terms('categories') | join(', ') }}</span> | <span class="post-meta__date">{{ npost.post_date|date('j.n.Y') }}</span>
                            </div>
                        </div>
                        <div class="container__number">{{ key + 1 }}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="sidebar-list">
    <div class="sidebar-list__top">
        <h4>Najnovije</h4>
    </div>
    <div class="sidebar-list__content">
        <ul>
            {% for post in sidebar_posts_new %}
                <li>
                    <div class="container">
                        <div class="container__image">
                            <a href="{{ post.link }}">
                                <img src="{{ post.thumbnail.src('180x138') }}" alt="">
                            </a>
                        </div>
                        <div class="container__content">
                            <a href="{{ post.link }}">
                                <h6>{{ post.title|excerpt(6) }}</h6>
                            </a>
                            <div class="post-meta">
                                <span class="post-meta__categoty">{{ post.terms('categories') | join(', ') }}</span> | <span class="post-meta__date">{{ post.post_date|date('j.n.Y') }}</span>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="sidebar-list">
    <div class="sidebar-list__top">
        <h4>Izdvojeno</h4>
    </div>
    <div class="sidebar-list__content">
        <ul>
            {% for fpost in featured_posts %}
            <li>
                <div class="container">
                    <div class="container__image">
                        <a href="{{ fpost.link }}">
                            <img src="{{ fpost.thumbnail.src('180x138') }}" alt="">
                        </a>
                    </div>
                    <div class="container__content">
                        <a href="{{ fpost.link }}">
                            <h6>{{ fpost.title|excerpt(6) }}</h6>
                        </a>
                        <div class="post-meta">
                            <span class="post-meta__categoty">{{ fpost.terms('categories') | join(', ') }}</span> | <span class="post-meta__date">{{ fpost.post_date|date('j.n.Y') }}</span>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>