{% extends "templates/base.twig" %}

{% block content %}
    <div class="timemachine">
        <div class="timemachine__planine01" style="background: url({{ theme.link }}/images/assets/timemachine-planine01.png) repeat-x"></div>
        <div class="timemachine__planine02" style="background: url({{ theme.link }}/images/assets/timemachine-planine02.png) repeat-x"></div>
        <div class="timemachine__planine03" style="background: url({{ theme.link }}/images/assets/timemachine-planine03.png) repeat-x"></div>


        {# cloud left #}
        <div class="timemachine__cloud-left">
            <img src="{{ theme.link }}/images/assets/timemachine__cloud-right.png" alt="">
        </div>

        {# cloud right #}
        <div class="timemachine__cloud-right">
            <img src="{{ theme.link }}/images/assets/timemachine__cloud-right.png" alt="">
        </div>

        {# tree left #}
        <div class="timemachine__tree-left">
            <img src="{{ theme.link }}/images/assets/timemachine-tree-left.png" alt="">
        </div>
        <div class="timemachine__tree-left-stone">
            <img src="{{ theme.link }}/images/assets/timemachine-stone--1.png" alt="">
        </div>

        {# tree center #}
        <div class="timemachine__tree-center">
            <img src="{{ theme.link }}/images/assets/timemachine-tree-left.png" alt="">
        </div>
        <div class="timemachine__tree-center-stone">
            <img src="{{ theme.link }}/images/assets/timemachine-stone--2.png" alt="">
        </div>

        {# bush left #}
        <div class="timemachine__bush-left">
            <img src="{{ theme.link }}/images/assets/timemachine__bush.png" alt="">
        </div>

        {# bush right #}
        <div class="timemachine__bush-right">
            <img src="{{ theme.link }}/images/assets/timemachine__bush.png" alt="">
        </div>

        <div class="timemachine__drvo03" style="display: none">
            <img src="{{ theme.link }}/images/assets/timemachine-drvo03.png" alt="">
        </div>
        <div class="timemachine__drvo03-kamen" style="display: none">
            <img src="{{ theme.link }}/images/assets/timemachine-drvo03-kamen03.png" alt="">
        </div>


        <div class="timemachine__drvo02">
            <img src="{{ theme.link }}/images/assets/timemachine-drvo01.png" alt="">
        </div>
        <div class="timemachine__drvo02-kamen">
            <img src="{{ theme.link }}/images/assets/timemachine-drvo01-kamen01.png" alt="">
        </div>


        <div class="timemachine__drvo01">
            <img src="{{ theme.link }}/images/assets/timemachine-drvo02.png" alt="">
        </div>
        <div class="timemachine__drvo01-kamen">
            <img src="{{ theme.link }}/images/assets/timemachine-drvo02-kamen02.png" alt="">
        </div>


        {#<div class="panda">Panda go here!</div>#}

        <div class="pandaa"></div>


        <div class="timemachine__timeline">
            <span class="current-year"></span>
        </div>
        <div class="timemachine__tlo" style="background: url({{ theme.link }}/images/assets/timemachine-tlo.png) repeat-x"></div>
    </div>

    <style>
        .pandaa {
            background: url('{{ theme.link }}/images/panda_sprite.png') no-repeat 0 0;
            height: 492px;
            width: 241px;
            position: absolute;
            bottom: 20px;
            left: 200px;
            z-index: 988;
            transform: scale(0.6);
        }
        .pandaa.hoda {
            animation: hoda 1s steps(11, end) infinite;
        }

        @keyframes hoda { 0 { background-position: 0 0; } 100% { background-position: -2651px 0; } }
    </style>


{% endblock %}