{% extends "templates/base.twig" %}

{% block content %}
    <section class="section section--animal-kingdom">
        <div class="island-and-sea" style="background: url({{ theme.link }}/images/assets/otok_i_more.png) no-repeat bottom center;"></div>
    </section>
    <section class="section section--animal-kingdom--content">
        <div style="background: url({{ theme.link }}/images/assets/oceanfloor.png) no-repeat bottom center;">
            <div class="container">
                <div class="container__inner">
                    {% for media_item in post.meta('zivotinjsko_carstvo_flexible_content') %}
                        {% if media_item.acf_fc_layout == 'block_text' %}
                            {{ media_item.text }}
                        {% endif %}
                    {% endfor %}
                    <div style="text-align: center;">
                        <img src="{{ theme.link }}/images/assets/prozor.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}