{% extends "templates/base.twig" %}

{% block content %}
    <!-- Main content start -->
    <main class="tm-timeline">

        <div class="timeline-behind-text">

            <img class="cloud-1" src="{{ options.image_cdn }}/images/optimized/timemachin/cloud.png">
            <img class="cloud-2" src="{{ options.image_cdn }}/images/optimized/timemachin/cloud.png">
            <div data-0="left: 0vw" data-6000="left: -10vw" class="planine-1" style="background-image: url({{ options.image_cdn }}/images/optimized/timemachine-planine01.png);"></div>
            <div data-0="left: 0vw" data-6000="left: -20vw" class="planine-2" style="background-image: url({{ options.image_cdn }}/images/optimized/timemachine-planine02.png);"></div>
            <div data-0="left: 0vw" data-6000="left: -30vw" class="planine-3" style="background-image: url({{ options.image_cdn }}/images/optimized/timemachine-planine03.png);"></div>
            <img data-0="left: 5vw" data-6000="left: -35vw" class="stone-3" src="{{ options.image_cdn }}/images/optimized/timemachin/small-mountain.png" />

        </div>

        <div class="timeline-text-sections">

            <section id="t-1931" data-0="left: 0vw" data-1000="left: -100vw">
                <div>
                    <h3>1931.</h3>
                    <p>Povijest Životinjskog carstva seže još od davne 1931. godine kada se počinju proizvoditi čokoladice od 15 grama.</p>
                    <img src="{{ options.image_cdn }}/images/optimized/timemachin/01_1931.png" alt="1931">
                </div>
            </section>

            <section id="t-1956" style="left: 100vw;" data-0="left: 100vw" data-1000="left: 0vw" data-2000="left: -100vw">
                <div>
                    <h3>1956.</h3>
                    <p>Započinje suradnja s nakladničkom kućom Stožer i izlazi prvi album Životinjsko carstvo s prekrasnim ilustracijama životinja.</p>
                    <img src="{{ options.image_cdn }}/images/optimized/timemachin/02_1956.png" alt="1956">
                </div>
            </section>

            <section id="t-1960s" style="left: 200vw;" data-1000="left: 100vw" data-2000="left: 0vw" data-3000="left: -100vw">
                <div>
                    <h3>60'</h3>
                    <p>Početkom 60-tih godina Kraš otkupljuje prava i postaje vlasnik Životinjskog carstva, koje svojom prepoznatljivošću postaje okus koji spaja generacije.</p>
                    <img src="{{ options.image_cdn }}/images/optimized/timemachin/03_60e.png" alt="60">
                </div>
            </section>

            <section id="t-1970s" style="left: 300vw;" data-2000="left: 100vw" data-3000="left: 0vw" data-4000="left: -100vw">
                <div>
                    <h3>70'</h3>
                    <p>Sličice s ilustracijama životinja zamjenjuju se s realnim fotografijama životinja i mijenja se koncept albuma tako da se prvo piše opsežniji opis životinje, a ispod njega se ostavlja prostor za sličicu.</p>
                    <img src="{{ options.image_cdn }}/images/optimized/timemachin/04_70e.png" alt="70">
                </div>
            </section>

            <section id="t-1980s" style="left: 400vw;" data-3000="left: 100vw" data-4000="left: 0vw" data-5000="left: -100vw">
                <div>
                    <h3>80'</h3>
                    <p>Sredinom 80-ih godina prošlog stoljeća ponovo se vraćaju sličice na kojima se nalaze ilustracije životinja i album se tiska u mekom uvezu.</p>
                    <img src="{{ options.image_cdn }}/images/optimized/timemachin/05_80e.png" alt="80">
                </div>
            </section>

            <section id="t-19994" style="left: 500vw;" data-4000="left: 100vw" data-5000="left: 0vw" data-6000="left: -100vw">
                <div>
                    <h3>1994.</h3>
                    <p>Značajniju promjenu izgleda Životinjsko carstvo bilježi 1994. godine kada na tržište izlazi album koji je ujedno i bojanka.</p>
                    <img src="{{ options.image_cdn }}/images/optimized/timemachin/06_1994.png" alt="1994">
                </div>
            </section>

            <section id="t-2008" style="left: 600vw;" data-5000="left: 100vw" data-6000="left: 0vw" data-7000="left: -100vw">
                <div>
                    <h3>2008.</h3>
                    <p>Nastaje novi album modernijeg dizajna s fotografijama životinja.</p>
                    <img src="{{ options.image_cdn }}/images/optimized/timemachin/07_2008.png?v=2" alt="2008">
                </div>
            </section>

            <section id="t-2008" style="left: 600vw;" data-6000="left: 100vw" data-7000="left: 0vw">
                <div>
                    <h3>2016.</h3>
                    <p>Izlazi posljednja verzija albuma, kada se album vizualno osvježava i povećava se broj nagrada koji kolekcionari mogu osvojiti.</p>
                    <img src="{{ options.image_cdn }}/images/optimized/timemachin/08_2016.png" alt="2008">
                </div>
            </section>

        </div>

        <div class="timeline-infront-text">
            <img data-4000="left: 150vw" data-7000="left: 80vw" class="bush" src="{{ options.image_cdn }}/images/optimized/timemachin/bush.png" />
            <div data-0="left: 0vw" data-6000="left: -300vw" class="tlo" style="background-image: url({{ options.image_cdn }}/images/optimized/timemachine-tlo.png);"></div>
            <img data-0="left: 70vw" data-3000="left: -120vw" class="tree-1" src="{{ options.image_cdn }}/images/optimized/timemachin/tree-one.png" />
            <img data-1500="left: 120vw" data-5000="left: -120vw" class="tree-2" src="{{ options.image_cdn }}/images/optimized/timemachin/tree-two.png" />
            <img data-4000="left: 120vw" data-7000="left: 20vw" class="tree-3" src="{{ options.image_cdn }}/images/optimized/timemachin/tree-three.png" />
            <img data-2500="left: 120vw" data-5000="left: -120vw" class="stone-1" src="{{ options.image_cdn }}/images/optimized/timemachin/stone-one.png" />
            <img data-3500="left: 120vw" data-6000="left: -120vw" class="stone-2" src="{{ options.image_cdn }}/images/optimized/timemachin/stone-two.png" />
            <img data-2500="left: 150vw" data-5000="left: -90vw" class="stone-4" src="{{ options.image_cdn }}/images/optimized/timemachin/stone-three.png" />
            <div class="panda" style="background-image: url('{{ options.image_cdn }}/images/panda_sprite.png');"></div>
        </div>
        
        <nav class="timeline-anchor-nav" role="navigation">
            <a href="#t-1931" data-menu-top="0">1931</a>
            <a href="#t-1956" data-menu-top="1000">1956</a>
            <a href="#t-1960s" data-menu-top="2000">60'</a>
            <a href="#t-1970s" data-menu-top="3000">70'</a>
            <a href="#t-1980s" data-menu-top="4000">80'</a>
            <a href="#t-1994" data-menu-top="5000">1994</a>
            <a href="#t-2008" data-menu-top="6000">2008</a>
            <a href="#t-2016" data-menu-top="7000">2016</a>
        </nav>

    </main>
        
    <!-- Main content end -->
{% endblock %}

{% block scripts %}

    <script src="//cdn.jsdelivr.net/combine/npm/skrollr@0.6.26,npm/skrollr-menu@1.0.3,npm/scroll-depth@1.0.0"></script>

    <script>

        function zaustavihodanje(){
            $('.panda').removeClass('hoda');
        }

        function postavilink(which){
            $('.timeline-anchor-nav a').removeClass('active').eq(which).addClass('active');
        }

        $(document).ready(function(){

            var timeout;

            var s = skrollr.init({
                beforerender: function(d){
                   clearTimeout(timeout);
                   $('.panda').addClass('hoda');
                   if(d.direction == 'up') $('.panda').addClass('flip');
                   else $('.panda').removeClass('flip');
                   timeout = setTimeout(zaustavihodanje, 100);
                   selectedSection = Math.round(d.curTop/1000);
                   postavilink(selectedSection);
                }
            });
            skrollr.menu.init(s, {
                animate: true,
                easing: 'sqrt',
                duration: 800
            });
        });

    </script>

{% endblock %}