<!doctype html>
<html {{ function('language_attributes') }}>
    {% include 'head.twig' %}
    {% block style %}{% endblock %}
    <body {{ function('body_class') }}>
        {% include 'header/header.twig' %}
        {% block content %}{% endblock %}
        {% block footer %}
            {% include 'footer/footer.twig' %}
            {{ function('wp_footer') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
        {% endblock %}
        {% block scripts %}
            {#<script>#}
                {#$( document ).ready(function() {#}
                    {#//console.log( "ready!" );#}
                {#});#}
            {#</script>#}
        {% endblock %}
        <script>

            var _cookie_options = {
                contentText: "{{__('Naše stranice koriste tzv. <a href=\"/uvjeti-koristenja/\">kolačiće</a> kako bismo vam osigurali bolje korisničko iskustvo i funkcionalnost. Koristeći naše stranice slažete se s korištenjem kolačića.', 'igraoni.ca')}}",
				acceptanceText: "{{ __('Prihvaćam', 'igraoni.ca') }}"
            };

        </script>
        <script src="/cookie.js"></script>
    </body>
</html>
