{% extends "templates/base.twig" %}



{% block content %}

    <main class="homepage">
        <div class="homepage__fixedbg" style="background-image: url('{{ options.image_cdn }}/images/optimized/jungle-background.jpg');">
            <div class="homepage__lion lion lion--animate" style="background-image: url('{{ options.image_cdn }}/images/optimized/animals/lav_sprite.png');">
                {% if post.meta('homepage_messages_repeater') %}
                <div class="speech-bubble-wrapper">
                    <div class="speech-bubble">
                        <div class="speech-bubble__top"></div>
                        <div class="speech-bubble__mid">
                            <p class="speech-bubble__title"></p>
                            <p class="speech-bubble__subtitle"></p>
                        </div>
                        <div class="speech-bubble__bottom"></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <section class="homepage__wrapper">
            <div class="homepage__parallax" style="background: url({{ options.image_cdn }}/images/optimized/jungle-front-background.png) no-repeat top center fixed;">
                <div class="homepage__scrollable">
                    {# Start Hero article #}
                    <article class="article article--hero" style="background-image: url({{ options.image_cdn }}/images/optimized/article-hero-background.png);">
                        <a class="article__link" href="{{ post.article_hero_link }}" target="{{ post.article_hero_link_target }}">
                            <span class="article__image">
                                <img src="{{ options.image_cdn }}/images/milky_zoo_logo_tiny-new.png" alt="Životinjsko carstvo" />
                            </span>
                            <h3 class="article__title">{{ post.article_hero_title }}</h3>
                            <span class="article__button">
                                <svg viewBox="0 0 100 76.91">
                                    <defs>
                                        <style>.cls-7{fill:#434241}.cls-8{fill:#ffa488;opacity:.35}.cls-17{opacity:.7;fill:#fbc08b}.cls-24{fill:#f6f091;opacity:.63}</style>
                                        <linearGradient id="linear-gradient" x1="48.55" y1="38.16" x2="48.55" y2="76.11" gradientUnits="userSpaceOnUse">
                                            <stop offset="0" stop-color="#398866"/>
                                            <stop offset="1" stop-color="#7cc53c"/>
                                        </linearGradient>
                                        <radialGradient id="radial-gradient" cx="6.47" cy="53.66" r="86.16" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#995740"/><stop offset="1" stop-color="#073a4f"/></radialGradient><linearGradient id="linear-gradient-2" x1="40.26" y1="-12.55" x2="79.74" y2="122.62" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#995740"/><stop offset=".13" stop-color="#905743"/><stop offset=".36" stop-color="#77574b"/><stop offset=".64" stop-color="#4f5659"/><stop offset=".96" stop-color="#17566c"/><stop offset="1" stop-color="#10566e"/></linearGradient><linearGradient id="linear-gradient-3" x1="17.99" y1="-56.79" x2="65.61" y2="59.06" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff4f24"/><stop offset=".14" stop-color="#e34620"/><stop offset=".43" stop-color="#9b3016"/><stop offset=".85" stop-color="#290d06"/><stop offset="1"/></linearGradient><linearGradient id="linear-gradient-4" x1="45.75" y1="-30.8" x2="53.05" y2="62.59" xlink:href="#linear-gradient-3"/><linearGradient id="linear-gradient-5" x1="63" y1="-1.27" x2="69.55" y2="54.37" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#b18a7d"/><stop offset=".3" stop-color="#859a94"/><stop offset=".97" stop-color="#16c3cf"/><stop offset="1" stop-color="#11c5d2"/></linearGradient><linearGradient id="linear-gradient-6" x1="15.1" y1="74.66" x2="90.84" y2="28.47" xlink:href="#linear-gradient-5"/><linearGradient id="linear-gradient-7" x1="14.92" y1="9.84" x2="49.98" y2="26.98" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f9d78e"/><stop offset=".54" stop-color="#fcbb8a"/><stop offset="1" stop-color="#ffa087"/></linearGradient><radialGradient id="radial-gradient-2" cx="41.23" cy="12.37" r="39.67" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff542d"/><stop offset=".14" stop-color="#e34b28"/><stop offset=".43" stop-color="#9b331b"/><stop offset=".85" stop-color="#290e07"/><stop offset="1"/></radialGradient><linearGradient id="linear-gradient-8" x1="57.63" y1="14.16" x2="58.65" y2="52.12" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#734555"/><stop offset="1" stop-color="#563440"/></linearGradient><radialGradient id="radial-gradient-3" cx="46.05" cy="14.47" r="35.15" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff542d"/><stop offset="1" stop-color="#734555"/></radialGradient><radialGradient id="radial-gradient-4" cx="49.41" cy="-1.34" r="41.38" gradientUnits="userSpaceOnUse"><stop offset=".1" stop-color="#ff542d"/><stop offset=".22" stop-color="#e34b28"/><stop offset=".49" stop-color="#9b331b"/><stop offset=".87" stop-color="#290e07"/><stop offset="1"/></radialGradient><radialGradient id="radial-gradient-5" cx="47.11" cy="-4.16" r="37.34" gradientUnits="userSpaceOnUse"><stop offset=".1" stop-color="#f7e641"/><stop offset=".23" stop-color="#dbcc3a"/><stop offset=".5" stop-color="#938927"/><stop offset=".89" stop-color="#211f09"/><stop offset="1"/></radialGradient></defs><g style="isolation:isolate"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M57.44 2.05c-11.18 0-28.9 11.72-28.9 11.72a7.86 7.86 0 0 1-.33 2.36c-.63.74 21.19.59 21.19.59s-23.45 1.93-24 2.8a36 36 0 0 0-5.08 17.79c0 19.48 16.6 35.27 37.08 35.27 17.75 0 32.57-11.86 36.21-27.7-1.19-1.2-3.9-3.36-3.9-3.36S61 39.69 47.59 37.64C62 38.13 76 40 90.68 41.59c1.06.11 2.51-.11 3.57 0 .12-1.17.27-3.07.27-4.28 0-19.47-16.6-35.26-37.08-35.26z" fill="#204252" opacity=".3"/><path d="M59.68 65.89c2.12-2.61 4.73-6.14 7.57-8 4-2.58 6.73 1.2 11 .8-5.48-1.86 3.19-4.5 4.93-4.73 4.33-.58 8.53 0 12.86-.9a33.51 33.51 0 0 1-6.17-3.15c-2.47-1.82-4.11-4.79-6.43-6.82-5.18-4.54-12.33-8.76-19.32-9.34-11.72-1.07-29.47 1.37-40.65 6.31-10.22 4.47-16 15.55-22.43 23.63 4.67-2.23 9.67-6.14 14.85-4.94C8.71 64 17 75.26 22.69 76.91c-1-4.6 1.52-9.68 6-12.66 2.93 2.27 8.19 2.52 9.69 6 1.23-3.27.44-6.22-1.07-9 5 1.2 7 4.77 5.37 9.56 2-2 4.73-3.53 5.87-6.17 1.31 3.24 5.36 5 9 4.88C55.2 66 56 62.87 58.16 59c.33 1.11 1.33 2 1.58 3.25a7.3 7.3 0 0 0 3.58-3c-1.24 2.12-2.06 4.75-3.64 6.64z" fill="url(#linear-gradient)"/><path d="M50.75 68.44c1.09-2.76 1.48-5.86 2.16-8.74.46-1.93-.07-2.88 2.09-3 1.89-.1 5 3.09 6.08 4.31s4.49 4.92 4.36 6.33a19.49 19.49 0 0 1 3.31-8.91c5.76-8.48 22-11 31.25-9A27.15 27.15 0 0 0 95.53 43C84 31.13 66.69 35 52.13 35.88c-11.79.67-36.54 7.87-41.08-5.48-.62 3.37-.2 7.05 2.44 9.16-4-2-9.14-1.41-13.49-1 5.29 2.44 12.12 2.62 16.92 6.32-5.14-.69-9.78 4.25-9.69 8.81 3.08-2.82 7.74-5.38 11.63-4.1-4 1.31-6.23 5.22-6.58 8.95a23.12 23.12 0 0 1 9.58-3.68c-1.83 3.82-1.36 10.6 2.32 12.7a7.68 7.68 0 0 1 3.27-7.4c2.74 1 5.32 1.64 7.7 3.17a11 11 0 0 0-2.47-4.26 5.59 5.59 0 0 0 1.65 1.14c-.3-.59-.41-1.34-.7-2 6.6 1.58 12.54 2 14.19 9.68.29-3.68-.29-7.43-.32-11.06 4 3.17 5.2 6.65 3.25 11.61zm9-14.66a2.14 2.14 0 0 1 .4.2 5.2 5.2 0 0 0-.72.54c.15-.24.26-.52.36-.74z" fill="#33725b"/><path d="M54.76.63C44.09.63 27.19 11.9 27.19 11.9a7.45 7.45 0 0 1-.31 2.27c-.6.72 20.21.58 20.21.58s-22.37 1.85-22.86 2.69a34.84 34.84 0 0 0-4.84 17.12c0 18.74 15.84 33.93 35.37 33.93 16.92 0 31.06-11.41 34.54-26.65-1.14-1.15-3.73-3.23-3.73-3.23s-27.46-1.77-40.2-3.74c13.71.47 27.09 2.31 41.09 3.8 1 .11 2.39-.1 3.4 0 .12-1.13.26-3 .26-4.11C90.12 15.82 74.29.63 54.76.63z" fill="url(#radial-gradient)"/><path d="M53.21 0a33.59 33.59 0 0 0-25.82 11.87c-.56.67 18.61 1.36 18.61 1.36s-21 1.74-21.42 2.52a32.62 32.62 0 0 0-4.53 16c0 17.56 14.83 31.79 33.13 31.79 15.86 0 29.11-10.69 32.36-25-13.54-2.19-28.11-4.45-41.13-6.46q20.66.7 41.76 2.92a31.08 31.08 0 0 0 .17-3.21C86.34 14.23 71.51 0 53.21 0z" fill="url(#linear-gradient-2)"/><path class="cls-7" d="M83.54 44.56a370.45 370.45 0 0 0-63-7.41 30.22 30.22 0 0 0 .89 3.7 371.75 371.75 0 0 1 59.93 7.67 31.52 31.52 0 0 0 2.18-3.96zM66.92 60.73c-6.92-1.43-13.73-3.82-20.73-5.3a148.27 148.27 0 0 0-17.83-2.63 31.93 31.93 0 0 0 3.38 3.2q7.8 1 15.52 2.85c4.42 1 9 2.72 13.57 3.89a33.93 33.93 0 0 0 6.09-2.01zM54.77 19.11c8.45 0 16.95.31 25.42.63 1.12 0 2.41.12 3.76.19-.27-.63-.54-1.25-.84-1.86-2.78-.28-5.55-.57-8.33-.84-9.13-.9-18.19-.9-27.28-1.14-7.51-.2-15-.4-22.52-.51-.2.06-.34.11-.37.17A31.77 31.77 0 0 0 23 19c10.56 0 21.18.14 31.77.11z"/><path class="cls-8" d="M63.14 62.13c-1.64-.34-3.27-.69-4.9-1.07-4.74-1.14-9.45-2.37-14.24-3.25-4-.73-8-1.25-12-1.6a30.84 30.84 0 0 0 2.79 2q3.64.39 7.28.94c6.08 1 12.07 2.44 18.1 3.71 1.01-.2 2-.44 2.97-.73zM64.72 18.66c-10.88 0-21.71.26-32.36.38l-9.49.11c-.26.59-.5 1.2-.73 1.81l5.06-.06q16.53-.21 33-.59c7.76-.18 16.19.49 24.26.87-.11-.28-.21-.55-.33-.82a148.75 148.75 0 0 0-19.41-1.7zM82.13 47.3c-20-4.81-40.71-6.13-60.78-6.81.16.57.35 1.13.55 1.69 10 .31 19.91 1 29.87 1.9s19.79 2.75 29.66 4.35c.24-.37.47-.74.7-1.13z"/><path d="M53.21 0a33.59 33.59 0 0 0-25.82 11.87c-.56.67 18.61 1.36 18.61 1.36s-21 1.74-21.42 2.52a32.62 32.62 0 0 0-4.53 16v.3a274.25 274.25 0 0 1 42.6 6.53c6.84 1.54 14.39 4.13 21.43 4.6a30.46 30.46 0 0 0 1.45-4.61l-5-.84h-.15c-6.79-1.12-13.77-2.22-20.6-3.29l-.35-.05-4.78-.75-.54-.08-4.69-.73h-.2l-4.79-.74 5.43.21 2.21.11 3.18.15 2.86.16 2.5.15 3.26.21 2.06.14 3.6.27 1.67.13 3.93.33 1.26.11 4.29.39.77.08q2.37.23 4.74.48a31.08 31.08 0 0 0 .17-3.21C86.34 14.23 71.51 0 53.21 0z" style="mix-blend-mode:screen" fill="url(#linear-gradient-3)" opacity=".54"/><path d="M63 44.53c-14-1.37-27.82-3.75-41.73-4.28A31.62 31.62 0 0 0 31 55.36c4.62 0 9.25.1 13.88.48a117.72 117.72 0 0 1 22.73 4.59 32.87 32.87 0 0 0 14.3-12.76c-6.32-.99-12.84-2.54-18.91-3.14z" style="mix-blend-mode:screen" fill="url(#linear-gradient-4)" opacity=".54"/><path d="M47.24 31.94c2.08.09 4.18.29 6.29.53C64.32 33 75.18 33.84 86.17 35a31.08 31.08 0 0 0 .17-3.21A31.49 31.49 0 0 0 71.15 5.06c7.48 7.32 12.49 13.88 11.17 26.84-7.07.1-28.94.31-35.08.04z" fill="url(#linear-gradient-5)"/><path d="M20.14 28.09c.32.07 41 5.79 44.63 7.24-2.9.25-45.07-3.93-45.07-4z" opacity=".56" fill="#ed8f74"/><path d="M21.84 40.31c11.08.13 22.3 1.58 32.87 3 2.93.4 5.54 1.15 8.37 1.79-8.74-1.74-17.82-1.56-26.65-2.28-4.57-.38-9.5-.14-14-.8a2.62 2.62 0 0 1 .13-1z" opacity=".87" fill="#ed8f74"/><path d="M85.57 38.61C79.54 63 46 74.94 26.12 50 44 67.71 71.82 67.6 85.57 38.61z" fill="url(#linear-gradient-6)"/><path d="M45.11 13.13c-6.14-.19-12.75-.54-17.92-1.23C41.34-5.86 64.53 1.37 64.84 2 56.66-.53 39 0 32 10.77zm-20.5 2.62c-7.06 11.31-5.67 21.3-.75 30.73-3.78-8.73-4-18.8.75-30.73z" fill="url(#linear-gradient-7)"/><path d="M53.21 0a33.59 33.59 0 0 0-25.82 11.87c-.56.67 18.61 1.36 18.61 1.36s-21 1.74-21.42 2.52a32.62 32.62 0 0 0-4.53 16 30.7 30.7 0 0 0 5.79 17.95l.34.12C39.9 54.18 53.34 45 62.7 34.92l-18.29-2.84q9.92.35 19.93 1c1.28-1.46 2.46-2.92 3.54-4.34 4.31-5.66 8.45-9.8 14.61-11.86A33.31 33.31 0 0 0 53.21 0z" style="mix-blend-mode:screen" fill="url(#radial-gradient-2)" opacity=".7"/><path class="cls-17" d="M39.62 9.56a1.06 1.06 0 0 0 .5-2.05c-1.44-.57-3.01 1.91-.5 2.05zM43.13 8.14c1.46.85 5.5-.86 5.26-2.76-.52-4.01-9.68.18-5.26 2.76z"/><path d="M43.32 19c3.64-5.86 14.82 2.27 18.91 4.26s9.2 2.59 12.73 5.6c3 2.53 6.36 8.87 2.23 12.13a106.74 106.74 0 0 1-23.91 14.38c-6 2.69-8.58 3.32-10 .38A23.67 23.67 0 0 1 41.77 49c-.43-3.37-1.11-25.7 1.55-30z" fill="#563440" opacity=".44"/><path d="M41.28 16c3.64-5.87 14.83 2.27 18.91 4.26s9.2 2.58 12.73 5.59c3 2.54 6.37 8.87 2.24 12.14a106.69 106.69 0 0 1-23.92 14.32c-6 2.69-8.57 3.32-10 .39a23.76 23.76 0 0 1-1.5-6.77c-.43-3.36-1.12-25.68 1.54-29.93z" fill="url(#linear-gradient-8)"/><path d="M75.16 33.86a106.77 106.77 0 0 1-23.92 14.38c-6 2.69-8.57 3.32-10 .38a23.67 23.67 0 0 1-1.5-6.77c-.42-3.35-1.11-25.68 1.55-30 1.57-2.52 3.86-3.14 10.78.52 6.5 3.47 31.02 15.23 23.09 21.49z" fill="url(#radial-gradient-3)"/><path d="M68.4 21.65a170.31 170.31 0 0 0-16.34-9.26c-6.92-3.66-9.21-3-10.78-.52-2.66 4.3-2 26.63-1.55 30 .06.5.13 1 .19 1.43 6.7-.72 17.12-9 20.2-11.54a34.59 34.59 0 0 0 8.28-10.11z" style="mix-blend-mode:screen" fill="url(#radial-gradient-4)"/><path d="M66.1 20.14c-5.36-3.37-11.3-6.3-14-7.75-6.92-3.66-9.21-3-10.78-.52-2.66 4.3-2 26.63-1.55 30 .13 1.08.27 2 .42 2.9a1.18 1.18 0 0 1 0 .2c-.94-4.18.44-9.74 1.07-13.93A111.12 111.12 0 0 1 44 16.33c2.83-9.6 18.81 2.75 23.6 5-.49-.42-.99-.8-1.5-1.19z" style="mix-blend-mode:screen" fill="#ff542d"/><path d="M40 33.78c5.34-.15 10.62-6.46 13.75-10.3 1.31-1.6 4.5-5.2 3.91-7.41-.3-1.09-9-5.51-11.6-5.4C38 11 39.72 28.29 40 33.78z" style="mix-blend-mode:screen" opacity=".59" fill="url(#radial-gradient-5)"/><path class="cls-24" d="M48.45 22c1.84.24 5.22-3.22 4.16-5-2.23-3.93-9.76 4.24-4.16 5zM45.48 24.91a1.18 1.18 0 0 0-.36-2.31c-1.71.05-2.25 3.24.36 2.31z"/><path d="M75.16 33.86a3.55 3.55 0 0 0 1-4.83c-.53 2.13-2.12 3.65-3.8 4.95a106.45 106.45 0 0 1-11.57 7.74c-4.69 2.73-9 5.36-14.2 6.83-2 .58-4.16.78-5.68-.61.1.24.19.47.29.68 1.44 2.94 4 2.31 10-.38a106.77 106.77 0 0 0 23.96-14.38z" fill="#1cbeca"/></g></g></g></svg>
                            </span>
                        </a>

                    </article>
                    {# End Hero article #}

                    {% for key, article in post.meta('article_subheros_repeater') %}
                    {# Start subhero article #}
                    <article class="article article--subhero article--subhero--{{ key+1 }} {% if article.article_subhero_type == "wood-v2" %}article--subhero--wood-v2{% endif %}" data-style="{{ article.article_subhero_type }}" style="background-image: url({{ theme.link }}/images/optimized/box-subhero-{% if article.article_subhero_type == "play" %}play{% endif %}{% if article.article_subhero_type == "play-3" %}play-3{% endif %}{% if article.article_subhero_type == "stone" %}stone{% endif %}{% if article.article_subhero_type == "wood" %}wood{% endif %}{% if article.article_subhero_type == "wood-v2" %}wood-v2{% endif %}.png);">
                        <a class="article__link" href="{{ article.article_subhero_link }}" target="{{ article.article_subhero_target }}">

                            <span class="article__image">
                                {% if article.article_subhero_type == "wood-v2" %}
                                <img src="{{ Image(article.article_subhero_logo).src }}" alt="">
                                {% endif %}
                            </span>

                            <h4 class="article__title" style="{{ article.article_subhero_title_color }}">{{ article.article_subhero_title }}</h4>
                            <span class="article__button">
                                <svg viewBox="0 0 100 76.91">
                                    <defs>
                                        <style>.cls-7{fill:#434241}.cls-8{fill:#ffa488;opacity:.35}.cls-17{opacity:.7;fill:#fbc08b}.cls-24{fill:#f6f091;opacity:.63}</style>
                                        <linearGradient id="linear-gradient" x1="48.55" y1="38.16" x2="48.55" y2="76.11" gradientUnits="userSpaceOnUse">
                                            <stop offset="0" stop-color="#398866"/>
                                            <stop offset="1" stop-color="#7cc53c"/>
                                        </linearGradient>
                                        <radialGradient id="radial-gradient" cx="6.47" cy="53.66" r="86.16" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#995740"/><stop offset="1" stop-color="#073a4f"/></radialGradient><linearGradient id="linear-gradient-2" x1="40.26" y1="-12.55" x2="79.74" y2="122.62" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#995740"/><stop offset=".13" stop-color="#905743"/><stop offset=".36" stop-color="#77574b"/><stop offset=".64" stop-color="#4f5659"/><stop offset=".96" stop-color="#17566c"/><stop offset="1" stop-color="#10566e"/></linearGradient><linearGradient id="linear-gradient-3" x1="17.99" y1="-56.79" x2="65.61" y2="59.06" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff4f24"/><stop offset=".14" stop-color="#e34620"/><stop offset=".43" stop-color="#9b3016"/><stop offset=".85" stop-color="#290d06"/><stop offset="1"/></linearGradient><linearGradient id="linear-gradient-4" x1="45.75" y1="-30.8" x2="53.05" y2="62.59" xlink:href="#linear-gradient-3"/><linearGradient id="linear-gradient-5" x1="63" y1="-1.27" x2="69.55" y2="54.37" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#b18a7d"/><stop offset=".3" stop-color="#859a94"/><stop offset=".97" stop-color="#16c3cf"/><stop offset="1" stop-color="#11c5d2"/></linearGradient><linearGradient id="linear-gradient-6" x1="15.1" y1="74.66" x2="90.84" y2="28.47" xlink:href="#linear-gradient-5"/><linearGradient id="linear-gradient-7" x1="14.92" y1="9.84" x2="49.98" y2="26.98" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f9d78e"/><stop offset=".54" stop-color="#fcbb8a"/><stop offset="1" stop-color="#ffa087"/></linearGradient><radialGradient id="radial-gradient-2" cx="41.23" cy="12.37" r="39.67" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff542d"/><stop offset=".14" stop-color="#e34b28"/><stop offset=".43" stop-color="#9b331b"/><stop offset=".85" stop-color="#290e07"/><stop offset="1"/></radialGradient><linearGradient id="linear-gradient-8" x1="57.63" y1="14.16" x2="58.65" y2="52.12" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#734555"/><stop offset="1" stop-color="#563440"/></linearGradient><radialGradient id="radial-gradient-3" cx="46.05" cy="14.47" r="35.15" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff542d"/><stop offset="1" stop-color="#734555"/></radialGradient><radialGradient id="radial-gradient-4" cx="49.41" cy="-1.34" r="41.38" gradientUnits="userSpaceOnUse"><stop offset=".1" stop-color="#ff542d"/><stop offset=".22" stop-color="#e34b28"/><stop offset=".49" stop-color="#9b331b"/><stop offset=".87" stop-color="#290e07"/><stop offset="1"/></radialGradient><radialGradient id="radial-gradient-5" cx="47.11" cy="-4.16" r="37.34" gradientUnits="userSpaceOnUse"><stop offset=".1" stop-color="#f7e641"/><stop offset=".23" stop-color="#dbcc3a"/><stop offset=".5" stop-color="#938927"/><stop offset=".89" stop-color="#211f09"/><stop offset="1"/></radialGradient></defs><g style="isolation:isolate"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M57.44 2.05c-11.18 0-28.9 11.72-28.9 11.72a7.86 7.86 0 0 1-.33 2.36c-.63.74 21.19.59 21.19.59s-23.45 1.93-24 2.8a36 36 0 0 0-5.08 17.79c0 19.48 16.6 35.27 37.08 35.27 17.75 0 32.57-11.86 36.21-27.7-1.19-1.2-3.9-3.36-3.9-3.36S61 39.69 47.59 37.64C62 38.13 76 40 90.68 41.59c1.06.11 2.51-.11 3.57 0 .12-1.17.27-3.07.27-4.28 0-19.47-16.6-35.26-37.08-35.26z" fill="#204252" opacity=".3"/><path d="M59.68 65.89c2.12-2.61 4.73-6.14 7.57-8 4-2.58 6.73 1.2 11 .8-5.48-1.86 3.19-4.5 4.93-4.73 4.33-.58 8.53 0 12.86-.9a33.51 33.51 0 0 1-6.17-3.15c-2.47-1.82-4.11-4.79-6.43-6.82-5.18-4.54-12.33-8.76-19.32-9.34-11.72-1.07-29.47 1.37-40.65 6.31-10.22 4.47-16 15.55-22.43 23.63 4.67-2.23 9.67-6.14 14.85-4.94C8.71 64 17 75.26 22.69 76.91c-1-4.6 1.52-9.68 6-12.66 2.93 2.27 8.19 2.52 9.69 6 1.23-3.27.44-6.22-1.07-9 5 1.2 7 4.77 5.37 9.56 2-2 4.73-3.53 5.87-6.17 1.31 3.24 5.36 5 9 4.88C55.2 66 56 62.87 58.16 59c.33 1.11 1.33 2 1.58 3.25a7.3 7.3 0 0 0 3.58-3c-1.24 2.12-2.06 4.75-3.64 6.64z" fill="url(#linear-gradient)"/><path d="M50.75 68.44c1.09-2.76 1.48-5.86 2.16-8.74.46-1.93-.07-2.88 2.09-3 1.89-.1 5 3.09 6.08 4.31s4.49 4.92 4.36 6.33a19.49 19.49 0 0 1 3.31-8.91c5.76-8.48 22-11 31.25-9A27.15 27.15 0 0 0 95.53 43C84 31.13 66.69 35 52.13 35.88c-11.79.67-36.54 7.87-41.08-5.48-.62 3.37-.2 7.05 2.44 9.16-4-2-9.14-1.41-13.49-1 5.29 2.44 12.12 2.62 16.92 6.32-5.14-.69-9.78 4.25-9.69 8.81 3.08-2.82 7.74-5.38 11.63-4.1-4 1.31-6.23 5.22-6.58 8.95a23.12 23.12 0 0 1 9.58-3.68c-1.83 3.82-1.36 10.6 2.32 12.7a7.68 7.68 0 0 1 3.27-7.4c2.74 1 5.32 1.64 7.7 3.17a11 11 0 0 0-2.47-4.26 5.59 5.59 0 0 0 1.65 1.14c-.3-.59-.41-1.34-.7-2 6.6 1.58 12.54 2 14.19 9.68.29-3.68-.29-7.43-.32-11.06 4 3.17 5.2 6.65 3.25 11.61zm9-14.66a2.14 2.14 0 0 1 .4.2 5.2 5.2 0 0 0-.72.54c.15-.24.26-.52.36-.74z" fill="#33725b"/><path d="M54.76.63C44.09.63 27.19 11.9 27.19 11.9a7.45 7.45 0 0 1-.31 2.27c-.6.72 20.21.58 20.21.58s-22.37 1.85-22.86 2.69a34.84 34.84 0 0 0-4.84 17.12c0 18.74 15.84 33.93 35.37 33.93 16.92 0 31.06-11.41 34.54-26.65-1.14-1.15-3.73-3.23-3.73-3.23s-27.46-1.77-40.2-3.74c13.71.47 27.09 2.31 41.09 3.8 1 .11 2.39-.1 3.4 0 .12-1.13.26-3 .26-4.11C90.12 15.82 74.29.63 54.76.63z" fill="url(#radial-gradient)"/><path d="M53.21 0a33.59 33.59 0 0 0-25.82 11.87c-.56.67 18.61 1.36 18.61 1.36s-21 1.74-21.42 2.52a32.62 32.62 0 0 0-4.53 16c0 17.56 14.83 31.79 33.13 31.79 15.86 0 29.11-10.69 32.36-25-13.54-2.19-28.11-4.45-41.13-6.46q20.66.7 41.76 2.92a31.08 31.08 0 0 0 .17-3.21C86.34 14.23 71.51 0 53.21 0z" fill="url(#linear-gradient-2)"/><path class="cls-7" d="M83.54 44.56a370.45 370.45 0 0 0-63-7.41 30.22 30.22 0 0 0 .89 3.7 371.75 371.75 0 0 1 59.93 7.67 31.52 31.52 0 0 0 2.18-3.96zM66.92 60.73c-6.92-1.43-13.73-3.82-20.73-5.3a148.27 148.27 0 0 0-17.83-2.63 31.93 31.93 0 0 0 3.38 3.2q7.8 1 15.52 2.85c4.42 1 9 2.72 13.57 3.89a33.93 33.93 0 0 0 6.09-2.01zM54.77 19.11c8.45 0 16.95.31 25.42.63 1.12 0 2.41.12 3.76.19-.27-.63-.54-1.25-.84-1.86-2.78-.28-5.55-.57-8.33-.84-9.13-.9-18.19-.9-27.28-1.14-7.51-.2-15-.4-22.52-.51-.2.06-.34.11-.37.17A31.77 31.77 0 0 0 23 19c10.56 0 21.18.14 31.77.11z"/><path class="cls-8" d="M63.14 62.13c-1.64-.34-3.27-.69-4.9-1.07-4.74-1.14-9.45-2.37-14.24-3.25-4-.73-8-1.25-12-1.6a30.84 30.84 0 0 0 2.79 2q3.64.39 7.28.94c6.08 1 12.07 2.44 18.1 3.71 1.01-.2 2-.44 2.97-.73zM64.72 18.66c-10.88 0-21.71.26-32.36.38l-9.49.11c-.26.59-.5 1.2-.73 1.81l5.06-.06q16.53-.21 33-.59c7.76-.18 16.19.49 24.26.87-.11-.28-.21-.55-.33-.82a148.75 148.75 0 0 0-19.41-1.7zM82.13 47.3c-20-4.81-40.71-6.13-60.78-6.81.16.57.35 1.13.55 1.69 10 .31 19.91 1 29.87 1.9s19.79 2.75 29.66 4.35c.24-.37.47-.74.7-1.13z"/><path d="M53.21 0a33.59 33.59 0 0 0-25.82 11.87c-.56.67 18.61 1.36 18.61 1.36s-21 1.74-21.42 2.52a32.62 32.62 0 0 0-4.53 16v.3a274.25 274.25 0 0 1 42.6 6.53c6.84 1.54 14.39 4.13 21.43 4.6a30.46 30.46 0 0 0 1.45-4.61l-5-.84h-.15c-6.79-1.12-13.77-2.22-20.6-3.29l-.35-.05-4.78-.75-.54-.08-4.69-.73h-.2l-4.79-.74 5.43.21 2.21.11 3.18.15 2.86.16 2.5.15 3.26.21 2.06.14 3.6.27 1.67.13 3.93.33 1.26.11 4.29.39.77.08q2.37.23 4.74.48a31.08 31.08 0 0 0 .17-3.21C86.34 14.23 71.51 0 53.21 0z" style="mix-blend-mode:screen" fill="url(#linear-gradient-3)" opacity=".54"/><path d="M63 44.53c-14-1.37-27.82-3.75-41.73-4.28A31.62 31.62 0 0 0 31 55.36c4.62 0 9.25.1 13.88.48a117.72 117.72 0 0 1 22.73 4.59 32.87 32.87 0 0 0 14.3-12.76c-6.32-.99-12.84-2.54-18.91-3.14z" style="mix-blend-mode:screen" fill="url(#linear-gradient-4)" opacity=".54"/><path d="M47.24 31.94c2.08.09 4.18.29 6.29.53C64.32 33 75.18 33.84 86.17 35a31.08 31.08 0 0 0 .17-3.21A31.49 31.49 0 0 0 71.15 5.06c7.48 7.32 12.49 13.88 11.17 26.84-7.07.1-28.94.31-35.08.04z" fill="url(#linear-gradient-5)"/><path d="M20.14 28.09c.32.07 41 5.79 44.63 7.24-2.9.25-45.07-3.93-45.07-4z" opacity=".56" fill="#ed8f74"/><path d="M21.84 40.31c11.08.13 22.3 1.58 32.87 3 2.93.4 5.54 1.15 8.37 1.79-8.74-1.74-17.82-1.56-26.65-2.28-4.57-.38-9.5-.14-14-.8a2.62 2.62 0 0 1 .13-1z" opacity=".87" fill="#ed8f74"/><path d="M85.57 38.61C79.54 63 46 74.94 26.12 50 44 67.71 71.82 67.6 85.57 38.61z" fill="url(#linear-gradient-6)"/><path d="M45.11 13.13c-6.14-.19-12.75-.54-17.92-1.23C41.34-5.86 64.53 1.37 64.84 2 56.66-.53 39 0 32 10.77zm-20.5 2.62c-7.06 11.31-5.67 21.3-.75 30.73-3.78-8.73-4-18.8.75-30.73z" fill="url(#linear-gradient-7)"/><path d="M53.21 0a33.59 33.59 0 0 0-25.82 11.87c-.56.67 18.61 1.36 18.61 1.36s-21 1.74-21.42 2.52a32.62 32.62 0 0 0-4.53 16 30.7 30.7 0 0 0 5.79 17.95l.34.12C39.9 54.18 53.34 45 62.7 34.92l-18.29-2.84q9.92.35 19.93 1c1.28-1.46 2.46-2.92 3.54-4.34 4.31-5.66 8.45-9.8 14.61-11.86A33.31 33.31 0 0 0 53.21 0z" style="mix-blend-mode:screen" fill="url(#radial-gradient-2)" opacity=".7"/><path class="cls-17" d="M39.62 9.56a1.06 1.06 0 0 0 .5-2.05c-1.44-.57-3.01 1.91-.5 2.05zM43.13 8.14c1.46.85 5.5-.86 5.26-2.76-.52-4.01-9.68.18-5.26 2.76z"/><path d="M43.32 19c3.64-5.86 14.82 2.27 18.91 4.26s9.2 2.59 12.73 5.6c3 2.53 6.36 8.87 2.23 12.13a106.74 106.74 0 0 1-23.91 14.38c-6 2.69-8.58 3.32-10 .38A23.67 23.67 0 0 1 41.77 49c-.43-3.37-1.11-25.7 1.55-30z" fill="#563440" opacity=".44"/><path d="M41.28 16c3.64-5.87 14.83 2.27 18.91 4.26s9.2 2.58 12.73 5.59c3 2.54 6.37 8.87 2.24 12.14a106.69 106.69 0 0 1-23.92 14.32c-6 2.69-8.57 3.32-10 .39a23.76 23.76 0 0 1-1.5-6.77c-.43-3.36-1.12-25.68 1.54-29.93z" fill="url(#linear-gradient-8)"/><path d="M75.16 33.86a106.77 106.77 0 0 1-23.92 14.38c-6 2.69-8.57 3.32-10 .38a23.67 23.67 0 0 1-1.5-6.77c-.42-3.35-1.11-25.68 1.55-30 1.57-2.52 3.86-3.14 10.78.52 6.5 3.47 31.02 15.23 23.09 21.49z" fill="url(#radial-gradient-3)"/><path d="M68.4 21.65a170.31 170.31 0 0 0-16.34-9.26c-6.92-3.66-9.21-3-10.78-.52-2.66 4.3-2 26.63-1.55 30 .06.5.13 1 .19 1.43 6.7-.72 17.12-9 20.2-11.54a34.59 34.59 0 0 0 8.28-10.11z" style="mix-blend-mode:screen" fill="url(#radial-gradient-4)"/><path d="M66.1 20.14c-5.36-3.37-11.3-6.3-14-7.75-6.92-3.66-9.21-3-10.78-.52-2.66 4.3-2 26.63-1.55 30 .13 1.08.27 2 .42 2.9a1.18 1.18 0 0 1 0 .2c-.94-4.18.44-9.74 1.07-13.93A111.12 111.12 0 0 1 44 16.33c2.83-9.6 18.81 2.75 23.6 5-.49-.42-.99-.8-1.5-1.19z" style="mix-blend-mode:screen" fill="#ff542d"/><path d="M40 33.78c5.34-.15 10.62-6.46 13.75-10.3 1.31-1.6 4.5-5.2 3.91-7.41-.3-1.09-9-5.51-11.6-5.4C38 11 39.72 28.29 40 33.78z" style="mix-blend-mode:screen" opacity=".59" fill="url(#radial-gradient-5)"/><path class="cls-24" d="M48.45 22c1.84.24 5.22-3.22 4.16-5-2.23-3.93-9.76 4.24-4.16 5zM45.48 24.91a1.18 1.18 0 0 0-.36-2.31c-1.71.05-2.25 3.24.36 2.31z"/><path d="M75.16 33.86a3.55 3.55 0 0 0 1-4.83c-.53 2.13-2.12 3.65-3.8 4.95a106.45 106.45 0 0 1-11.57 7.74c-4.69 2.73-9 5.36-14.2 6.83-2 .58-4.16.78-5.68-.61.1.24.19.47.29.68 1.44 2.94 4 2.31 10-.38a106.77 106.77 0 0 0 23.96-14.38z" fill="#1cbeca"/></g></g></g></svg>
                            </span>
                        </a>
                    </article>
                    {# End subhero article #}
                    {% endfor %}
                </div>

                <!-- Main Menu start -->
                    <div class="homepage__scrollable-more">
                        <img class="btn btn--image btn--down" src="{{ options.image_cdn }}/images/optimized/buttons/button-down.png">
                    </div>
                <!-- Main Menu end -->

                <!-- particles -->
                {#<div id="particles-js" class="home-particles" style="position: absolute; width: 100vw; height: 100vh; z-index: 80;"></div>#}
                <!-- particles -->
            </div>
        </section>
    </main>
{% endblock %}


{% block scripts %}
<script type="text/javascript">


    $( document ).ready(function() {
        let lionMessage = [
            {% if post.meta('homepage_messages_repeater') %}
            {% for message in post.meta('homepage_messages_repeater') %}
            {
                title: '{{ message.title }}',
                subtitle: '{{ message.subtitle }}'
            },
            {% endfor %}
            {% endif %}
        ];

        let randMessage = lionMessage[(Math.random() * lionMessage.length) | 0];

        $('.speech-bubble__title').text(randMessage.title);
        $('.speech-bubble__subtitle').text(randMessage.subtitle).html();







    });



    $(function() {

        // paralax jungle on scroll
        let lastScrollTop = 0;
        window.addEventListener('scroll', function(e) {
            var st = $(this).scrollTop();
            if (st > lastScrollTop)
            {
                let p = st/10;
                $('.homepage__parallax').css("background-position-y", -p);
            }
            else
            {
                let p = st/10;
                $('.homepage__parallax').css("background-position-y", -p);
            }
            lastScrollTop = st;
        });

    });

    // scroll magic controler
    let controller = new ScrollMagic.Controller();

    new ScrollMagic.Scene({
        triggerElement: ".article--hero",
        triggerHook: "onLeave",
        duration: 150,
        offset: -100
    })
        .setTween(".article--hero", {
            opacity: 0,
            ease: Linear.easeNone
        })
        .addTo(controller);



    // build scene 01  HEADLINE goes up and ...
    new ScrollMagic.Scene({
        triggerElement: ".article--subhero--1",
        triggerHook: "onLeave",
        duration: 200,
        offset: -200
    })
        .setPin()
        .setTween(".article--subhero--1", {
            opacity: 0,
            ease: Linear.easeNone
        })
        .addTo(controller);

    // 03
    new ScrollMagic.Scene({
        triggerElement: ".article--subhero--2",
        triggerHook: "onLeave",
        duration: 200,
        offset: -200
    })
        .setPin()
        .setTween(".article--subhero--2", {
            opacity: 0,
            ease: Linear.easeNone
        })
        .addTo(controller);
</script>
{% endblock %}