<head>
    <meta charset="{{ site.charset }}" />

    <!-- Responsive -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Remove IE's ability to use compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Correct type -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <!-- Disable phone formatin on safari -->
    <meta name="format-detection" content="telephone=no">

    <!-- Speed up fetching of external assets -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">

    <!-- Mobile chrome -->
    <meta name="theme-color" content="#C3151B">

    <!-- Win phone Meta -->
    <meta name="application-name" content="{{ site.name }}"/>
    <meta name="msapplication-TileColor" content="#C3151B"/>

    <!-- Apple -->
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#C3151B">
    <link rel="apple-touch-startup-image" href="">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Mogra&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush&amp;subset=latin-ext" rel="stylesheet">
    <link href="{{ theme.link }}/skin/dist/fonts/gotham-rounded/stylesheet.css" rel="stylesheet">
    {#<link href="//db.onlinewebfonts.com/c/05289e866fe7e1e99d27a7a31f8d3b66?family=Trattatello" rel="stylesheet" type="text/css"/>#}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Photoswipe -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">

    <!-- Phaser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.js"></script>

    <!-- Particles -->
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>#}

    <!-- TweenMax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <!-- ScrollMagic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ theme.link }}/favicon.png"/>

    {{ function('wp_head') }}

    {% include 'tracking/head.twig' %}

</head>
