{% extends "templates/base.twig" %}

{% block content %}
    <!-- Main content start -->
    <main class="animal-kingdom">
        <section class="animal-kingdom__section">
            <div class="animal-kingdom__hero">
                {# Mountains left start #}
                <div class="animal-kingdom__mountains-left">
                    <img src="{{ options.image_cdn }}/images/optimized/animal-kingdom-mountains-left.png">
                </div>
                {# Mountains left end #}

                {# Seagull start #}
                <div id="trigerel" class="animal-kingdom__seagull galeb galeb--animate cc" style="background-image: url('{{ options.image_cdn }}/images/optimized/animal-kingdom/galeb_sprite.png')"></div>
                {# Seagull end #}

                {# Cloud 1 start #}
                <div class="animal-kingdom__cloud-1">
                    <img src="{{ options.image_cdn }}/images/optimized/animal-kingdom/cloud-1.png">
                </div>
                {# Cloud 1 end #}

                {# Cloud 2 start #}
                <div class="animal-kingdom__cloud-2">
                    <img src="{{ options.image_cdn }}/images/optimized/animal-kingdom/cloud-2.png">
                </div>
                {# Cloud 2 end #}

                {# Cloud 3 start #}
                <div class="animal-kingdom__cloud-3">
                    <img src="{{ options.image_cdn }}/images/optimized/animal-kingdom/cloud-3.png">
                </div>
                {# Cloud 3 end #}

                {# Island start #}
                <div class="animal-kingdom__island">
                    <img src="{{ options.image_cdn }}/images/optimized/animal-kingdom-island.png">
                </div>
                {# Island end #}

                {# See start #}
                <div class="animal-kingdom__see" style="transform:translateY(4px);">
                    <img class="animal-kingdom__case" src="{{ options.image_cdn }}/images/optimized/zc_skrinja.png" >
                    <img src="{{ options.image_cdn }}/images/optimized/more_top.png" alt="">
                </div>
                {# See end #}

                {# Mountains right start #}
                <div class="animal-kingdom__mountains-right">
                    <img src="{{ options.image_cdn }}/images/optimized/animal-kingdom-mountains-right.png">
                </div>
                {# Mountains right end #}
            </div>


            <div class="animal-kingdom__content">

                {# Seahorse start #}
                <div id="seahorse" class="animal-kingdom__seahorse">
                    <img src="{{ options.image_cdn }}/images/optimized/animal-kingdom/konjic.png">
                </div>
                {# Seahorse end #}

                <div class="content-inner">

                    <div class="zc-logo-img">
                        <img src="{{ options.image_cdn }}/images/optimized/animal-kingdom/zc_logo.png">
                    </div>

                    {% for block in post.meta('content_flexible') %}
                        {% if block.acf_fc_layout == 'text_block' %}
                            {{ block.text }}
                        {% endif %}

                        {% if block.acf_fc_layout == 'product_slider_block' %}
                            {# Product slider start #}
                            <div class="animal-kingdom-slider animal-kingdom__slider">
                                <h3 class="animal-kingdom-slider__title">{{ block.title }}</h3>
                                <div class="swiper-container animal-kingdom-container">
                                    <div class="swiper-wrapper animal-kingdom-wrapper">
                                        {% for productSlide in block.products %}
                                        <div class="swiper-slide animal-kingdom-slide">
                                            <a class="animal-kingdom-slide__link" href="{{ productSlide.link }}">
                                                <img class="animal-kingdom-slide__image" src="{{ productSlide.thumbnail.src }}" alt="">
                                                <h2 class="animal-kingdom-slide__title">{{ productSlide.title }}</h2>
                                                <label class="animal-kingdom-slide__subtitle">15g</label>
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="animal-kingdom-slider__window" style="background-image: url({{ options.image_cdn }}/images/optimized/animal-kingdom/prozor_oltugedr.png)"></div>
                                    <div class="swiper-button-prev animal-kingdom-slider-button-prev" style="background: url({{ options.image_cdn }}/images/optimized/animal-kingdom/arrow_left.png)"></div>
                                    <div class="swiper-button-next animal-kingdom-slider-button-next" style="background: url({{ options.image_cdn }}/images/optimized/animal-kingdom/arrow_right.png)"></div>
                                </div>
                                {#<div class="animal-kingdom-slider__inner" style="background: url({{ options.image_cdn }}/images/optimized/animal-kingdom-slider-window.png) no-repeat;"></div>#}
                            </div>
                            {# Product slider end #}
                        {% endif %}

                        {% if block.acf_fc_layout == 'text_image_block' %}
                            <div class="content-inner__flex">
                                <div style="max-width: 50%">{{ block.text }}</div>
                                <div style="max-width: 50%">
                                    <img style="width: 100%" src="{{ TimberImage(block.image).src }}" alt="">
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}
                </div>
                <div class="animal-kingdom-see-floor">
                    <img class="animal-kingdom-see-floor__img" src="{{ options.image_cdn }}/images/optimized/podmorje.png" alt="">
                    <div class="animal-kingdom-see-floor__seahorse">
                        <img src="{{ options.image_cdn }}/images/optimized/podmorje_konjic.png">
                    </div>
                    {#<div class="animal-kingdom-see-floor__crab"></div>#}
                    <div class="animal-kingdom-see-floor__fish">
                        <img src="{{ options.image_cdn }}/images/optimized/podmorje_riba.png">
                    </div>
                </div>
                <canvas class="ak"></canvas>
            </div>
        </section>
    </main>
    <!-- Main content end -->
{% endblock %}

{% block scripts %}
    <script>

        $( document ).ready(function() {

            // ---------
            // Functions
            // ---------

            var canvas = document.querySelector('canvas');
            canvas.width = document.body.clientWidth;
            canvas.height = document.body.clientHeight;
            var ctx = canvas.getContext('2d');
            var count = canvas.height;
            var bubbles = [];
            var bubbleCount = 200;
            var bubbleSpeed = 1;
            var popLines = 6;
            var popDistance = 40;
            var mouseOffset = {
                x: 0,
                y: 0
            };



            // --------------
            // Animation Loop
            // --------------

            function animate() {



                // ------------
                // Clear Canvas
                // ------------

                ctx.clearRect(0, 0, canvas.width, canvas.height);



                // ------------
                // Draw Bubbles
                // ------------

                ctx.beginPath();
                for (var i = 0; i < bubbles.length; i++) {
                    // first num = distance between waves
                    // second num = wave height
                    // third num = move the center of the wave away from the edge
                    bubbles[i].position.x = Math.sin(bubbles[i].count/bubbles[i].distanceBetweenWaves) * 50 + bubbles[i].xOff;
                    bubbles[i].position.y = bubbles[i].count;
                    bubbles[i].render();

                    if(bubbles[i].count < 0 - bubbles[i].radius) {
                        bubbles[i].count = canvas.height + bubbles[i].yOff;
                    } else {
                        bubbles[i].count -= bubbleSpeed;
                    }
                }

                // ---------------
                // On Bubble Hover
                // ---------------

                for (var i = 0; i < bubbles.length; i++) {
                    if(mouseOffset.x > bubbles[i].position.x - bubbles[i].radius && mouseOffset.x < bubbles[i].position.x + bubbles[i].radius) {
                        if(mouseOffset.y > bubbles[i].position.y - bubbles[i].radius && mouseOffset.y < bubbles[i].position.y + bubbles[i].radius) {
                            for (var a = 0; a < bubbles[i].lines.length; a++) {
                                popDistance = bubbles[i].radius * 0.5;
                                bubbles[i].lines[a].popping = true;
                                bubbles[i].popping = true;
                            }
                        }
                    }
                }

                window.requestAnimationFrame(animate);
            }

            window.requestAnimationFrame(animate);



            // ------------------
            // Bubble Constructor
            // ------------------

            var createBubble = function() {
                this.position = {x: 0, y: 0};
                this.radius = 8 + Math.random() * 6;
                this.xOff = Math.random() * canvas.width - this.radius;
                this.yOff = Math.random() * canvas.height;
                this.distanceBetweenWaves = 50 + Math.random() * 40;
                this.count = canvas.height + this.yOff;
                this.color = '#8bc9ee';
                this.lines = [];
                this.popping = false;
                this.maxRotation = 85;
                this.rotation = Math.floor(Math.random() * (this.maxRotation - (this.maxRotation * -1))) + (this.maxRotation * -1);
                this.rotationDirection = 'forward';

                // Populate Lines
                for (var i = 0; i < popLines; i++)
                {
                    var tempLine = new createLine();
                    tempLine.bubble = this;
                    tempLine.index = i;

                    this.lines.push(tempLine);
                };

                this.resetPosition = function() {
                    this.position = {x: 0, y: 0};
                    this.radius = 8 + Math.random() * 6;
                    this.xOff = Math.random() * canvas.width - this.radius;
                    this.yOff = Math.random() * canvas.height;
                    this.distanceBetweenWaves = 50 + Math.random() * 40;
                    this.count = canvas.height + this.yOff;
                    this.popping = false;
                };

                // Render the circles
                this.render = function() {
                    if(this.rotationDirection === 'forward') {
                        if(this.rotation < this.maxRotation) {
                            this.rotation++;
                        } else {
                            this.rotationDirection = 'backward';
                        }
                    } else {
                        if(this.rotation > this.maxRotation * -1) {
                            this.rotation--;
                        } else {
                            this.rotationDirection = 'forward';
                        }
                    }

                    ctx.save();
                    ctx.translate(this.position.x, this.position.y);
                    ctx.rotate(this.rotation*Math.PI/180);

                    if(!this.popping) {
                        ctx.beginPath();
                        ctx.strokeStyle = '#8bc9ee';
                        ctx.lineWidth = 1;
                        ctx.arc(0, 0, this.radius - 3, 0, Math.PI*1.5, true);
                        ctx.stroke();

                        ctx.beginPath();
                        ctx.arc(0, 0, this.radius, 0, Math.PI*2, false);
                        ctx.stroke();
                    }

                    ctx.restore();

                    // Draw the lines
                    for (var a = 0; a < this.lines.length; a++) {
                        if(this.lines[a].popping) {
                            if(this.lines[a].lineLength < popDistance && !this.lines[a].inversePop) {
                                this.lines[a].popDistance += 0.06;
                            } else {
                                if(this.lines[a].popDistance >= 0) {
                                    this.lines[a].inversePop = true;
                                    this.lines[a].popDistanceReturn += 1;
                                    this.lines[a].popDistance -= 0.03;
                                } else {
                                    this.lines[a].resetValues();
                                    this.resetPosition();
                                }
                            }

                            this.lines[a].updateValues();
                            this.lines[a].render();
                        }
                    }
                }
            };



            // ----------------
            // Populate Bubbles
            // ----------------

            for (var i = 0; i < bubbleCount; i++)
            {
                var tempBubble = new createBubble();

                bubbles.push(tempBubble);
            };



            // ----------------
            // Line Constructor
            // ----------------

            function createLine() {
                this.lineLength = 0;
                this.popDistance = 0;
                this.popDistanceReturn = 0;
                this.inversePop = false; // When the lines reach full length they need to shrink into the end position
                this.popping = false;

                this.resetValues = function() {
                    this.lineLength = 0;
                    this.popDistance = 0;
                    this.popDistanceReturn = 0;
                    this.inversePop = false;
                    this.popping = false;

                    this.updateValues();
                };

                this.updateValues = function() {
                    this.x = this.bubble.position.x + (this.bubble.radius + this.popDistanceReturn) * Math.cos(2 * Math.PI * this.index / this.bubble.lines.length);
                    this.y = this.bubble.position.y + (this.bubble.radius + this.popDistanceReturn) * Math.sin(2 * Math.PI * this.index / this.bubble.lines.length);
                    this.lineLength = this.bubble.radius * this.popDistance;
                    this.endX = this.lineLength;
                    this.endY = this.lineLength;
                };

                this.render = function() {
                    this.updateValues();

                    ctx.beginPath();
                    ctx.strokeStyle = '#8bc9ee';
                    ctx.lineWidth = 2;
                    ctx.moveTo(this.x, this.y);
                    if(this.x < this.bubble.position.x) {
                        this.endX = this.lineLength * -1;
                    }
                    if(this.y < this.bubble.position.y) {
                        this.endY = this.lineLength * -1;
                    }
                    if(this.y === this.bubble.position.y) {
                        this.endY = 0;
                    }
                    if(this.x === this.bubble.position.x) {
                        this.endX = 0;
                    }
                    ctx.lineTo(this.x + this.endX, this.y + this.endY);
                    ctx.stroke();
                };
            }



            // ---------------
            // Event Listeners
            // ---------------

            canvas.addEventListener('mousemove', mouseMove);

            function mouseMove(e) {
                mouseOffset.x = e.offsetX;
                mouseOffset.y = e.offsetY;
            }

            window.addEventListener('resize', function() {
                canvas.width = document.body.clientWidth;
                canvas.height = document.body.clientHeight;
            });


            // ---------------
            // Event Listeners
            // ---------------
        });

        $(function() {
            let controller = new ScrollMagic.Controller();

            // mountains left on load animation
            let mountainsLeft = new TweenMax.to('.animal-kingdom__mountains-left', 1.5, {
                delay: 0.5,
                opacity: 1,
                bottom: '3vw'
            });

            // mountains right on load animation
            let mountainsRight = new TweenMax.to('.animal-kingdom__mountains-right', 1.5, {
                delay: 1,
                opacity: 1,
                bottom: '4vw'
            });




            //  seahorseScene
            let blockTween = new TweenMax.to('#seahorse', 1.5, {
                x: '100px'
            });

            let seahorseScene = new ScrollMagic.Scene({
                triggerElement: '#seahorse',
                offset: -200,
                reverse: true
            })

                .setTween(blockTween)


            controller.addScene([
                seahorseScene
            ]);


            // ---------------
            // Seahorse animation
            // ---------------
            let floorSeahorse = new TweenMax.to('.animal-kingdom-see-floor__seahorse', 3, {
                ease: Elastic.easeOut.config(2, 2),
                x: '300px'
            });
            let floorSeahorseScene = new ScrollMagic.Scene({
                triggerElement: '.animal-kingdom-see-floor__seahorse',
                offset: -300,
                reverse: true
            })
            .setTween(floorSeahorse)


            // ---------------
            // Fish animation
            // ---------------
            let floorFish = new TweenMax.to('.animal-kingdom-see-floor__fish', 1.5, {
                ease: Elastic.easeOut.config(1, 1),
                x: '-250px',
                y: '50px'
            });
            // let floorFish = new TweenLite.to('.animal-kingdom-see-floor__fish', 2.5, { ease: RoughEase.ease.config({ template:  Power0.easeNone, strength: 1, points: 20, taper: "none", randomize:  true, clamp: false}), y: -500 });
            let floorSeahorseFish = new ScrollMagic.Scene({
                triggerElement: '.animal-kingdom-slide__title',
                reverse: true
            })
            .setTween(floorFish)


            controller.addScene([
                seahorseScene,
                floorSeahorseScene,
                floorSeahorseFish
            ]);

        });





        // $("body").niceScroll({
        //     scrollspeed: 100,
        // });

        let cloud = TweenMax.fromTo(".animal-kingdom__cloud-3", 300 ,
            {
                x: '-80vw',
                opacity: 1
            },
            {
                x: '100vw',
                ease:Linear.easeNone,
                repeat: -1,
        }, 0);

        let cloudTwo = TweenMax.fromTo(".animal-kingdom__cloud-2", 150 ,
            {
                x: '0',
                opacity: 1
            },
            {
                x: '100vw',
                ease:Linear.easeNone,
                repeat: -1,
        }, 0);

        let cloudThree = TweenMax.fromTo(".animal-kingdom__cloud-1", 600 ,
            {
                x: '0',
                opacity: 1
            },
            {
                x: '-100vw',
                ease:Linear.easeNone,
                repeat: -1,
            }, 0);

        //let cloudTwo = TweenMax.fromTo(".animal-kingdom__cloud-2", 150 , {x: '0'}, {x: '100vw', ease:Linear.easeNone, repeat:-1}, 0);


        let productsSlider = new Swiper ('.swiper-container', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            effect: 'fade',
            fadeEffect: {
                crossFade: true
            },

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });
    </script>
{% endblock %}