{% extends "templates/base.twig" %}

{% block content %}
    <!-- Main content start -->
    <main class="tm-timeline">

        <div class="timeline-behind-text">

            <img class="cloud-1" src="{{ options.image_cdn }}/images/optimized/timemachin/cloud.png">
            <img class="cloud-2" src="{{ options.image_cdn }}/images/optimized/timemachin/cloud.png">
            <div data-0="left: 0vw" data-6000="left: -10vw" class="planine-1" style="background-image: url({{ options.image_cdn }}/images/optimized/timemachine-planine01.png);"></div>
            <div data-0="left: 0vw" data-6000="left: -20vw" class="planine-2" style="background-image: url({{ options.image_cdn }}/images/optimized/timemachine-planine02.png);"></div>
            <div data-0="left: 0vw" data-6000="left: -30vw" class="planine-3" style="background-image: url({{ options.image_cdn }}/images/optimized/timemachine-planine03.png);"></div>
            <img data-0="left: 5vw" data-6000="left: -35vw" class="stone-3" src="{{ options.image_cdn }}/images/optimized/timemachin/small-mountain.png" />

        </div>

        <div class="timeline-text-sections">

            {% for key, block in post.meta('timemachine_blocks') %}


                {% if block.acf_fc_layout == 'section' %}
                    <section 
                        id="t-{{ block.title }}" 
                        {% if block.initial_position %} data-{{ ((key - 1) * 1000) }}="{{block.initial_position}}"{% endif %}
                        {% if block.central_position %} data-{{ key * 1000 }}="{{block.central_position}}"{% endif %}
                        {% if block.out_position %} data-{{ ((key + 1) * 1000) }}="{{block.out_position}}"{% endif %}
                    >
                        <div>
                            <h3>{{ block.title }}</h3>
                            <p>{{ block.bodytext }}</p>
                            <img src="{{ TimberImage(block.image_path).src }}" alt="{{ block.title }}">
                        </div>
                    </section>
                {% endif %}


            {% endfor %}

        </div>

        <div class="timeline-infront-text">
            <img data-4000="left: 150vw" data-7000="left: 80vw" class="bush" src="{{ options.image_cdn }}/images/optimized/timemachin/bush.png" />
            <div data-0="left: 0vw" data-6000="left: -300vw" class="tlo" style="background-image: url({{ options.image_cdn }}/images/optimized/timemachine-tlo.png);"></div>
            <img data-0="left: 70vw" data-3000="left: -120vw" class="tree-1" src="{{ options.image_cdn }}/images/optimized/timemachin/tree-one.png" />
            <img data-1500="left: 120vw" data-5000="left: -120vw" class="tree-2" src="{{ options.image_cdn }}/images/optimized/timemachin/tree-two.png" />
            <img data-4000="left: 120vw" data-7000="left: 20vw" class="tree-3" src="{{ options.image_cdn }}/images/optimized/timemachin/tree-three.png" />
            <img data-2500="left: 120vw" data-5000="left: -120vw" class="stone-1" src="{{ options.image_cdn }}/images/optimized/timemachin/stone-one.png" />
            <img data-3500="left: 120vw" data-6000="left: -120vw" class="stone-2" src="{{ options.image_cdn }}/images/optimized/timemachin/stone-two.png" />
            <img data-2500="left: 150vw" data-5000="left: -90vw" class="stone-4" src="{{ options.image_cdn }}/images/optimized/timemachin/stone-three.png" />
            <div class="panda" style="background-image: url('{{ options.image_cdn }}/images/panda_sprite.png');"></div>
        </div>
        
        <nav class="timeline-anchor-nav" role="navigation">


        {% for key, block in post.meta('timemachine_blocks') %}
            {% if block.acf_fc_layout == 'section' %}
                <a href="#t-{{ block.title }}" data-menu-top="{{ key * 1000 }}">{{ block.title }}</a>
            {% endif %}
        {% endfor %}

        </nav>

    </main>
        
    <!-- Main content end -->
{% endblock %}

{% block scripts %}

    <script src="//cdn.jsdelivr.net/combine/npm/skrollr@0.6.26,npm/skrollr-menu@1.0.3,npm/scroll-depth@1.0.0"></script>

    <script>

        function zaustavihodanje(){
            $('.panda').removeClass('hoda');
        }

        function postavilink(which){
            $('.timeline-anchor-nav a').removeClass('active').eq(which).addClass('active');
        }

        $(document).ready(function(){

            var timeout;

            var s = skrollr.init({
                beforerender: function(d){
                   clearTimeout(timeout);
                   $('.panda').addClass('hoda');
                   if(d.direction == 'up') $('.panda').addClass('flip');
                   else $('.panda').removeClass('flip');
                   timeout = setTimeout(zaustavihodanje, 100);
                   selectedSection = Math.round(d.curTop/1000);
                   postavilink(selectedSection);
                }
            });
            skrollr.menu.init(s, {
                animate: true,
                easing: 'sqrt',
                duration: 800
            });
        });

    </script>

{% endblock %}