{% extends "templates/base.twig" %}

{% block content %}
    <main class="games">
        <section class="games__wrapper" style="background-image: url({{ options.image_cdn }}/images/optimized/jungle-page-background.jpg?v=2);">
            <div class="games__zirafa zirafa" style="background-image: url('{{ options.image_cdn }}/images/optimized/zirafa_sprite.png');">
                {% if post.meta('games_messages_repeater') %}
                    <div class="speech-bubble-wrapper">
                        <div class="speech-bubble">
                            <div class="speech-bubble__top"></div>
                            <div class="speech-bubble__mid">
                                <p class="speech-bubble__title"></p>
                                <p class="speech-bubble__subtitle"></p>
                            </div>
                            <div class="speech-bubble__bottom"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="games__slider" style="background-image: url({{ options.image_cdn }}/images/optimized/games-board.png);">
                <div class="swiper-container games-slider-container">
                    <div class="swiper-wrapper games-slider-wrapper">
                        {% for key, game in post.meta('repeater_games') %}
                        <div class="swiper-slide game-slide">
                            <a class="game-slide__link" href="{{ game.game_link }}">
                                <h2 class="game-slide__title">{{ game.game_title }}</h2>
                                <label class="game-slide__subtitle">{{ game.game_subtitle }}</label>
                                <span class="game-slide__play" style="background-image: url({{ options.image_cdn }}/images/optimized/buttons/button-play.svg);"></span>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev games-slider-button-prev"></div>
                    <div class="swiper-button-next games-slider-button-next"></div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script>


        $( document ).ready(function() {
            let zirafaMessage = [
                {% if post.meta('games_messages_repeater') %}
                {% for message in post.meta('games_messages_repeater') %}
                {
                    title: '{{ message.title }}',
                    subtitle: '{{ message.subtitle }}'
                },
                {% endfor %}
                {% endif %}
            ];

            let randMessage = zirafaMessage[(Math.random() * zirafaMessage.length) | 0];

            $('.speech-bubble__title').text(randMessage.title);
            $('.speech-bubble__subtitle').text(randMessage.subtitle);
        });


        let gameSlider = new Swiper ('.swiper-container', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            effect: 'fade',
            fadeEffect: {
                crossFade: true
            },

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });
    </script>
{% endblock %}